[2019-03-06 19:50] #193 closed

[2019-03-06 20:06] #64 closed

[2019-03-06 20:43] joe9599 commented on #105
Just noticed that the links above are 127*127*127, is that Ok, or are they required to be 130*130*130?

[2019-03-06 20:45] RealOrangeOne commented on #105
The rules state:

So `127mm` is still fine.

[2019-03-06 20:46] PeterJCLaw commented on #105
There's a tolerance on the size of the cubes for this purpose, though also because cardboard boxes are usually specified via the _internal_ dimensions:

I _strongly_ suspect that any boxes we get will actually be 5" sized, meaning 127mm (internal) walls, with the overall outer being about 130mm.

[2019-03-06 20:56] PeterJCLaw commented on #61
Once I realised that it wasn't working for me because I wasn't in a college (and worked out how to see that error message), it turns out that the media consent side of this is already working.
I'd not anticipated that volunteers can't use this mechanism, but I think that's a limitation we can cope with.

I've not checked ticket generation yet, will do that now.

[2019-03-06 20:59] joe9599 commented on #105
![image](https://user-images.githubusercontent.com/15144435/53913039-40ca3380-4052-11e9-87be-481695133fe3.png)
Here is a table of possible suppliers, It looks like Kite Packaging are the cheapest, however Boxed up is free next day delivery and would give us a lot of spares

[cardboard box suppliers.xlsx](https://github.com/srobo/tasks/files/2938259/cardboard.box.suppliers.xlsx)

[2019-03-06 21:04] PeterJCLaw commented on #61
Hrm, the tickets side doesn't seem to work quite right for me locally (even as a competitor account).

[2019-03-06 21:06] PeterJCLaw commented on #105
@joe9599 awesome :). Do you have a link to the actual product on Kite Packaging? (the one in the spreadsheet seems to go to the checkout page)

[2019-03-06 21:09] PeterJCLaw commented on #61
Ah, the tickets stuff contains the dates hard-coded:
[code]
https://www.studentrobotics.org/cgit/ticket-access.git/tree/get-ticket.php#n12

We should probably fix that.

[2019-03-06 21:11] joe9599 commented on #105
sorry, here is the correct link https://www.kitepackaging.co.uk/scp/boxes/standard-cardboard-boxes/?sfpartno=CSW050505&gclid=CjwKCAiA_P3jBRAqEiwAZyWWaJXsvPBAYzUGkmwbNVgtkjiLwQSZmLzaENOQjEcRQfJ_Uv_bBzapmBoCzcoQAvD_BwE

[2019-03-06 21:18] PeterJCLaw commented on #61
Ok, looks like the tickets system needs a slight tweak to work on PHP 7 (where `$HTTP_RAW_POST_DATA` doesn't exist.

[2019-03-06 21:25] PeterJCLaw commented on #61
I've also just realised that it doesn't get the proper URL baked into it, which means that it'll always end up querying the live data, which would make local testing rather hard. We _sooo_ need to rework this system (after this competition, when we have more time).

[2019-03-06 21:25] TomWheal commented on #105
Might be useful to have these for the tech day on Saturday if possible.

________________________________
From: joe9599 <notifications@github.com>
Sent: Wednesday, March 6, 2019 9:11 pm
To: srobo/tasks
Cc: Subscribed
Subject: Re: [srobo/tasks] Identify Prop Construction (#105)

sorry, here is the correct link https://www.kitepackaging.co.uk/scp/boxes/standard-cardboard-boxes/?sfpartno=CSW050505&gc

[2019-03-06 21:36] PeterJCLaw commented on #61
The next error is that the TLS cert is invalid, which of course it isn't (as I'm on a dev box). Solving that shows another HTTP 500 coming from `horrendous.php`.
I'm calling it a night for now, but here's the patches I've applied to get this far:

[code]

[2019-03-06 23:32] PeterJCLaw commented on #69
Definitely, this is pretty essential for ensuring smooth running.

Hrm, I'd not thought about this. For things outside the arena we certainly _could_ do this, though it would be nicer to keep it all local.
I doubt however that we would lose internet but still have local (Uni) networking (more likely it's all or nothing).

I think there's bit of confusion here. I'm not aware that we've ever run a V

[2019-03-06 23:34] PeterJCLaw commented on #69
Why are we doing this? Usually they're sat on the same desk which has the compbox on it.

[2019-03-07 07:15] RealOrangeOne commented on #69
We trialed this at Smallpeice 2018 and it worked well. With scoring on the cube floor, the scoring sheets can get to the scorer much faster, and it clears some space on the balcony desk, which is probably a good thing.

[2019-03-07 11:44] trickeydan commented on #69
We trialed this at Smallpeice 2018. It resulted in less logistics of having to get the sheets upstairs, and faster uploading of the scores.

If there is a _significant_ advantage to the scoring being on the balcony, I'd be interested to hear it.

[2019-03-07 11:47] trickeydan commented on #69
I believe that this was an IPSec setup, i.e a VPN.

A local (non-external) VPN solution also works here and I think a solution such as Wireguard is significantly easier to configure than routing. Especially given the restrictions of the iSol network.

[2019-03-07 11:58] trickeydan commented on #61
I'd like to volunteer to help with this. I have some ideas about phasing out LDAP for next year also. It's based off some work that I did for SUSU last year (albeit never deployed by them :( ). Happy to discuss whenever, but I suggest when we have more time and less other things to do.

[2019-03-07 12:20] trickeydan commented on #93
The pipe is 15mm white PVC.

[2019-03-07 12:23] trickeydan commented on #16
Meta: If we do end up using `j5` and the associated OS, it will support both zipped and unzipped code.

[2019-03-07 19:11] RealOrangeOne commented on #61
Discussion for future iterations of the media-consent forms and related process should happen on https://github.com/srobo/tasks/issues/60

[2019-03-07 21:38] RealOrangeOne commented on #187
The trustees have approved the changes, with the amendment that the age be lowered to 16, which matches research.

This also reduces the chance of needing to handle someone who hasn't given media consent, which is great!

[2019-03-07 22:44] trickeydan commented on #69
We have had a volunteer and his IT company offer to provide equipment and setup the entire network.

If we wish to do this with him, we need to get a spec of all of the ports and their locations by __tomorrow evening__. He would like a specification so that he knows what he needs before setup.

[2019-03-07 22:47] Adimote commented on #151
I did some rough calculations here https://docs.google.com/spreadsheets/d/1gFOVRFBejGHhtfM0uikfE2hYoQhh1pAgKRZJWfmdbbU/edit?usp=sharing (Shared only with @studentrobotics org because it has personally identifiable information, please request if you also want access)

Early numbers for hotel costs is best case £1,055 which is £55 over budget, that's assuming everyone shares double rooms with the op

[2019-03-07 22:49] PeterJCLaw commented on #69
Interesting. We'd definitely found in the past that the score-entry and judging desks needed to be somewhere that was isolated from competitors and somewhat isolated form noise. If we can achieve that somewhere closer to the arena, then all's well.

Note that of course if they're near the arena then they're well in range to just take a network cable direct, via the arena structure. (which leaves m

[2019-03-07 22:55] PeterJCLaw commented on #69
I'm going to brain-dump some notes about the SRComp aspect of this, but into the description so they're easy to find.

[2019-03-07 23:17] PeterJCLaw commented on #69
Who's router thingys did we borrow in the past? I'd be up for just going with that solution again as we know it works. Particularly if we can get a few more of those boxes and connect everything that way.

It also occurred to me that in theory we ought to be able to apply the config we applied to those directly to the Pis and avoid needing the middle boxes (though I'm less sure about that)

[2019-03-08 10:17] Tyler-Ward commented on #164
How many crimp tools will we need, they are £30 each. i believe @prophile said he already has one.

[2019-03-08 12:38] trickeydan commented on #164
@prophile did say that he had one. I suggest we order one more as well.

[2019-03-08 12:40] trickeydan commented on #69
They belonged to SOWN.

I would suggest going with the Volunteer who has offered to do it all. He has knowledge of undocumented cat5 that was put in place for previous competitions and doesn't intend to do _any_ routing nonsense.

[2019-03-08 14:26] WillB97 commented on #69
Is this cabling installed in SUSU or additional cable to be run during the setup.

[2019-03-08 14:28] trickeydan commented on #69
Installed in SUSU. Apparently by himself some years ago but is not known about by many. e.g apparently there is a run from Tech Deck to Cafe.

[2019-03-08 14:42] WillB97 commented on #69
Last year SUSU upgraded their network audio and a large amount of the networking was rerun so it would be worth checking this still exists.

[2019-03-08 15:32] Tyler-Ward commented on #91
For information the pull request is now at https://github.com/srobo/promotional-material/pull/6.

[2019-03-08 15:51] Tyler-Ward commented on #123
@PeterJCLaw what do we need to wort out where teams are as I think this is the longest blocking chain once the team layout is done as this blocks on competitor maps.

[2019-03-08 16:57] #65 closed

[2019-03-08 17:01] Tyler-Ward commented on #67
https://docs.google.com/document/d/1ttxDknpWHnQCxbrbfjZkgUrBXSjPGfyfhm9rP6jUM_s/edit#heading=h.azfybopb5e70 for the list of things we are requesting, will be sent off early next week

[2019-03-08 17:02] Tyler-Ward commented on #141
These need to be for 6ft tables as these are more common.

[2019-03-08 17:06] Tyler-Ward commented on #72
Fixed in https://github.com/srobo/comp-floorplans/pull/3

[2019-03-08 17:06] #72 closed

[2019-03-08 17:14] Tyler-Ward commented on #99
final list based on merged in floorplans

* Reception 2* computers, 2* monitors
* COMP screens
    * Arena screens 5* pis, 5* montors
    * Team score displays 5*pis, 2*SUSU TVs 1*monitor 2*fixed displays
    * Cube score display 1*pi 1*SUSU TVs
    * volunteer area 1*pi, 1*screen (could also use projector in the room)
    * tech desk preview 1*pi, 1* screen
    * sheparding 2*pi 2*montors
    * c

[2019-03-08 17:14] #99 closed

[2019-03-08 17:17] Tyler-Ward commented on #100
@mildlyincompetent @trickeydan can we use the SRO laptops for reception and score entry?

[2019-03-08 17:18] Tyler-Ward commented on #198
Drape for the backdrop has been added to the SUSU kit list

[2019-03-08 17:25] Tyler-Ward opened #199 "End match score capture camera"
Create a pi +pi cam that takes a photo at the end of a match to have a scoring reference.

[2019-03-08 17:25] WillB97 commented on #92
Blocked on #123

[2019-03-08 17:28] WillB97 commented on #87
Probably also blocked on #123

[2019-03-08 17:28] Tyler-Ward commented on #95
We need a quote for this and can then get this booked. can someone take this on.

[2019-03-08 17:37] Tyler-Ward commented on #87
Current thoughts for layout

- [ ] Cover: some nice graphics.
- [ ] Inside front cover: message from the core team/trustees
- [ ] P1: The game
- [ ] P2: The Teams
- [ ] P3: Venue map
- [ ] P4: Schedule
- [ ] P5: Internet access/similar notes. (could have place for a username/password sticker here)
- [ ] P6: Food map
- [ ] P7: Social media
- [ ] P8: Get involved/Volunteer recruitment
- [ ] inside r

[2019-03-08 17:40] Tyler-Ward commented on #141
On the map we have 4 reception tables 2 helpdesk tables plus optionally the photo studio and score entry.

getting 6 would cost just over £400 which is affordable does this sound ok or do people think we should get ones for the other locations as well.

[2019-03-08 17:45] Tyler-Ward commented on #138
Based on some comments here is a version without the orange, what are peoples thoughts?
![location](https://user-images.githubusercontent.com/3390465/54045592-f1a70e80-41c9-11e9-85b0-3d076be43d31.png)

[2019-03-08 18:01] Tyler-Ward commented on #151
Thanks for looks at this @Adimote that level of overspend should be fine. I the plan to order the rooms now or to check with volunteers first

[2019-03-08 18:09] Tyler-Ward commented on #157
My current rough thoughts for this for people to provide opinions on.

In the volunteer area we provide:
* Soft drinks/fruit juice.
* Tea/coffee (with milk+shugar ect)
* light snacks e.g. biscuits, snack boxes, fruit ect.
* will also need cups and napkins.

based on this we also have budget to provide some food around lunch or some evening food (will need checking regards to budget). what are peop

[2019-03-08 18:13] Tyler-Ward commented on #194
Now i can start approving budget this is mostly just needs for us to work out which prizes come with edible components and how many to provide, then we can price up some mixed chocolate boxes from the supermarket

[2019-03-08 18:14] Tyler-Ward commented on #189
This needs to be booked soon otherwise we wont get it.

[2019-03-08 18:34] Tyler-Ward commented on #173
Murray still believes he has a webcam

[2019-03-08 19:20] Tyler-Ward commented on #69
This is a list of what we need in different parts of the building
https://hackmd.io/rLCNPLVwRq2ibOe3-VZpBQ

[2019-03-08 19:47] Tyler-Ward commented on #165
just noticed that there is a separate ticket for this in #164 we have been working out how many crimp tools we need, given there are two receptions then getting 2 seems sensible.
https://www.idcband.com/crimper/

[2019-03-08 21:05] RealOrangeOne commented on #150
We just need to take a list of anyone who entered `3`/`4` on the _"I know the Student Robotics kits"_ question when signing up to the event, and substitute those in perma-assigned roles. Most of those who entered 5 are likely to be very busy during the event!

Scores:
1. 5 people
2. 7 people
3. 6 people
4. 10 people
5. 5 people

We should aim to do volunteer scheduling such that at least 1 person

[2019-03-08 21:28] PeterJCLaw commented on #92
Why is this blocked? The maps themselves shouldn't care which teams is actually where.

[2019-03-08 21:41] Tyler-Ward commented on #92
These maps are for teams to find their pits and other locations in the venue so we need to know who is where.

[2019-03-08 21:42] Tyler-Ward commented on #123
@RealOrangeOne Have you contacted teams to see if any have students with mobility issues in them.

[2019-03-08 21:53] PeterJCLaw commented on #92
I'm aware of that, however rather like road names, the _design_ of the maps is independent of the text which happens to fill the slots.
For clarity: my expectation here is that the original files will include placeholders such as `TLA1`, `TLA2` etc. and then be templated with the actual team identities once we have a more concrete idea of which teams are actually coming and have sorted out the lea

[2019-03-08 22:05] PeterJCLaw commented on #64
While I appreciate the premise here, I strongly disagree with the conclusion. The location of battery charging _must_ adequately take into account the safety concerns. I'd very much rather have considerable distance between battery charging and members of the public than a the couple of feet and a sign (which _will_ be ignored). We ran battery charging (a few meters) behind the HelpDesk at Newbury

[2019-03-08 22:21] PeterJCLaw commented on #87
Thanks for getting us started here @Tyler-Ward.

I'm not sure what size you're thinking to print this on, though I'd be quite surprised if we needed a whole page for each of these?

This might need more than a single page, particularly if we want it to be at any useful scale.
A related question: do we want to have copies of this available for visitors? If so, maybe leave this out of the booklet sp

[2019-03-08 22:28] RealOrangeOne commented on #123
I plan to contact teams as part of https://github.com/srobo/core-team-minutes/issues/89, which I intend to send out Monday. I'll be sure to add a requirement on the mobility issue as son as possible.

[2019-03-08 22:32] PeterJCLaw commented on #123
Copied from https://github.com/srobo/tasks/issues/92#issuecomment-471088773:

My expectation here is that the original files will include placeholders such as TLA1, TLA2 etc. and then be templated with the actual team identities once we have a more concrete idea of which teams are actually coming and have sorted out the league schedule (#103).
This is what we've done in the past in order to ensure

[2019-03-08 22:36] PeterJCLaw commented on #99
@Tyler-Ward thanks for driving this forwards, I appreciate the push to keep this moving. I am concerned however that we appear to be planning a considerable number of computers & displays for which the use is not clear and when the people who might use those screens to not appear to have been consulted (or in some cases even appointed yet). I've found in the past that this leads to considerable wa

[2019-03-09 10:16] prophile commented on #183
There’s printing paper here

[2019-03-09 10:26] prophile commented on #183
There are two hole punches and a printer power supply, and a tape measure, and pens in the FQ34

[2019-03-09 10:28] prophile commented on #183
“That is a LOT of cable ties.” -Peter Law, 2019, on 1QJ2Q

[2019-03-09 10:29] prophile commented on #183
Competition mode sticks MIA

[2019-03-09 10:31] prophile commented on #183
Printer is in its box with a power supply.

[2019-03-09 10:34] prophile commented on #183
Need to source a box file.

[2019-03-09 10:34] prophile commented on #113
We need a box file but nothing else.

[2019-03-09 10:35] Tyler-Ward commented on #183
We have a printer, Is this SR's or one we borrowed and forgot to return? Also can we get the make/model and ink status of it.

[2019-03-09 10:37] prophile commented on #183
It will need more ink. It’s an HP DeskJet 2130. It takes HP Original Ink
302 in standard CMYK

On Sat, 9 Mar 2019 at 10:35, Tyler Ward <notifications@github.com> wrote:

[2019-03-09 10:46] antoinepetty commented on #160
Closing this. Further updates will be related to #94

[2019-03-09 10:46] #160 closed

[2019-03-09 11:18] sedders123 commented on #154
Below is the current count of volunteers who have responded about attending the meal. At this point we are not expecting volunteer sign up numbers to change drastically.

Attending the meal | Number
-- | --
Yes | 22
No | 1
Maybe | 10

[2019-03-09 11:39] Tyler-Ward commented on #192
These have been ordered

[2019-03-09 11:39] #192 closed

[2019-03-09 11:52] RealOrangeOne commented on #91
This has now been merged.

[2019-03-09 11:52] #91 closed

[2019-03-09 12:17] TomWheal commented on #85
Following the Discussion at the techday day, here is the latest iteration of t-shirt/Polo. It has also been discussed ordering both Tees and Polos.

![ShirtMockupBack1](https://user-images.githubusercontent.com/7452669/54071520-4ea3d280-4265-11e9-890a-dc3bf6df6b5b.png)
![ShirtMockupFront](https://user-images.githubusercontent.com/7452669/54071521-506d9600-4265-11e9-8cb7-60889e4bba9d.png)

[2019-03-09 12:29] trickeydan commented on #69
We need to send this off by the end of the day.

[2019-03-09 12:33] TomWheal commented on #85
And another Update.

![ShirtMockupBack1](https://user-images.githubusercontent.com/7452669/54071656-7300ae80-4267-11e9-9b76-d5026a559425.png)

[2019-03-09 12:37] mltnhm commented on #157
From having a run through of Sainsbury's website:

| **Product** | **Price** |
| --- | --- |
| [McVitie's Digestive Biscuits 400g](https://www.sainsburys.co.uk/shop/gb/groceries/mcvities-digestive-biscuits-500g) | £1.00 |
| [McVitie's Milk Chocolate Digestives Biscuits 266g](https://www.sainsburys.co.uk/shop/gb/groceries/mcvities-milk-chocolate-digestives-biscuits-332g) | £1.00 |
| [Walkers Classi

[2019-03-09 13:10] trickeydan commented on #157
Given the volatility of the price of certain items in Sainsbury's, I would recommend that we buy whatever variety of item is on offer.

[2019-03-09 13:33] jcwilliamson commented on #79
[Restaurants.txt](https://github.com/srobo/tasks/files/2948413/Restaurants.txt)

This is a somewhat comprehensive list of a lot of the restaurants in town, categorized by the location and then type of food.

[2019-03-09 13:57] TomWheal commented on #85
This Can be Closed

[2019-03-09 14:14] TomWheal commented on #83
Spoken to @antonnikitin97, as I've got all the style stuff ill be doing this instead.

[2019-03-09 15:04] mltnhm commented on #164
This has been done by @nathanp99

[2019-03-09 15:11] kierdavis commented on #157
Have we surveyed the dietary requirements of our volunteers? Do we need to provide alternatives that are (for example) lactose-free, gluten-free, vegan and/or low calorie?

[2019-03-09 15:11] mltnhm commented on #85
People ok with that? @Tyler-Ward @RealOrangeOne @PeterJCLaw

[2019-03-09 15:12] Tyler-Ward opened #200 "Await delivery of items"
This ticket is a list of things that are awaiting delivery to ensure we get what we ordered, This is separate from the budget tracking as this info wants to be more open than the budget.

### To SUSU
- [x] Buisness cards
- [x] Tokens
- [x] Tablecloths
- [x] Trophies
- [x] Barcode scanners
- [x] Chairs and tables (on setup day)
- [x] Radios (on setup day)
- [x] Paper Cups
- [x] Plastic Cups
- [x] T

[2019-03-09 15:14] kierdavis commented on #200
This issue feels like it will get out of date very easily. Is this not better tracked on the corresponding issues for ordering each item? Perhaps we could label the issues as "awaiting delivery" or tag this issue in a comment in order to collate them.

[2019-03-09 15:40] prophile commented on #73
Now updated.

[2019-03-09 15:46] prophile commented on #102
Right:

I propose that for 32 teams we run with the straight round of 32 as generated by the automatic srcomp scheduler.

For the 36 team case I propose the following, 21-match structure:

* Round 1: the Elimination round. Involves the bottom 24 seeds from the league. 6 matches of 4 robots each, of which the top 2 advance. This eliminates 12 and carries forward 12.
* Round 2: the Heats. Involves t

[2019-03-09 15:51] Tyler-Ward commented on #165
Ordered with the wristbands

[2019-03-09 15:51] #165 closed

[2019-03-09 15:59] Tyler-Ward commented on #164
We order the wrong amount as the ticket description was updated with the wrong number, this needs to be fixed with the supplier.

[2019-03-09 16:26] mltnhm commented on #157
I did think about that as I'm lactose intolerant myself but I don't really know what to do about that.

[2019-03-09 16:38] Tyler-Ward commented on #157
Based on some quick sums the suggestion is to have some refreshments in the volunteer area and to provide lunch for volunteers on both days if we can keep the cost to a reasonable level. Hoffers have been suggested as a suitable supplier. Is someone able to head there and enquire about prices.

Shopping list for volunteer area refreshments.
- [ ] Box of tea bags
- [ ] 2 Jars of instant coffee
- [

[2019-03-09 16:55] antoinepetty opened #201 "Invite Prospective Sponsors"
An extension of #127 regarding inviting prospective sponsors to the competition. (In addition to our existing sponsors)

[2019-03-09 16:56] antoinepetty commented on #127
Have contacted Motorola & Joyce inviting them to the competition.

[2019-03-09 16:56] #127 closed

[2019-03-09 16:59] antoinepetty commented on #126
Have contacted a few local news organisations. Not expecting too much based on the lack of publicity on our previous competition cycles.
Closing this issue but will update in Slack if we get any responses.

[2019-03-09 17:01] Tyler-Ward commented on #127
Are we inviting them to present any prizes/do anything at the end.

[2019-03-09 17:03] Tyler-Ward opened #202 "Get uni prospectuses/swag for giving out at the competition."
we should get some ECS prospectuses for any interested competitors at the competition.

[2019-03-09 17:17] PeterJCLaw commented on #109
[score-sheet-2019.pdf](https://github.com/srobo/tasks/files/2948643/score-sheet-2019.pdf)

[2019-03-09 17:22] antoinepetty commented on #127
Ah I hadn't even considered that. At the moment, I have just invited them to attend. When they respond I'll propose that idea in Slack and reply accordingly.

[2019-03-09 17:24] Tyler-Ward commented on #194
We have 8 prizes each will want two tall chocolate containers. these come to around £3 each this comes at £50 ish.

[2019-03-09 17:56] Adimote commented on #82
I've added a sheet which calculates the number of needed t-shirts (plus a buffer)
https://docs.google.com/spreadsheets/d/1z2mtfowI8tyXXr3AA3D6wxDkwznLBI8KkxGiX24zCEI/edit?usp=sharing

[2019-03-09 18:08] PeterJCLaw commented on #109
I'm happy with that last sheet, so I'm calling this done.

[2019-03-09 18:08] #109 closed

[2019-03-09 18:49] Tyler-Ward commented on #191
Tested and functioning missing screws replaced

[2019-03-09 18:49] #191 closed

[2019-03-09 19:08] Tyler-Ward commented on #82
The buffer has been increased so the total is 50 t-shirts . For purchasing I expect that the cost will be around £300 so if it is less than £320 go ahead an place it. @TomWheal

[2019-03-09 19:19] sedders123 commented on #81
Roles needed around shepherding and in/around the arena
- 1 X Head Shepherd
- 2 X Marshalls
- 2 X Badgers (shepherds)
- 4 X team Shepherd
- 1 X roving shepherd
- 2 X score entry

[2019-03-09 19:23] sedders123 commented on #114
Made good progress on this today. Updated #81 with volunteer roles required. Will hopefully be finalising first draft of a plan this weekend

[2019-03-09 19:24] RealOrangeOne commented on #189
Jack Williamson will handle this

[2019-03-09 19:27] Adimote commented on #186
We need approval from trustees because it crosses SR years

[2019-03-09 19:28] #183 closed

[2019-03-09 19:29] PeterJCLaw commented on #187
Remaining tasks:
- [ ] put the details of how to do this on the website
- [ ] put a copy of of the form on the website
- [ ] email the teams about the process

[2019-03-09 19:29] Adimote commented on #182
We probably have 2 car loads worth of things. We definitely need a van for the return trip though

[2019-03-09 19:29] #176 closed

[2019-03-09 19:30] RealOrangeOne commented on #161
We now have a schedule.

[2019-03-09 19:30] PeterJCLaw commented on #162
Blocked on knowing who's doing the feed.

[2019-03-09 19:32] Adimote commented on #155
We have badge holders in the container. (We need the card to print on it)

[2019-03-09 19:32] PeterJCLaw commented on #155
There's a box of badge holders in the container. Not sure how many, but _many_.
Doesn't include the card to print on.

[2019-03-09 19:34] Adimote commented on #144
Peter has returned team kits

[2019-03-09 19:34] #144 closed

[2019-03-09 19:35] Adimote commented on #142
Blocked on SUSU Meeting

[2019-03-09 19:36] PeterJCLaw commented on #139
There are a _large_ number of high-vis jackets in the container.

[2019-03-09 19:36] RealOrangeOne commented on #137
This is now scarzy.

[2019-03-09 19:36] #137 closed

[2019-03-09 19:36] Adimote commented on #139
Scarzy is doing this, please assign him once he accepted the invite.

[2019-03-09 19:37] Adimote commented on #140
Scarzy is doing this, please assign him once he accepted the invite.

[2019-03-09 19:38] PeterJCLaw commented on #131
We're not doing certificates.

[2019-03-09 19:39] #86 closed

[2019-03-09 19:39] #131 closed

[2019-03-09 19:39] Adimote commented on #125
Scarzy is doing this, please assign him once he's accepted the invite!

[2019-03-09 19:40] Adimote commented on #123
This is blocked on getting the disability info from teams

[2019-03-09 19:41] Adimote commented on #121
We need a printout of exactly how to perform the charging process

[2019-03-09 19:42] Adimote commented on #113
Maybe available in Zepler reception

[2019-03-09 19:44] Adimote commented on #107
We need budget approval for the tokens

[2019-03-09 19:44] PeterJCLaw opened #203 "Purchase tokens"
https://github.com/srobo/tasks/issues/105#issuecomment-470274310 notes suppliers.

[2019-03-09 19:48] Adimote commented on #95
Assigning to Alistair to verify, then we need to find someone to do it. (I'm happy to do it)

[2019-03-09 19:49] Adimote commented on #89
Antoine is assigned as it's a media thing, feel free to reassign

[2019-03-09 19:49] PeterJCLaw commented on #89
@antoinepetty would you be able to take this?

[2019-03-09 19:50] Adimote commented on #85
LGTM!

[2019-03-09 19:53] Adimote commented on #75
Will be concluded in the SUSU meeting.

[2019-03-09 19:53] Adimote commented on #74
Will be concluded in the SUSU meeting.

[2019-03-09 19:55] Adimote commented on #66
Scarzy is doing this too, please add him once he's invited.

[2019-03-09 19:56] Adimote commented on #53
we've left this a bit too late now sadly.

[2019-03-09 19:56] #53 closed

[2019-03-09 19:56] Adimote commented on #88
I can get the source for trophies from trello

[2019-03-09 19:57] PeterJCLaw commented on #98
Should have been part of #183. There is however, _lots_ of tape in the container. We're not sure how much of each type though.

[2019-03-09 20:00] TomWheal commented on #74
@WillB97 is probably best suited to this

[2019-03-09 20:33] antoinepetty commented on #89
Sorry I'm not sure I'll be able to do this in the next couple of weeks. Is someone else more free?

[2019-03-09 21:05] TomWheal commented on #89
Im Happy to take this on is there an example?

[2019-03-09 21:17] meysholdt commented on #16
I just found this issue while searching for mentions of 'gitpod' and thought you might find this article helpful: https://www.infoworld.com/article/3342624/cloud-ide-review-aws-cloud9-vs-eclipse-che-vs-eclipse-theia.html

[2019-03-09 21:30] antoinepetty commented on #89
I'm assuming it's referring to this: https://i.ytimg.com/vi/7pPs8UpPEEo/maxresdefault.jpg
Someone can correct me if I'm wrong but the changes required are:

- New Logo
- Sponsors are Motorola Foundation and University of Southampton

[2019-03-09 22:00] Tyler-Ward commented on #85
Design not yet merged, will close when merged

[2019-03-09 23:01] jcwilliamson commented on #116
Can I get a brief list of exactly what we'd like the uni to provide us with?
Tyler mentioned bench PSUs, and I was thinking perhaps some of those red handheld DMMs from the lab could be useful, but can anyone think of anything else?

[2019-03-09 23:07] TomWheal commented on #89
I'm guessing this will suffice
![banner](https://user-images.githubusercontent.com/7452669/54078448-15e51700-42c0-11e9-84b4-57d070c56a18.png)

[2019-03-10 00:10] RealOrangeOne commented on #85
https://github.com/srobo/promotional-material/pull/7 has now been merged.

[2019-03-10 00:10] #85 closed

[2019-03-10 00:12] RealOrangeOne commented on #82
This ticket is no longer blocked

[2019-03-10 00:13] RealOrangeOne commented on #116
Multimeters would definitely be a good shout.

[2019-03-10 00:14] RealOrangeOne commented on #89
Design wise that looks great! I'm not sure how I feel about a solid white background? In my experience that's likely to fade very quickly, and will show dirt easily.

White on blue might look nice? Although that is exactly what we've just done for the t-shirts in #85

[2019-03-10 00:24] RealOrangeOne commented on #188
I have a camera we can certainly try for this. It supports video output over micro-HDMI, and charging over mini USB. I suspect a mixture of the provided mounting and duct tape can affix to the truss.

I recall something about it not running quite properly recording whilst charging. I will test this and report back.

Meta: Looks like the company which sold it originally has stopped trading, which s

[2019-03-10 00:25] jcwilliamson commented on #116
Also, what sort of numbers do we need them in?

[2019-03-10 00:26] RealOrangeOne commented on #144
The battery and motor board in my possession are now in the cupboard. The inventory needs updating now t reflect this.

[2019-03-10 00:32] RealOrangeOne commented on #116
Multimeters are generally quite useful, so something on the order of 2/3 will be fine. I suspect we'll be fine with a single bench PSU.

[2019-03-10 00:36] RealOrangeOne commented on #145
According to the schedule in https://github.com/srobo/tasks/issues/73, There's a total of 3h20 to allocate to teams, spread over the 3 days.

The current intention is to go with 10 minute slots, leaning towards having more, smaller slots, rather than fewer longer ones.

An exact plan with more notes is in progress.

[2019-03-10 00:37] RealOrangeOne commented on #163
#73 accounts for 10 minutes for this talk, which will almost certainly run over. Some practice will be needed, and likely some cutting down.

[2019-03-10 00:45] RealOrangeOne commented on #128
I agree, updated comment.

[2019-03-10 10:57] TomWheal commented on #89
Seeming this will cost and add more jobs in ordering it, alongside there not really being anywhere for it at susu, like there is at newbury. So maybe just a "frame" for photos. Something like this?

![PhotoBanner](https://user-images.githubusercontent.com/7452669/54084006-3befd300-4323-11e9-9d03-e9a1ce4acac1.png)

[2019-03-10 11:08] RealOrangeOne commented on #89
Considering the previous one was white, we can ignore my previous issues.

The banner is still a 'nice to have', intentionally. The above 'frame' fits closer to #90 / #120 / #198 if anything

[2019-03-10 11:40] TomWheal commented on #89
Didn't see #90 ignore my last.

[2019-03-10 12:08] RealOrangeOne commented on #148
The playlists are now in a state where they could function perfectly for the event. There are 2 playlists, 1 for during matches, and 1 for between matches.

Currently the match playlist is 148 tracks at 9h30. Currently the _chill_ playlist is 221 tracks at 14h16. These should both be more than enough, and cover the previous complaints at events of playlists looping too much, and hearing the same s

[2019-03-10 12:29] Tyler-Ward commented on #148
Did you manage to fine the ones from my list or do you need me to find any, also did you create a chill instrumental only playlist.

[2019-03-10 12:47] PeterJCLaw commented on #89
@TomWheal design looks good 👍, thanks.
I think the next step is to get some quotes, would you be able to do that?

[2019-03-10 12:47] RealOrangeOne commented on #148
I've not split out the chill playlist. It'll take like 10 minutes so we can do that if we find an issue with it.

I need to go through the sheet you've been adding too again at some point to do a second pass.

[2019-03-10 14:36] RealOrangeOne commented on #73
To me, this looks fine. I can't comment on if the provided time for the league / heats is enough, but I trust you've done the maths.

There doesn't seem to be any accounting for #120. There were suggestions we could fit it in before the prize giving (#128), but I doubt we're going to fit everyone in the arena for this, I suspect we're going to need an outside area, which is going to take yet more

[2019-03-10 15:16] jcwilliamson commented on #189
What days and times should I ask for, both for the move there from mountbatten, and the move back?

[2019-03-10 15:20] PeterJCLaw commented on #186
From the description of the Core Team's [formation](https://srobo.gitbook.io/ops-manual/annual-robotics-competition/core-team#formation):

Since the Core Team lasts until at least May, so we can trivially allow teams to keep their kits until about then.

Is this ticket about loans beyond that timescale?

[2019-03-10 15:23] PeterJCLaw commented on #194
We have _two_ awards which are specified as being edible, not eight; we've not historically done edible prizes for the awards which have an actual prize and I'm not sure what doing so adds?

[2019-03-10 15:27] PeterJCLaw commented on #126
@antoinepetty is there any reason not to post updates here rather than in Slack? (here is considerably more open than Slack and would mean that context around this is all in one place)

[2019-03-10 15:30] PeterJCLaw commented on #144
For clarity: I still have some spare kit parts (boards, batteries and chargers) which I have in case we needed to send spares out (the remaining spares of each component being in storage).
I'll bring them with me to the competition.

[2019-03-10 15:52] PeterJCLaw commented on #163
Nice, I've left some comments in the doc.

[2019-03-10 15:54] PeterJCLaw commented on #145
I suggest that the booking of the slots only be allowed for slots during the next tinker time window.

[2019-03-10 16:06] Scarzy commented on #139
At this point I'm working on the assumption that "a _large_ number" of high-vis jackets is at least 36. So we'll use them as before. I'll get some labels designed for them.

One issue we had previously was that the labels with the TLA's crunched up and became hard to read. Will we be able to laminate the labels?
Can someone in Southampton count the number of high-vis jackets and confirm how many t

[2019-03-10 16:17] PeterJCLaw commented on #139
The high-vis jackets are in storage, rather than Southampton. There was an 18l RUB which contained only jackets, which I estimated had about 30 in. There was another similar RUB which contained another 20 or so I think. There was also a blue bag which probably contained another 20 or so, though these were from the years when we let the teams decorate them with TLAs.

Laminating the labels sounds l

[2019-03-10 18:37] trickeydan commented on #69
Sent to Chris. I think we're safe to close this ticket now.

[2019-03-10 18:39] trickeydan commented on #196
Quote requested from Delta V.

[2019-03-10 18:40] trickeydan commented on #97
These are definitely in the Broom Cupboard.

We can dig them out tomorrow night.

[2019-03-10 18:53] RealOrangeOne commented on #69
Until a plan is confirmed, we shouldn't close the ticket. We should also enure that that Chris comes back with is appropriate and reasonable for what we're trying to achieve.

[2019-03-10 18:54] trickeydan commented on #69
You are aware that we are specifying to Chris? He is planning to do exactly as we tell him, as long as he thinks it will work.

[2019-03-10 19:10] RealOrangeOne commented on #139
If we have the resources, then doing on both would be nice. We've hopefully got enough volunteers that we can get through adding 2 labels should be quick enough.

[2019-03-10 19:12] trickeydan commented on #128
Can we write this into a PR for the runbook? It will be useful to keep this for the future and a PR allows better review.

[2019-03-10 19:14] RealOrangeOne commented on #189
I _believe_ we need it Friday morning from L1 Zepler to SUSU. I know we'll need it Sunday / Monday at some point, but not sure that's been worked out yet.

(I wouldn't book based on this comment, it's possible I've missed a bit of information)

[2019-03-10 19:18] RealOrangeOne commented on #186
No, loans for longer than a couple weeks are definitely out of scope!

I agree that an extension until ~May should be ok to approve at the core-team level. I've added a section about this in the upcoming team email https://github.com/srobo/team-emails/pull/18

[2019-03-10 19:34] RealOrangeOne commented on #128
We _can_, but i've intentionally not. https://github.com/srobo/runbook/pull/8 somewhat blocks putting things in the runbook for now. I've got a note for myself to move anything i've worked on into the runbook to the relevant page for after the competition.

For now, just put feedback in here, quote replying where possible. We shouldn't be blocking review on it.

[2019-03-10 19:49] trickeydan commented on #128
I suggest making a task to track this post-competition.

[2019-03-10 20:23] Tyler-Ward commented on #128
This plan really needs to be almost a stageplay style plan in order that we can plan around it and avoid the mess ups we have made the last few events.

Things we need to know
* Relative timings. we should probably start this from the end of the final.
* How people are moving around and who is where (both blue-shirts,competitors and external speakers).
* What kit e.g. prizes and mics need to be wh

[2019-03-10 20:30] PeterJCLaw commented on #128
An alternative is to base a branch on https://github.com/srobo/runbook/pull/8 and open a PR which targets that PR. This ends up a bit odd in terms of what gets merged when, but you get the right history and nice diffs on GitHub.

[2019-03-10 20:31] Tyler-Ward commented on #139
What is the benefit of using the high vis jackets over just labeling the robots, as we wont have competitors in the closed off area which was the reason for the initial use.

[2019-03-10 20:34] Tyler-Ward commented on #189
Estates need to move kit on Thursday morning from the zepler CLS room to the cube and then back on the Monday morning to a location(not sure where this is @trickeydan will know).

Estates will need to move.
Lengths of wood probably around 50 or so.
hardboard sheets probably around 20-30
Boxes of kit probably around 40 or so.

[2019-03-10 20:36] Tyler-Ward commented on #145
booking only one slot in advance will likely end up with a queue of teams waiting to book slots. To avoid teams being able to monopolize it we can limit teams to one slot until a sufficient window has been give to together teams to register.

[2019-03-10 20:43] trickeydan commented on #189
Zepler Level 1 Seminar Room

[2019-03-10 20:46] Scarzy commented on #139
A competitor will be accompanying the robot into the staging area and placing it in the arena. Also, a high-vis is far easier to notice than having to look for a label on the robot, and also easier to remove from a team should the robot no longer meet the requirements.

I agree that 1 front and 1 back would be best. Large on the back, small on the front. (This is actually what we did in SR2017)

[2019-03-10 20:50] PeterJCLaw commented on #128
Bear in mind that we might have a tiebreaker to run. We cannot start the ceremony until the final has been scored.

All the prizes should be on the table from the start.
The MC needs a mic, as does the speaker. The speaker _doesn't_ need their mic once they're done talking, even if they're handing out prizes. Maybe therefore only have a single mic?

IMO: None whatsoever. We should run with boring

[2019-03-10 20:56] RealOrangeOne commented on #145
@sedders123 and I discussed how to deal with duplicate bookings. The best idea we came to was to stagger releasing slots, and prevent booking too close together.

I suspect common sense can be employed on the day to ensure slots aren't abused.

[2019-03-10 20:57] Tyler-Ward commented on #138
see https://github.com/srobo/promotional-material/pull/9 for pull request

[2019-03-10 21:03] PeterJCLaw commented on #139
IMO the high-vis jackets are also quite cool.

[2019-03-10 22:55] Tyler-Ward commented on #92
A rough preview of a potential map style, need to find some better map symbols but this is the rough idea,

![rougth](https://user-images.githubusercontent.com/3390465/54092716-46dc4f00-4387-11e9-980d-2af45959bc74.png)

[2019-03-10 23:07] Tyler-Ward commented on #92
List of things to mark on the competitor maps, anything else to add?

- [ ] Reception
- [ ] Helpdesk
- [ ] Arena
- [ ] Stairs
- [ ] Lift
- [ ] Team pits
- [ ] Water taps
- [ ] photo area
- [ ] entrance
- [ ] staging

[2019-03-10 23:08] Tyler-Ward commented on #100
SRO laptops can be used for reception and score entry.

[2019-03-10 23:14] Tyler-Ward commented on #89
They are around £25 pre vat (£30 with vat) for a 6ft by 2ft. how large do we want it to be.

http://www.indigo-press.com/packaged-print/printing/outdoor-banners/

[2019-03-11 08:25] PeterJCLaw commented on #89
I was expecting that we'd replace the existing one like-for-like. It's about 2' tall, but I'm not sure on the width.

[2019-03-11 08:28] PeterJCLaw commented on #89
Huh, it's taller than I thought: https://github.com/srobo/inventory/blob/aa93487a4e246b4ff5419c14a176a1c00260a17e/storage/banner-sr000#L5-L9

[2019-03-11 08:31] PeterJCLaw commented on #92
Interesting approach.
I suggest we stick to flat top-down maps and minimal colours (i,e: don't fill the general floor space) for clarity.

[2019-03-11 08:42] RealOrangeOne commented on #92
The above map example shows lifts and stair cases we don't really want competitors using generally. We should probably remove these from the maps?

[2019-03-11 08:43] PeterJCLaw commented on #197
Thanks for getting this started 👍

Where are the prizes being put in this sequence? At Newbury we've held the prize-giving _in_ the arena, This works well as pretty much everyone is already standing around it and has a comfortable view.

Is the plan to use the stage? If so, we need to bear in mind what else is on the stage at this point (namely people viewing the final).

We need to allow for the

[2019-03-11 08:45] RealOrangeOne commented on #197
This plan was originally modified from the one in https://github.com/srobo/tasks/issues/128, which now has some changes requested, which I hope to get done in the next few days.

[2019-03-11 09:09] PeterJCLaw commented on #102
Hrm, there's quite a big difference in difficulty in these matches between a team placing 12th in the league and 13th in the league. Can we do anything about that?

For example, could we have fewer teams take part in the elimination round but carry more through? I've not thought through what other weirdness that introduces though.

Otherwise seems ok I think.

If you have notes on the other approa

[2019-03-11 09:12] PeterJCLaw commented on #102
Regarding timings here -- do you mean extra between the semis themselves, or between them and the final?

Currently SRComp supports adding a consistent between the rounds of the knockout, with the ability to add an extra gap before the final.
(The tiebreaker is scheduled as an absolute time)

[2019-03-11 09:21] PeterJCLaw commented on #73
I don't think we need a specific slot for #120 -- doing them revolving during the _league_ matches seems completely reasonable to me, as long as we're upfront with the teams about when they'll need to be there (and I'd encourage we do them on Saturday if possible).

I _do_ think we need a slot for a whole-group photo. I don't know if we have a ticket for that, nor if we've planned where it will ha

[2019-03-11 09:23] PeterJCLaw commented on #73
Please can we change the line:

to be called "Knockouts"?

We've always called them "Knockouts" in the past and especially as we now have a specific stage called the "Heats" I'm finding it confusing.

[2019-03-11 09:24] Tyler-Ward commented on #73
#120 is the group photo, #198 is for individual teams. we could do it at the end of the Sunday lunch slot that way it doesn't interfere with the end timings.

[2019-03-11 09:29] PeterJCLaw commented on #73
Aha, I've clarified those tickets.

[2019-03-11 10:37] Tyler-Ward commented on #164
@nathanp99 have you managed to contact the supplier?

[2019-03-11 11:56] nathanp99 commented on #164
I was able to amend the order to 500 for an extra £42. I will send the new invoice to Tyler's email I sent the other ones to.

[2019-03-11 11:58] #164 closed

[2019-03-11 11:58] Tyler-Ward commented on #164
Thanks, much appreciated.

[2019-03-11 12:14] TomWheal commented on #82
50 shirts will be £250 + vat, still okay too order those

[2019-03-11 12:17] Tyler-Ward commented on #82
@TomWheal That sounds good to me, so they are good to order.

[2019-03-11 12:45] TomWheal commented on #82
T-Shirts have been ordered, will pop into the shop to pay this week, turn around is 4 days so no rush.

[2019-03-11 13:08] mltnhm commented on #82
Wristbands have been ordered (#164), is this ready to be closed?

[2019-03-11 13:31] RealOrangeOne commented on #82
it is :tada:

[2019-03-11 13:31] #82 closed

[2019-03-11 13:32] sedders123 commented on #139
I agree with @Scarzy and @PeterJCLaw . High-vis jackets seem like an easy win to help shepherds know who is allowed in the staging area at any given time. If possible having the TLA on both the front and back of the high-vis sounds ideal.

[2019-03-11 14:30] kierdavis commented on #116
I'm not sure how wide the scope of testing kit during the competition is (it feels much more efficient to just swap the misbehaving piece of kit with another and debug it when we're less on fire), but an oscilloscope would be useful if we're digging into electronics problems.

[2019-03-11 14:50] Tyler-Ward commented on #92
That staircase goes directly to the team pits on L3. it would make sense for it to be used for them to get to their pits from L4 but not for going to the cube from the pits.

[2019-03-11 15:32] Adimote commented on #139
One thing to note is high-vis jackets ruin any photos with flash
photography.

On Mon, 11 Mar 2019, 14:32 James Seden Smith, <notifications@github.com>
wrote:

[2019-03-11 19:09] Tyler-Ward commented on #157
@WillB97 is going to acquire quotes for lunch options

[2019-03-11 20:06] RealOrangeOne commented on #116
I tend to agree. We should ensure there's a good box of spares setup ready. I suspect common tools like multimeters, a bench PSU, maybe an oscilloscope will be generally useful for diagnosing other issues with kit, rather than issues with a board itself. I don't think we're going to need anything more complicated than that.

[2019-03-11 20:13] Tyler-Ward commented on #97
We have searched the cupboard they are not there, there are a couple of spares which are empty but not enough for the competition.

[2019-03-11 20:16] Scarzy commented on #139
@Adimote Please inform the photographer to engage brain and turn off the flash before taking the picture.

It's far more important that we only allow safety checked robots into the arena than someone takes a less than perfect photo. Only 1 of them can result in a claim on our public liability insurance.

[2019-03-11 20:38] RealOrangeOne commented on #139
Most of the competition is well lit, which means a flash won't be necessary. In the cube, a flash will either do nothing, or light up the foreground too much. As Scarzy says, a generous serving of common sense should solve this.

[2019-03-11 23:02] PeterJCLaw commented on #116
I don't think we need a bench PSU at the competition. I agree with @kierdavis that we should err on the side of swapping out.

Multimeters are likely useful though. Maybe a couple?

That's probably it though.

[2019-03-11 23:06] PeterJCLaw commented on #97
Ah, I thought someone said on Saturday that they had already previously been located in the cupboard? Oh well.

@trickeydan you're still owning this; does that mean you're planning to obtain and prepare these?

I suggest if we're making new ones that we:
- try to get them to be a consistent look & feel
- use keyrings to indicate the arena corner colour (this is what's been done in the past, which

[2019-03-11 23:07] PeterJCLaw commented on #139
This sounds like a feature to me.

[2019-03-11 23:15] trickeydan commented on #97
Code that reads the keys: https://www.studentrobotics.org/cgit/brain/herdsman.git/tree/herdsman/compkey.py

There were apparently 8 USBs with keyrings, but the one I checked was blank. Is 8 sufficient? @PeterJCLaw

[2019-03-11 23:30] PeterJCLaw commented on #97
Most odd that they're blank. I'd expect 8 is fine - it's two full sets. While both sets will be in use, we won't be letting the teams run off with them, so the chances of them going missing are fairly low.

[2019-03-11 23:32] PeterJCLaw commented on #97
Actually, there ought to have been 16 SR ones - two full sets for each of two arenas.
I wonder where the other 8 are?
Anyway, 8 is enough for this year.

[2019-03-11 23:39] Tyler-Ward commented on #97
We found a bag of key rings which contained 4 blank USB sticks not eight there were also two key rings labeled with helpdesk in the same box as the bag.

[2019-03-12 00:17] trickeydan commented on #97
I am certain you said 8... Was this miscounted at the time?

[2019-03-12 00:20] Tyler-Ward commented on #97
I probably said something like, I expect to find at least 8 (that was before i realized each arena needs two sets)

[2019-03-12 00:35] trickeydan commented on #97
Actions we can do to solve this:

- Purchase 4 more USBs of the same variety if available + 4 tags
- Purchase 8 new USBs of the same variety + 4 tags
- Find the 16 previous ones in the container

[2019-03-12 00:42] trickeydan commented on #116
If I'm diagnosing kit, I would want the following equipment ideally:
- Scope - this is invaluable for complex issues.
- Bench PSU
- Multimeter
- Motor Rig
- That beefy server PSU in the broom cupboard

I suggest getting at least 3 multimeters.

[2019-03-12 00:47] trickeydan commented on #116
Update: I have obtained a loan of a Digital Oscilloscope for the duration of the event.

[2019-03-12 00:48] jcwilliamson commented on #116
That's great news, that makes my job significantly easier.

[2019-03-12 11:55] jcwilliamson commented on #116
Jeff in building 16 has agreed to loan us a bench powersupply and some handheld multimeters

[2019-03-12 15:08] Tyler-Ward commented on #200
Business cards have arrived

[2019-03-12 15:10] Tyler-Ward commented on #67
Have had a meeting with SUSU and everything from them is fine, will order tables and chairs seperatley

[2019-03-12 15:10] #67 closed

[2019-03-12 15:12] Tyler-Ward opened #204 "Hire chairs + tables"
SUSU dont have enougth #67 so we should order some more. SUSU recomend http://www.wessexcaterhire.co.uk/

[2019-03-12 15:22] Tyler-Ward commented on #204
I have requested a quote for this.

[2019-03-12 17:06] Tyler-Ward commented on #92
Here is the current map. It is A5 sized for the booklet but can be scaled up for signage

[maps.pdf](https://github.com/srobo/tasks/files/2957959/maps.pdf)

[2019-03-12 17:11] Tyler-Ward commented on #90
@TomWheal you had a design for this in another ticket (#89) which might be good here.
it might need a slight edit so that we can fit both the school,team name and awards on it if we still want to include all of those.

[2019-03-12 17:16] Tyler-Ward commented on #90
The repo has now been moved to github at https://github.com/srobo/photo-borders this could be merged into https://github.com/srobo/promotional-material what are peoples opinions on this.

[2019-03-12 17:22] jcwilliamson commented on #113
I've had a dig around my room at home, and I've found a large lever arch/ringbinder folder. Unless people definitely want a box file, it should be fine.

[2019-03-12 17:50] RealOrangeOne commented on #92
This looks really nice! Although personally the perspective is a little steep, and makes it really hard to visually grep. What would it look like if we reduce the angle, or remove it entirely?

[2019-03-12 17:52] RealOrangeOne commented on #90
For now, I think it's fine. `promotional-materials` isn't an ideal name, as it contains things which aren't use solely for promotion. I personally don't see an issue with having repos for each item, but that's a separate conversation.

[2019-03-12 17:55] RealOrangeOne commented on #113
The issue with a ringbinder is that it also required a holepunch, which isn't ideal, although it does maintain order nicer. If we can also get a holepunch, it's _probably_ fine.

[2019-03-12 17:57] Tyler-Ward commented on #113
we could prepunch the scoring sheets when we print them

[2019-03-12 18:19] RealOrangeOne commented on #187
This has now shipped.

[2019-03-12 18:19] #187 closed

[2019-03-12 18:36] Tyler-Ward commented on #138
designs are merged and ready for ordering

[2019-03-12 18:36] #138 closed

[2019-03-12 19:05] Adimote commented on #95
@BitBait Has offered to do this!

[2019-03-12 21:01] TomWheal commented on #113
You can do this on the uni printers.

[2019-03-12 22:27] Adimote commented on #151
I'm getting towards a final accommodation arrangement, as quite a few people have replied with updated availability. In the mean-time the hotel has gone slightly up in price, the new cost is £1,221.50.

I think things are stable enough to book now, so I'll phone them up Tomorrow morning (2019-03-13)

[2019-03-12 22:31] Adimote commented on #204
Thyler!

[2019-03-12 22:57] Tyler-Ward commented on #151
We an work with that cost. Incase of any more fluctuations between now and when you book you are good to spend up to 1,300 on this.

[2019-03-12 22:59] PeterJCLaw commented on #116
@jcwilliamson great news, thanks.

@trickeydan are there any failure modes which need a scope would diagnose that could be resolved without removing the case of the board in question? (I'm assuming not)

I'm of the view that anything which gets anywhere near needing a scope in order to be investigated should instead be solved by replacing the board, as was discussed above.

We shouldn't be conside

[2019-03-12 23:05] PeterJCLaw commented on #113
We also _have_ a hole-punch (in storage).

[2019-03-12 23:24] Tyler-Ward commented on #141
Can someone get some prices from some other suppliers for these so we have at least three quotes before ordering.

My current thoughts on what to order is.
3* full with just logo
2* box style with Reception
1* box style with Helpdesk
Does this sound sensible to people or do people think we need more/less?

[2019-03-12 23:39] Adimote commented on #88
http://www.trophies2u.co.uk/ is our standard supplier of Trophies

Lets get: https://www.trophies2u.co.uk/products/glass-and-crystal/economy-glass-awards1/great-style-slant-jade-glass-award.html (they were used for SR2016 and SB2018)

[2019-03-12 23:39] trickeydan commented on #141
[Helloprint](https://www.helloprint.co.uk/tableclothregular-220x150-polyester190gsm-withouthem-6) - £268
[Vistaprint](https://www.vistaprint.co.uk/signs-posters/tablecloths) - £750 (Yes, really.)
[BannerWorld](https://www.bannerworld.co.uk/product/printed-tablecloths/) £253 + VAT
[TextileTown](https://www.textiletown.co.uk/buy/Branded-Tablecloths.html) - £324 + VAT
[Discount Displays](https://www.

[2019-03-12 23:44] Tyler-Ward commented on #203
If someone is able to order these that would be good, The best deal looked to be from kite packaging and should be around £16 as long as it is close to this that is fine to order. Make sure to post here before ordering so we don't do it twice.

[2019-03-13 00:04] Tyler-Ward commented on #141
I had a look at those suppliers and am getting a much higher prices than you found, which settings have you gone with?

![image](https://user-images.githubusercontent.com/3390465/54244149-34971800-4523-11e9-84ca-20df322b5bb4.png)
![image](https://user-images.githubusercontent.com/3390465/54244166-4b3d6f00-4523-11e9-9795-1b8fbfff27eb.png)

[2019-03-13 00:13] trickeydan commented on #141
6 foot long, 4 foot wide, or there abouts. I was estimating the length of a table

[2019-03-13 00:15] trickeydan commented on #141
AH

[2019-03-13 08:54] PeterJCLaw commented on #97
I'm fairly sure they're not in the container - we had a fairly good look while we were there last weekend (#183).

If we've only found 4, does that mean they're in fact SourceBots' ones?

Buying some more seems a good solution to me. This should probably come out of the arena props budget line I suspect.

@richardbarlow do you happen to know where the competition mode USB sticks might have ended u

[2019-03-13 10:07] richardbarlow commented on #97
Rob has the competition USB sticks (as they belong to him), however he is happy for you to have them. @PeterJCLaw do you want to email Rob to arrange for getting hold of them?

[2019-03-13 10:08] Tyler-Ward commented on #204
I have a quote back at £519 inc vat and delivery/collection which is more than we budgeted but is still affordable.

[2019-03-13 10:15] Tyler-Ward commented on #88
That supplier looks fine, I assume we will get different sizes for each position.

Some observations (not sure if we care about all of these).
* The engraving font is fixed so wont match the style
* these come without boxes (there is an option at slight increased cost that comes with a presentation box).
* re the font above we should think about how we do the logo part do we want just the round el

[2019-03-13 10:20] Tyler-Ward commented on #194
Useful to know that that is in the rules. we can ditch them per the rules however as mentioned on slack if we just give the glass trophy to the top prizes then the students themselves wont have anything. While not amazing for this giving edible prizes to all teams means there is at least something there. opinions on what we should do about this?

[2019-03-13 10:27] Tyler-Ward opened #205 "Create list of equipment to move from storage to Southampton"
Split off from #78 we need a list of items to move from the container to Southampton for the competition.
Also see #206 for movement on setup days

A list of inventory codes would be useful but not essential as this is an easy way to check that everything has been collected.

[2019-03-13 10:28] Tyler-Ward opened #206 "Move equipment from storage to southampton"
We need to move equipment from storage to Southampton. see https://github.com/srobo/tasks/issues/205#issuecomment-476893864 for the list to move.

[2019-03-13 10:29] Tyler-Ward commented on #205
Also see #182 for van hire for this trip if required

[2019-03-13 10:35] Tyler-Ward opened #207 "Create list of equipment to move from broomcupboard to competition"
Split off from #78 we need a list of items to move from the broomcupboard to the competition.
As per #185 we need to move this down to L1 on Wednesday evening and will be moved as a result of #189

A list of inventory codes would be useful but not essential as this is an easy way to check that everything has been collected.

[2019-03-13 10:37] Tyler-Ward opened #208 "Create list of return destinations for kit."
Split off from #78 we need a plan of where to return kit to after the competition. main destinations are the broom cupboard and storage however some items might be going elsewhere.

[2019-03-13 10:38] Tyler-Ward opened #209 "Inventory audit of storage"
Lowish priority but we should audit the inventory in storage as many things don't match between reality and the inventory.

[2019-03-13 10:39] Tyler-Ward opened #210 "Audit inventory in Broom Cupboard"
Lowish priority but we should audit the inventory in southampton as many things don't match between reality and the inventory. This should likely happen as part of the cupboard move to reduce effort required.

[2019-03-13 10:41] Tyler-Ward commented on #78
I have split of several sub tasks from this to turn them in to more manageable chunks.

[2019-03-13 11:33] jcwilliamson commented on #189
Joyce is now on the case, she's sending me an email to confirm when she's done it

[2019-03-13 11:43] mltnhm commented on #170
Do we want to show images?

[2019-03-13 13:15] RealOrangeOne commented on #194
We can get 1 tub of assorted chocolates for ~£3 (src: Amazon, Sainsbury's), which have enough for ~2 people. The average team size is 8 people, therefore it's roughly £20 per team we want to get prizes for.

2 prizes: ~£40
8 prizes: ~£160

If we have the budget, I think it would be _nice_ to give a prize like this, although it's a sizable amount of money.

If we can get approval on one of the abov

[2019-03-13 13:34] trickeydan commented on #97
No, we used Lego ones at SB2018 and SP2018. The ones that we found were 4 Kingston DTSE9 8GB. I note that the exact model is no longer sold in 8GB capacity. Purchasing more would cost approximately per USB drive.

[2019-03-13 14:08] Tyler-Ward commented on #105
Budget signoff for the tokens has been granted in #203

[2019-03-13 14:11] Tyler-Ward commented on #107
budget was approved in #203

[2019-03-13 14:13] Tyler-Ward commented on #113
Do we need to purchase anything for this if so can someone create a shopping list that I can approve.

[2019-03-13 14:19] Tyler-Ward commented on #142
This wasn't discussed with SUSU what do we actually need to know from SUSU for this.
The uni security are first aid trained, I think what we need here comes down to our risk assesments #66 @Scarzy opinions on this

[2019-03-13 14:28] TomWheal commented on #200
Shirts are in my possession

[2019-03-13 14:44] RealOrangeOne commented on #113
If @jcwilliamson is happy _donating_ his ringbinder, and we remember to print the score sheets holepunched (#110), then we can close this issue entirely

[2019-03-13 14:50] RealOrangeOne commented on #105
We've now identified the contruction items for all the items on this ticket

- Caldera is made of wood (and already assembled)
- Tokens will be cardboard boxes (see https://github.com/srobo/tasks/issues/105#issuecomment-470274310)
- Robot flags will be PVC pipe with coloured tape on, hardened with card (likely taken from spare cardboard boxes)

We can therefore consider this ticket closed.

[2019-03-13 14:57] RealOrangeOne commented on #59
This issue is _almost_ solved, we know how this is going to work.

Reception will have laptops (#99 ) with the software pre-installed and setup, with attached webcams, running the ticket software.

The final step is to check the software still works. It installs correctly, but I didn't check it scans a QR code and dispatches the right data.

[2019-03-13 15:52] Adimote commented on #151
Booked! Total cost was 1259.50GBP

[2019-03-13 15:52] #151 closed

[2019-03-13 16:00] Tyler-Ward commented on #151
Can you send me an invoice so i can add to the budget tracking

[2019-03-13 16:48] trickeydan commented on #200
If we are going to track things on this ticket (which I personally dislike as it's fragmented), please could we link the appropriate issue numbers.

[2019-03-13 17:29] Scarzy commented on #142
We need a first aid presence, and whilst it could be provided by blueshirts with the relevant certification, for various reasons I'd rather it was provided by an external source. Issues of insurance/liability etc. fall into this, but the other thing to consider is what we need blueshirts to be doing during at the time. In the event of a minor incident it merely means a blueshirt may be pulled away

[2019-03-13 17:41] trickeydan commented on #142
@Scarzy

Would a photo of their "Who to call if you need First Aid" sign be enough?

Alternatively: [Uni Security Contact Details](https://www.southampton.ac.uk/estates/what-we-do/security.page)

Would you be able to get some quotes for that? It's definitely within budget.

@WillB97 Could you find an area on the floorplan for this?

@Tyler-Ward When Will has found somewhere, please make sure that

[2019-03-13 17:42] Scarzy commented on #142
Incidentally, I've just checked with a couple of teachers, and can confirm that there is no requirement whatsoever for teachers to have any first aid training.

[2019-03-13 17:48] Scarzy commented on #142
No. Whilst that gives some confidence that they **can** provide it, I'd want something specific to our event to confirm that security **will** be the first point of contact on first aid matters.

I can chase some up at the weekend.

[2019-03-13 17:56] Tyler-Ward commented on #97
if we cant get the previous ones new ones arent too expensive https://www.amazon.co.uk/Kingston-Technology-DTSE9H-32GB-Traveler/dp/B00D9OQ1QQ/ref=sr_1_4?ie=UTF8&qid=1552499694&sr=8-4&keywords=kingston%2Busb&th=. These also match the 4 we already have

[2019-03-13 23:01] Adimote commented on #81
@sedders123 why 2 score entry people? Surely the marshalls fill the score sheets and pass it to the single scorer to score it?

[2019-03-13 23:06] sedders123 commented on #81
This was a request from @PeterJCLaw. I believe the idea was that we have two marshalls as a form of error detection so having two score entry people will further help to spot any potential errors, either on the sheets or upon entering into the scoring system.

[2019-03-13 23:22] trickeydan commented on #81
Also if there are two score entry volunteers, one can handle other things (e.g illegible scoresheets) without causing a pause in scoring.

[2019-03-14 00:27] Tyler-Ward commented on #87
For the core team message i have created a document here, alterations/alternate introductions welcomed. We should also reach out to the trustees and see if they want a message on this page as well.

https://docs.google.com/document/d/1F8-6JplKfB1_47nMyHCsbJUEhS4YgDI_Tc5DBcEUD_4/edit

[2019-03-14 00:27] Tyler-Ward commented on #129
A potential supplier for this is https://www.digitalprinting.co.uk/products/saddle-stitched

[2019-03-14 00:29] Tyler-Ward commented on #87
For timings on this we will need to order these on/around the 25th to ensure we get them in time so the designs should be ready for review some-point around the middle of next week.

[2019-03-14 00:35] trickeydan commented on #87
Alternative written by me.

[2019-03-14 00:36] Tyler-Ward commented on #87
I have created a gitrepo to store this which can be found at https://github.com/srobo/competitor-booklet-2019

[2019-03-14 01:49] Tyler-Ward commented on #87
In order to get this moving we will need some content filling in.

* @prophile Are you able to take a look at writing a brief game summary will also be used for #101 and will be useful for commentators and SUSU TV
* @RealOrangeOne can you produce a final list of TLAs and school names for including in the book and #101 this can also feed into #123
* #92 is in progress waiting on data from #123  rea

[2019-03-14 07:14] RealOrangeOne commented on #87
This list already exists in Google Drive. Simply exclude those marked as 'Dropped out'

[2019-03-14 09:30] antoinepetty commented on #87
Not sure how wordy this is expected to be. I've added a short bit on social media info in the Google Doc.

[2019-03-14 23:23] trickeydan commented on #87
Fun Idea (time sensitive though): We could ask teams to submit a name and short "bio" / "description" of their robot. A lot of teams (e.g CLY, SWI) have named and almost given a personality of sorts to their robot in the past and I think that this could be a fun, light-hearted thing to but in the booklet so that teams learn about each other's robots.

I'm unsure about the length that this would ta

[2019-03-14 23:47] Scarzy commented on #87
Does this require any information from #125 ?

[2019-03-14 23:59] Tyler-Ward commented on #87
@Scarzy good spot, It would make sense to include these in the booklet If we put P5 and P7 together as these are looking quite short and will fit well together, that will leave one page free for the rules. Are you able to write these up?

[2019-03-15 00:00] Tyler-Ward commented on #87
I have emailed the trustees to get the trustee intro paragraph from them.

[2019-03-15 00:07] Tyler-Ward commented on #87
@trickeydan That is an interesting idea while I don't expect we will have room for a bio/description without adding extra pages (could add an extra 4 pages if people think this is a good idea and we can get the data in time) we should have room for a team name or similar on the team pages with the TLA and school name which would make sense to include if we have the data. We had a set of teams info

[2019-03-15 00:34] Tyler-Ward commented on #204
I got some other quotes for comparison:
* alenshire.co.uk £575.40 without delivery
* eventhireuk £1406 inc vat and delivery
* furnaturehireuk £831.67 inc vat and delivery

[2019-03-15 00:35] Tyler-Ward commented on #204
Given the suggested supplier by SUSU is cheaper than the alternatives I will pass the quote to the trustees to be paid.

[2019-03-15 00:57] Tyler-Ward commented on #203
I will order these

[2019-03-15 01:05] Tyler-Ward commented on #203
These have been ordered see #200 for status

[2019-03-15 01:05] #203 closed

[2019-03-15 08:39] PeterJCLaw commented on #81
@sedders123 is correct about my reasoning here; the main part being preventing errors in entering the scores.

While @trickeydan's point is theoretically valid too, score-entry usually completes before the next match starts; there's therefore almost never a backlog, so coping with an illegible or conflicting score-sheet doesn't normally block things (other than that one pair of sheets).

[2019-03-15 08:44] PeterJCLaw commented on #87
We used to collect team names/info via the "Team Status" mechanism in the IDE. Historically that then appeared on our website as well as this sort of thing. Since the new website doesn't include this, it's not active in the IDE and we don't have any data.

Given the timings we have here, I suggest punting this aspect to another year and looking to get the Team Status system back up & running (http

[2019-03-15 08:48] PeterJCLaw commented on #87
Alternatively use the the spiel from https://studentrobotics.org/news/2018-11-14-sr2019-rules-published/.

(I remain unconvinced that this section is remotely useful to _competitors_ though -- they should already know the game _very_ well by now)

[2019-03-15 08:52] PeterJCLaw commented on #87
As a meta point, could I encourage that we focus on https://github.com/srobo/tasks/issues/101 which personally I think is a higher priority than this booklet. The teams know why they're at the competition while guests need a lot more of an introduction. Additionally, any prep for that ticket also benefits competitors (but not so much the other way around).

[2019-03-15 11:18] TomWheal commented on #89
6mx1m

£84 inc VAT - Lead time 4-6 Days
https://vinylbannersprinting.co.uk/product/vinyl-banner-1-0-m-x-6-0-m/
£135 inc VAT - Lead Time ~1 Week
https://www.fastprint.co.uk/banner-printing/pvc-banners-and-vinyl-banners.html
£105 in VAT - Lead Time 4 Days
https://www.colourgraphics.com/pvc-banner-printing/
£142 in VAT - Lead TIme  ~1 Week
https://www.bannerbuzz.co.uk/vinyl-banners

If we want to go

[2019-03-15 11:20] TomWheal commented on #90
I'm happy to refine the design for this, as it's similar to the signage(#83 ) with the python scripts. If I make the designs, can someone (maybe @Tyler-Ward if you have time) okay to look at getting the scripts working for both?

[2019-03-15 11:39] TomWheal commented on #90
Also as there is no lead time on this, it is merely nice for releasing photos after the comp, I'm going to leave this till closer to the competition when I have more time.

[2019-03-15 22:13] Tyler-Ward commented on #123
@RealOrangeOne when is the deadline for teams letting you know if they have mobility requirements?

[2019-03-16 11:18] trickeydan commented on #123
Isn't this done and on the floorplans?

[2019-03-16 12:26] RealOrangeOne commented on #123
I didn't give one, out side of "ASAP". We're only at ~70% open rate, but I suspect we'll see something through soon.

As the ticket description states, this ticket is for allocating team pit locations, rather than which teams go where. I suggest we close this ticket, and create a new one for allocating positions. Allocating positions isn't an urgent issue, and we can theoretically modify it on the

[2019-03-16 12:31] RealOrangeOne commented on #186
The above email has been sent.

We added an extension until 27th April, if teams let us know by 22nd March. The March deadline is also in the rules. Now that we've advertised this, i'm upgrading its status again.

The remaining tasks for this are to work out where to instruct teams to send kits for return, and enumerate those teams which need it, if necessary.

I'm happy that working on this on th

[2019-03-16 12:42] RealOrangeOne opened #211 "Place teams in pit locations"
The logical extension of https://github.com/srobo/tasks/issues/123.

Now that we have locations for team pits (https://github.com/srobo/comp-floorplans), we need to know where to place them.

This should ideally be done on the setup days, to ensure even last minute announcements of needs can be accommodated.

As this information is fairly sensitive, I will store the need on the master teams list f

[2019-03-16 12:42] #123 closed

[2019-03-16 13:47] PeterJCLaw commented on #88
Should we consider other suppliers to compare prices?

:+1:

I think that's fine, as long as the logo has the right font (which we can achieve by rendering the font to a path). I suggest we want the vertically stacked form of the logo (i.e: the same as we're getting on the tee-shirts #85).

I think that's fine, we've never had presentation boxes in the past.

- our logo (as noted above)
- the year

[2019-03-16 14:21] RealOrangeOne commented on #88
This is what we used in the kickstart presentation, which is the trophies from 2013.

![image](https://user-images.githubusercontent.com/6527489/54476562-a5c21e00-47f6-11e9-9a9f-ece117602f89.png)

[2019-03-16 15:05] PeterJCLaw commented on #115
I disagree. At competition-end we need to err towards processing speed. As an example if a team return a kit which is missing a piece or has something massively broken in it, then I think that before competition-end we would want to get them to search for the missing piece/understand from them why the part was broken but not reported and might spend 10 minutes doing so. At competition-end we don't

[2019-03-16 15:11] PeterJCLaw commented on #97
Hrm, if the competition-mode sticks are indeed Rob's, does that mean that the four we found are also in fact Rob's too?

If he's happy for us to use them/donate them to SR (I'm not sure which @richardbarlow means), then that's likely to be the simplest. I'll email him to find out.

[2019-03-16 15:31] PeterJCLaw commented on #211
If we want to mark the locations of each team on the venue maps #92 (which I think we do) and we want to print those (which I think we do), then we need to have decided which teams are where in time to print the maps.

I'd assume however that we can do that printing at the Uni (rather than needing to be done elsewhere), even though it would be in colour. We should check this assumption as if it tu

[2019-03-16 15:43] PeterJCLaw commented on #97
I have emailed Rob.

[2019-03-16 15:57] PeterJCLaw commented on #89
@TomWheal nice.

6m×1m is the size we currently have, so let's stick with that. The current one also has hemmed edges and eyelets, which we probably also want to have again; I think the quotes include that, but just for clarity/posterity.

Are there any particular considerations with any of these suppliers? For example, do they all support a suitably easy format for the drawings and colour-matchin

[2019-03-16 16:12] PeterJCLaw commented on #88
Aha, nice. Let's go with approximately that design unless there's a strong reason not to.

Hrm, we don't seem to have a canonical vertically stacked version of the logo. Should we?
(cc @jimmythompson was it intentional not to have a vertically stacked version of the logo?)

Sizing suggestion, based on getting trophies from @Adimote's [link](https://www.trophies2u.co.uk/products/glass-and-crystal/e

[2019-03-16 16:18] PeterJCLaw commented on #186
:+1:

Likely either me at work or Southampton Uni are good addresses, with a preference for the latter (as most likely that's where the collation event will be) if there's someone there who's able to receive the items.

Related to #115, we should work out how we'll confirm to teams that they can keep the kits longer and how we'll identify that at the competition. Having the person responsible for

[2019-03-16 16:28] TomWheal commented on #89
They are all the same requirements and features as you mentioned, they don’t mention colour matching however as they’re the ‘budget’ suppliers (found some that were quoting £400+) I assume it’ll be fine.

No particular reason for not including a quote from the one Tyler mentioned, apart from the fact I dislike places that don’t offer both imperial and metric options on their site... but if we’re h

[2019-03-16 16:31] TomWheal commented on #211
If we want to use the uni print centre, (they can be expensive), their lead time is about a week.

[2019-03-16 16:42] PeterJCLaw commented on #89
Hrm, I'd assumed that 6m × 1m was effectively the same as 10' × 3', but of course it's not. Not sure what I was thinking. (6m × 1m would of course be 18' ×3').

Perhaps it's better to ask what the ratio we need for our logo plus sponsor logos is? Unless the price difference is ridiculously prohibitive (which it looks like it wouldn't be) I think it's more important to get a size which makes them l

[2019-03-16 16:44] PeterJCLaw commented on #211
Ah, sorry, I meant printing a bunch of copies in labs (I'm assuming we can get some print credits for that).
Useful to have a reference lead-time though.

[2019-03-16 16:48] RealOrangeOne commented on #186
I'll ensure there's a public google sheet with this information on, so those at reception can see which schools have permission to take their kit, and can then log the batteries and charger they take with them.

[2019-03-16 19:55] trickeydan commented on #97
Marked as blocked on obtaining USBs.

[2019-03-16 19:56] trickeydan commented on #69
The topology has now been confirmed with Chris.

[2019-03-16 19:56] #69 closed

[2019-03-16 19:59] Tyler-Ward commented on #211
This information will be needed by the 21st in order to get the required maps created and printed without relying on things not arriving if there is a delay. The map is included in #87. If we expect a last minute location request we have spare pits so can leave one spare on L2 which can be used if we get a problem. The entire venue is accessible though so they can be in other areas if we need to.

[2019-03-16 20:03] trickeydan commented on #196
These will cost us nothing.

Obtained:
[code]

Added to #200 to tick off on comp day.

[2019-03-16 20:03] #196 closed

[2019-03-16 20:05] RealOrangeOne commented on #196
This ticket is to obtain the radios, so technically it's not complete. Although it is an outlier in our patterns, so It's definitely better to rename the issue "Order radios", and leave it closed.

[2019-03-16 20:09] Tyler-Ward commented on #88
In previous years we have budgeted about £130 which I assume included edible prizes as well so this would be quite a but higher.

For engraving If someone has access to a laser cutter we could engrave ourselves. But this might be difficult to arrange. @prophile also mentioned somewhere in southampton we have used which might be worth a look.

[2019-03-16 20:09] trickeydan commented on #149
- SUSU radios are for shepherds
- Malt Vinegar Radios are for control / locations.

[2019-03-16 20:11] PeterJCLaw commented on #196
Can we do something ahead of time to ensure that the radios we're getting from Delta V are compatible with those we're getting from SUSU? If not, what's our fallback for the scenario where they're not compatible?

[2019-03-16 20:11] trickeydan commented on #196
Also obtained SUSU radios to be clear.

Not really. However it doesn't matter as we plan to use the SUSU radios for the Shepherd net, and the head shepherd will have a radio for both nets so can relay messages between if necessary.

[2019-03-16 20:13] PeterJCLaw commented on #196
Aha, that's fine. Just to check then: do we have enough radios to allow the head shepherd to have one of each?

[2019-03-16 20:13] trickeydan commented on #196
Yeah, we have plenty.

[2019-03-16 20:15] antonnikitin97 commented on #202
I can speak to Reena about this and obtaining taster sessions.

[2019-03-16 20:15] trickeydan commented on #113
@jcwilliamson has confirmed to me in person and will put it in the Mountbatten cupboards on Monday.

[2019-03-16 20:15] #113 closed

[2019-03-16 20:16] PeterJCLaw commented on #202
@antonnikitin97 please could you clarify what you mean by "taster sessions"?

[2019-03-16 20:17] antonnikitin97 commented on #110
I will do this.

[2019-03-16 20:18] trickeydan commented on #202
He means leaflets apparently :roll_eyes:

[2019-03-16 20:18] PeterJCLaw commented on #76
Blocked on the Pis making their way to me for configuration.

[2019-03-16 20:18] Tyler-Ward commented on #186
It might be worth considering inventorying (or just recording the part codes of) the batteries and chargers we collect from teams after we have taken them from teams as we are now in charge of them, this will avoid any issues with teams who take kit away still begin marked as having other chargers as well.

[2019-03-16 20:19] PeterJCLaw commented on #118
This will be the Pi 3 which SR owns for this purpose. This is blocked on that Pi making its way to me.

[2019-03-16 20:21] antonnikitin97 commented on #202
My apologies, I will endeavour to be less ambiguous in the future :)

[2019-03-16 20:21] #111 closed

[2019-03-16 20:29] trickeydan commented on #189
Apparently there have been issues with this. Undergrads are not allowed to book estates as expected.

Joyce is fighting this for us. I am unsure how successful she'll be.

Alternatives:

- [Office Removal Company](http://mastermoversremovals.co.uk/man-and-van-southampton/)
- ~Burn out volunteers~
- Move things in cars

[2019-03-16 20:30] RealOrangeOne commented on #121
We should also ensure the volunteers who are going to be doing this for the final slot on Saturday, and the first slot on Sunday know how to handle teams asking for batteries.

This will likely just be done with a google sheet.

[2019-03-16 20:33] RealOrangeOne commented on #186
I like the idea of this in theory, but we'd need someone who knows how to use the inventory to be available on both Saturday morning for when teams drop them off, and Sunday morning, for when teams being them bach from overnight.

I think ensuring teams get the same batteries back is unlikely to work well. If we want to manually inventory them, then this links closely to https://github.com/srobo/t

[2019-03-16 20:35] Tyler-Ward commented on #110
These will need to be printed with punch holes to aid binding.

[2019-03-16 20:35] Tyler-Ward commented on #110
@PeterJCLaw how many do we need to print

[2019-03-16 20:41] RealOrangeOne commented on #189
I don't think suggesting volunteers do this by hand is useful, nor burnout. If we're using volunteers, we'll be using cars, trolleys, and anything else we can get our hands on, which may also include a van from #182, depending on when that happens.

If we can't get university estates, it might also be useful to look into how possible it would be to move things directly from `53/4025` to SUSU on We

[2019-03-16 20:44] trickeydan commented on #126
We are going to go all out on press coverage.

[2019-03-16 20:47] RealOrangeOne commented on #110
2 per match, plus ~20 for spares.

The spares number is quite low, because the lead time for additional spares is quite low.

[2019-03-16 20:48] Tyler-Ward commented on #186
We can avoid the need for someone trained in inventory use by just collecting the part numbers in a google sheet and inventorying them in bulk after teams have arrived.

I can't see any way we could get teams the same parts back they came with without a lot of effort, not sure where that idea has come from.

[2019-03-16 20:49] trickeydan commented on #126
Places we are inviting:

- [ ] BBC
- [ ] IET
- [ ] The Daily Echo
- [ ] TechCrunch
- [ ] The Wessex Scene
- [ ] IEEE
- [ ] ECS Press
- [ ] Central Uni Press
- [ ] Times Higher Education
- [ ] The Guardian
- [ ] The Independent
- [ ] Radio Solent
- [ ] Jack FM / The Breeze
- [ ] BBC Radio 2 / 4
- [ ] Wired
- [ ] The Verge
- [ ] IMechE

[2019-03-16 20:50] RealOrangeOne commented on #126
It's worth liaising with @antoinepetty to work out if any of the above list have already been invited.

[2019-03-16 20:50] Tyler-Ward commented on #189
We don't have access to SUSU before Thursday morning.

[2019-03-16 20:52] trickeydan commented on #110
I would class about an hour as medium lead time during the competition.

[2019-03-16 20:54] Tyler-Ward commented on #110
How many matches will that be for?
Also we should have some for training marshals.

Given how few volunteers will have access to printing and the fact that they might be busy the lead time will be quite high so. However we can do a print run at lunchtime on the sunday if we are running low on spares.

[2019-03-16 20:54] RealOrangeOne commented on #110
We have a printer we can have pre-prepared and setup in the cube, therefore the lead time is "low".

src: https://github.com/srobo/tasks/issues/183#issuecomment-471165419

[2019-03-16 20:54] trickeydan opened #212 "Invite important people"
- Important Uni People
- Local MPs
etc

[2019-03-16 20:58] antoinepetty commented on #126
Damn I like that list. I invited The Daily Echo and BBC South Today but that's it from that list.
I wasn't sure how to pitch such a visual event to radio.

Is the rest being managed by Southampton volunteers now?

[2019-03-16 21:01] trickeydan commented on #110
It is untested. Given that it is an inkjet, it is probably blocked up by now.

Additionally, it has run out of ink https://github.com/srobo/tasks/issues/183#issuecomment-471165736, a replacement costs [£23.84](https://www.amazon.co.uk/HP-Tri-color-Original-Cartridges-X4D37AE/dp/B01LXLFF6H). If we were to purchase another one, it would degrade in the container and would have to be replaced next yea

[2019-03-16 21:07] trickeydan commented on #126
Phone interviews with volunteers and competitors.

Anton and Jack are working on it currently. They are very excitable currently.

[2019-03-16 21:10] Tyler-Ward commented on #204
Deposit has been paid, will confirm remaining details with the supplier then this can be closed

[2019-03-16 21:13] Scarzy commented on #88
We really don't want these to look knaff. Unless you know someone who can do a REALLY good job of it, then get it's definitely worth getting it done by a proper professional engraver.

[2019-03-16 21:34] PeterJCLaw commented on #126
"The pictures are always better on radio".

[2019-03-16 21:35] PeterJCLaw commented on #121
@RealOrangeOne what's special about the first slot on Sunday? Is it that the team might already have a battery from overnight?

[2019-03-16 21:43] PeterJCLaw commented on #121
@RealOrangeOne is that comment relevant here? It sounds more like a Helpdesk thing (since Helpdesk is where teams get batteries from)

[2019-03-16 21:45] PeterJCLaw opened #213 "Plan how we will do overnight loans of batteries etc. at the competition"
Some teams will want to have a battery or two, possibly plus a charger overnight at the competition.

We need to have a way to allow this while also keeping track of who has taken this up.
We probably _don't_ want this to be in the inventory as that could be overly complicated.

See also #121 (battery charging) #122 (helpdesk) #186 (extended kit loans).

[2019-03-16 21:45] PeterJCLaw commented on #186
I suspect it would be simpler to record the teams who, when the arrive, _don't_ give us all the components which we're taking off them. I'm only aware of one team which has had replacement battery related things, and I think they've still got the normal numbers of them.

This negative recording will most likely not have anything to record and we can sync the inventory at some point during the day

[2019-03-16 21:47] RealOrangeOne commented on #213
As #121 and #122 are being handled by @trickeydan, it makes sense to assign as such.

[2019-03-16 21:48] Scarzy commented on #92
Is this map accurate in terms of where everything is?

If so, I have some concerns, like the pits clearly blocking doorways/corridors...

Also, we should probably consider the use of the word "Staging" when there is also actual staging right next to it. It promises to get confusing with what staging people are/aren't allowed in at different times.

[2019-03-16 21:58] RealOrangeOne commented on #186
Discussion on how to do overnight loan to teams now has its own ticket https://github.com/srobo/tasks/issues/213.

Extending kit can be done by a volunteer at reception noting down the part numbers for the replaced items (batteries, charger) in a sheet when they leave. Volunteers can be instructed that those who haven't been given prior consent _must_ return their kit.

With this list, we can modi

[2019-03-16 22:00] Tyler-Ward commented on #92
The map is based off the maps in #65 check the maps in https://github.com/srobo/comp-floorplans for the full details of gaps between the zones and other areas.

Staging is what is defined in the rules as the location to present robots at before a match.

[2019-03-16 22:03] trickeydan commented on #213
@Adimote

[2019-03-16 22:05] Tyler-Ward commented on #124
We can no longer open the fire doors at the end of bar 2 as they are now locked.

@Scarzy this might be good one for you to look at

[2019-03-16 22:08] trickeydan commented on #124
Clarification, there are emergency exit buttons and magnetics locks. These will open in the event of a fire alarm.

[2019-03-16 22:09] RealOrangeOne commented on #213
Context?

[2019-03-16 22:10] Scarzy commented on #140
I was thinking about this, and I'm not sure we need any additional documentation for this. Mainly because a checklist risks becoming too restrictive whereas this is something that requires a lot more common sense. I definitely don't want a robot getting all ticks and therefore passed whilst something not on the list actually makes it unsafe (it also becomes very hard to explain to the teams that d

[2019-03-16 22:18] Scarzy commented on #92
I know, and it's also the name we've used historically. It's just unfortunate that this year it's right next to an actual stage. Perhaps marking the stage as "raised viewing area" or something similar will help remove any ambiguity?

[2019-03-16 22:19] RealOrangeOne commented on #140
I generally agree with this, having a specific checklist for what constitutes _safe_ will probably end badly. I think it's worth having a list of things which aren't necessary safety related, but still come under the pre-competition check, namely:

- 50x50x50cm bounds
- Battery is correctly protected
- All power (unless consent otherwise given) comes through the power board

I realise this comment

[2019-03-16 22:33] Scarzy commented on #65
Level 2:
The gap between the 2 pits top right appears to be rather narrow. This is the route through to the lift, as such is likely to see a fair amount of traffic, especially as I'd rather robots went via the lift rather than the stairs, as we've done in previous years, for safety reasons.

Level 3:
The pit nearest the lift is rather blocking the corridor next to it.  From what I can see, I see n

[2019-03-16 22:37] Scarzy commented on #140
@RealOrangeOne See the first 3 bullet points in the Robot Inspector guidance :P

To clarify; I see no need for _additional_ documentation. I'm still expecting the Robot Inspector document and the rulebook to be used.

[2019-03-16 22:56] PeterJCLaw commented on #110
We shouldn't rely on the printer for printing large volumes of things. It's fine for spare maps & schedules for the shepherds, but as it's a standard home-office printer it'll take far too long to print score-sheets on.

Assuming that we have about 100 matches (which is about right) and allowing for some spares, I'd suggest that we get 250 copies of the score-sheets.

As a side-point: note that we

[2019-03-16 23:03] PeterJCLaw opened #214 "Arrange in-venue colour printing capability"
We're going to want to be able to print various things in the venue at very short notice. We almost certainly need direct access to a printer.

Examples:
* Assuming that the shepherding will work like it has in the past, we're going to want to be able to print updated shepherding sheets (these need to be colour printed)
* We often end up wanting to print more maps too

We do own a printer. I'm not

[2019-03-16 23:05] PeterJCLaw commented on #206
(renaming from "kit" to "equipment" to disambiguate vs team kits)

[2019-03-16 23:05] PeterJCLaw commented on #205
(renaming from "kit" to "equipment" to disambiguate vs team kits)

[2019-03-16 23:08] RealOrangeOne commented on #214
Needs budget signoff for purchasing cartridges.

[2019-03-16 23:10] RealOrangeOne commented on #140
That's exactly where I got said points from.

In that case yes I second that this issue can be closed, considering we have said document and it can be referenced.

[2019-03-16 23:12] Tyler-Ward commented on #65
Unfortunately the passenger lift in SUSU is very small, it will just about fit two people and robots, and is very slow as i remember so moving the robots needed using it will be tight with the current schedule. We could probably do it but would need volunteers on each floor to manage lift traffic.

[2019-03-16 23:24] RealOrangeOne commented on #73
Regarding the whole competition photo, I see a few options:

- Do it just after lunch on Saturday, and push the whole schedule back ~30 minutes
- Use some of the padding between league matches and knockouts on Sunday, and push the rest of the schedule back ~15 minutes. I doubt we'd need to change the time we close, as 45 minutes to clear out teams sounds quite high anyway.

I'm personally leaning

[2019-03-16 23:30] Tyler-Ward commented on #92
I have deliberately left the stage off the map to avoid adding locations that competitors and visitors wont need to know the location of specifically. I can add it if people think it is necessary but should be fairly clear what is going on when people come into the cube to watch or deliver robots.

[2019-03-16 23:34] Tyler-Ward commented on #73
Option 2 is probably the best of these, I expect some teams may use the full 45 minutes but there is going to be plenty to do elsewhere that delaying takedown in some areas wont be an issue.

[2019-03-16 23:35] RealOrangeOne commented on #73
I agree. If we're happy with that I can update the HackMD and https://github.com/srobo/website/pull/138

[2019-03-16 23:35] Tyler-Ward commented on #73
Sounds good, lets do it.

[2019-03-16 23:37] trickeydan commented on #214
There is on-site printing at the university.

Using our printer is more expensive than this. See https://github.com/srobo/tasks/issues/110#issuecomment-473592515

It is significantly easier to send a volunteer to the printer in B40 (literally next door).

[2019-03-16 23:48] RealOrangeOne commented on #73
Added as https://github.com/srobo/website/pull/138/commits/61c1fd24a641167c25606c349cf7df39374d94b2.

[2019-03-17 00:40] trickeydan commented on #121
I have written docs for both the helpdesk and battery charging side.

I currently have nowhere to put them though, blocked on https://github.com/srobo/runbook/pull/8

[2019-03-17 00:42] trickeydan commented on #121
I think the process here is probably more relevant to H&S than Helpdesk / Battery Charging. @Scarzy I presume batteries are not to be issued until the robot is deemed safe?

[2019-03-17 08:32] Scarzy commented on #121
Incorrect. The most common safety issue is that teams have failed to protect the battery, which requires a battery to be able to test. Also, it's worth remembering that performing the safety checks takes time, and having teams unable to do anything whilst waiting to be tested is a bit unfair. As such it makes most sense for them to have immediate access to a battery, and only have it withdrawn in

[2019-03-17 10:11] TomWheal commented on #189
Hiring a university mini bus is an option as well, I should be allowed to hire one by the competition

[2019-03-17 10:40] #161 closed

[2019-03-17 10:46] RealOrangeOne commented on #208
We can base these lists off #207 and #205

[2019-03-17 11:25] RealOrangeOne commented on #121
https://github.com/srobo/runbook/pull/8 has merged, so this is unblocked.

[2019-03-17 11:32] PeterJCLaw opened #215 "Unite Peter with the Pis"
The Pis which we're going to use for the display screens (#76, #96) and compbox (#118) need to make their way to me so that I can configure them.

This task needs to be done by someone in Southampton and involves:
- going in the cupboard to extract the Pis
- either giving them to someone who can deliver them to be in person (perhaps @prophile) or sending them via post

[2019-03-17 11:39] RealOrangeOne commented on #145
I've created a google sheet which we can use to plan this. In my experience, whiteboards end up messy, and don't show a history of teams slots to prevent abuse. https://docs.google.com/spreadsheets/d/1voJr27a9vkpTzpZntFwjZwO_aher9BpJrra62T0Te4E/edit?usp=sharing (write available upon request)

There's 20 slots throughout the weekend, and 4 corners, so there's 80 possible tinker time slots. Given th

[2019-03-17 11:47] PeterJCLaw commented on #214
For context: we need a sub-minute turnaround on the shepherding sheets as the time between the end of the previous knockout round and the start of the next one is very short.

What's the level of effort required to use the printer in B40, and how long will it take between rendering the pages to print and having the paper in your hands?

This task is about having _direct_ access to a colour printer

[2019-03-17 12:01] PeterJCLaw commented on #92
Perhaps call it "Match Staging" for added clarity?

Did the SUSU change the toilets on L2? The last time I was there, the gents were closer to the Cube, with the ladies being the other side.

The text here is quite small. Even looking at it on my monitor (so it's roughly A4 at that point), the text is not especially easy to read. The slim kerning probably doesn't help with this. Can we make the te

[2019-03-17 12:04] PeterJCLaw commented on #145
Whiteboards have the superb advantage of being easily readable by everyone, at a good distance, as well as not requiring an internet connection or power. I'm not aware we've had any issues with them becoming illegible or messy.

[2019-03-17 12:54] TomWheal commented on #212
Unsure if UKESF is on this list but they would be worth inviting

[2019-03-17 12:55] jcwilliamson commented on #214
There is also a university printer at the top of the stairs behind the desk, that might be an option if we ask susu.

[2019-03-17 12:56] jcwilliamson commented on #212
A representative from power academy might be worth investigating also.

[2019-03-17 14:06] RealOrangeOne commented on #212
This ticket is closely related to #126, I don't know if the distinction warrants a separate ticket?

[2019-03-17 14:40] PeterJCLaw commented on #61
Ok, I'm not sure what other issues I was hitting previously, however having applied the fixes discovered in the patch above (plus merging some other latent fixes which were in the repos), this now works for me locally.

[2019-03-17 15:18] RealOrangeOne commented on #125
https://srobo.github.io/runbook/competition/teams/process-docs/sr2017-orientation-and-pit-rules/ may be of use

[2019-03-17 15:33] Tyler-Ward commented on #157
Some prices from Costco for reference
hot cups: £11.98/150
plastic cups: £3.22/100
Fruit juice: £9.22 orange/£7.18 apple for 12L
Edible prizes (Lindor) 4*200g = 13.18

[2019-03-17 16:09] PeterJCLaw commented on #61
After some beating, this is now working.

[2019-03-17 16:09] #61 closed

[2019-03-17 16:22] Adimote commented on #213
We decided last meeting to avoid assigning to people in Soton because they're very burnt out

[2019-03-17 16:51] Tyler-Ward commented on #92
Sounds good, now done

Oops good spot now fixed

I have converted the text to opensans condensed rather than oswald and made it larger, it is also now in orange as it overlaps other black markings.

This is a problem with the building in general as different floors have different shapes (due to it being half in a hill) and compounded by the fact that we are using more of a diagonal slice through t

[2019-03-17 17:05] PeterJCLaw commented on #59
Following the completion of #61, we've just done a full stack test of this using a ticket generated from `patience` for a test user. I'm happy that this works, though we still need to create the setup docs.

[2019-03-17 17:16] trickeydan commented on #212
Press /= Important People within Uni, e.g Joyce, Bashir, Paul Lewin, Denis

[2019-03-17 17:17] trickeydan commented on #214
University printers do colour printing...

[2019-03-17 17:18] trickeydan opened #216 "Test Printer in Storage"
If we are to use this printer, we need to test it is working.

[2019-03-17 17:19] trickeydan commented on #214
Blocked on #216 if you wish to use that printer

[2019-03-17 17:22] Adimote commented on #88
I had a look around for other suppliers:

- https://www.trophystore.co.uk/peak-jade-glass-plaque-award-20-5cm More expensive for larger sizes, 17.50 per engraving. Not worth calculating.

- https://www.crystal-awards-supplier.co.uk/10in-tall-jade-glass-mountain-award.html is 3x more expensive for everything. Not worth calculating.

- https://www.trophymaster.co.uk/peak6-jade-glass-8mm-03-thick-203

[2019-03-17 17:23] RealOrangeOne opened #217 "Prepare reception machines."
Now that we've done https://github.com/srobo/tasks/issues/59, we need to install the software on the machines provided by #100.

## Requirements
- Python 2
    - PyGTK
    - zbarpygtk
- https://git.studentrobotics.org/cgit/tickets.git/ cloned _somewhere_
- The private `ticket.key` file (currently possessed by @PeterJCLaw and @RealOrangeOne )
- FIlesystem encryption

I've tested this on [Antergos](

[2019-03-17 17:24] PeterJCLaw commented on #60
Here's roughly what I imagine a replacement looking like:
* Probably a Python backend, with a minimal HTTP JSON API (SR is mostly Python, so sticking with that is a good idea)
* Maybe runs as a stateless service? (If so, how do we record that a user has already been checked in? Defer that to `nemesis`?)
* Defers to [`nemesis`](https://github.com/PeterJCLaw/nemesis/) for auth and user information (

[2019-03-17 17:25] trickeydan commented on #217
Can we please use a stable OS.

Debian 9 will do.

[2019-03-17 17:25] trickeydan opened #218 "Obtain webcams for Ticket Scanning"
Required for #217.

[2019-03-17 17:26] #59 closed

[2019-03-17 17:27] PeterJCLaw commented on #218
We have a bunch of spare kit webcams. They're what we've used in the past.

[2019-03-17 17:29] RealOrangeOne commented on #217
It looks like the required packages are available in the Debian APT repos, so yes let's use that instead!

[2019-03-17 17:32] trickeydan commented on #218
We need to ensure that these are taken to the venue and set aside then.

[2019-03-17 17:37] RealOrangeOne commented on #212
I have no idea what this means?

[2019-03-17 17:49] Tyler-Ward commented on #217
Are we planning on installing this on live USB sticks or do we need to reformat the machines being used for reception? I believe currently they run windows for use with the minibots mindstorms kits.

[2019-03-17 17:50] RealOrangeOne commented on #217
Reformat if possible, unless we can get access to some decent quality and capacity USB drives.

[2019-03-17 17:51] Tyler-Ward commented on #77
Although mentioned on slack the current status for reference: SUSU tv have been contacted but are not sure on availability we are waiting for them to get back to us to confirm.

[2019-03-17 17:55] Tyler-Ward commented on #217
If we need to reformat then we might need to find new machines for use on reception as we don't want to have to rebuild all the minibots outreach machines after the competition.

[2019-03-17 18:02] RealOrangeOne commented on #217
The UI doesn't work on windows, so we'll need to source some USBs. IIRC there's some USBs with fedora installed on, so we can use those. Worst comes to worst we can just partition it

[2019-03-17 18:17] PeterJCLaw commented on #96
Blocked on the Pis making their way to me for configuration.

[2019-03-17 18:18] PeterJCLaw commented on #76
We've worked out a plan for what's going where. The remaining part of this is actually configuring the Pis, which is covered by #96.

[2019-03-17 18:18] #76 closed

[2019-03-17 18:19] trickeydan commented on #217
We aren't reformatting the SRO laptops.

[2019-03-17 18:19] PeterJCLaw commented on #70
Since we've outsourced this, do we need this ticket any more (cc @trickeydan as you're managing #69 and the outsourcing of this)?

[2019-03-17 18:20] Tyler-Ward opened #219 "Prepare and send out volunteering information pack"
We should email all the volunteers with information about where to go on the day, parking, who to contact, and any other info we need to tell them. We should aim to send this off around the 25th.

[2019-03-17 18:21] PeterJCLaw commented on #218
The spare webcams are in storage. #206 covers moving things from there to the venue.

I suggest we want at least 5 cameras for this (I think we're doing 4 lanes of reception?) so this allows a spare. It'll almost certainly be easier to just bring the box.

[2019-03-17 18:22] trickeydan commented on #70
I think we can safely close this ticket. Chris has it planned, it's difficult, but doable.

I have asked him to document all of his decisions for future reference.

Meta: There's going to be a 5GHz radio link between Bar 3 and concourse due to fire safety restrictions.

[2019-03-17 18:22] #70 closed

[2019-03-17 18:22] PeterJCLaw commented on #154
@Adimote can you take this?

[2019-03-17 18:23] Tyler-Ward commented on #218
We have two lanes of reception on the current floor plans if we want to increase to four we will need more computers and possibly more wristband crimpers.

[2019-03-17 18:24] Tyler-Ward commented on #70
Were we not planning on this data being put into the floorplans before closing per earlier in person discussions?

[2019-03-17 18:24] PeterJCLaw commented on #159
@Adimote as you're handling the volunteer schedule #80, could you handle this?
(I'm not actually sure why this is a separate ticket rather than just being one of the roles we're going to have)

[2019-03-17 18:24] Adimote commented on #219
If we can get the booklet done #87 by that time it would be great to send them a PDF of it too.

[2019-03-17 18:25] Adimote commented on #73
Can we close this now?

[2019-03-17 18:25] trickeydan commented on #70
Yes, but that is a separate issue to planning the layout imo. The layout has been planned, just isn't in our docs yet. I'll mention it to Chris.

[2019-03-17 18:28] Tyler-Ward commented on #159
it is a separate ticket as we currently have no way to move the water around.

[2019-03-17 18:29] Tyler-Ward opened #220 "Plan setup schedule and organisation"
We need a plan for the setup days

[2019-03-17 18:29] Tyler-Ward commented on #73
I have split the setup schedule into #220 so this can be closed

[2019-03-17 18:29] #73 closed

[2019-03-17 18:33] PeterJCLaw commented on #105
What are the markers on the side of the tokens being made from?

[2019-03-17 18:37] Adimote commented on #70
Given the history, I'd advocate that someone reviews Chris' plans and certifies them as "not overcomplicated"

[2019-03-17 18:38] RealOrangeOne commented on #105
ah, good catch. I believe in the past it's been printed on card, which we'll need to source and print.

[2019-03-17 18:39] PeterJCLaw opened #221 "Organise token markers"
We have cardboard boxes for the tokens (#203, #105) and will likely be constructing them during the setup days (#107), though we need markers for the sides of them.

The spec of the markers are in the docs (https://studentrobotics.org/docs/programming/sr/vision/markers) and the game-markers repo contains the PDFs we need (https://github.com/srobo/game-markers/tree/master/SR2019/comp; scroll to the

[2019-03-17 18:40] RealOrangeOne commented on #105
This has been extracted as #221

[2019-03-17 18:40] #105 closed

[2019-03-17 18:41] PeterJCLaw commented on #203
For reference, how many tokens of each type did we get in the end?

[2019-03-17 18:42] PeterJCLaw commented on #159
Suggestions:
- bottles
- plastic cups
- a tray

We've used a tray in the past, but I don't recall seeing one anywhere in the inventory or storage, so it's possible we borrowed one from somewhere.

I have a tray not unlike this https://www.therange.co.uk/cooking-and-dining/tableware-and-dinnerware/serveware/serving-trays/simply-polka-dots-tea-tray/ which I could probably bring, though given how che

[2019-03-17 18:42] Tyler-Ward commented on #203
75 have been ordered

[2019-03-17 18:43] RealOrangeOne commented on #70
I really think we should have updated our plans (or at least documented exactly what's being done) _before_ closing this ticket, to match how we've done everything else. A plan isn't really a plan until it's documented somewhere.

[2019-03-17 18:47] PeterJCLaw commented on #88
@Adimote nice :+1:
If they come in (roughly) the same sizes, Trophymaster seems likely to be fine. Do you want to grab #134 as well?

Related question: how do the lead times compare?

[2019-03-17 18:49] PeterJCLaw commented on #132
@antoinepetty would you be able to do this? I'm hoping that it's fairly easy to find the teams which have posted any movement.
There's a list of teams in a spreadsheet somewhere, or alternatively the compstate has a list of teams along with whether they're a rookie at https://github.com/srobo/sr2019-comp/blob/master/teams.yaml.

[2019-03-17 18:49] RealOrangeOne commented on #217
Then unless we can get some decent USB drives, we can just partition them, which is fine. And I suspect useful for SRO to have some additional machines which also run Linux

[2019-03-17 18:53] PeterJCLaw commented on #94
I think this is done? https://github.com/srobo/website/pull/138 added a schedule; is there anything more here?

[2019-03-17 18:55] PeterJCLaw commented on #68
@antonnikitin97 do you have an update on this? I think we should look at fallbacks if we don't hear something soon.

[2019-03-17 18:55] RealOrangeOne commented on #94
Correct, this is a duplicate of #161

[2019-03-17 18:55] #94 closed

[2019-03-17 18:58] PeterJCLaw commented on #66
@RealOrangeOne have any teachers asked for this? (I'm assuming that they would have done so)

[2019-03-17 19:02] PeterJCLaw commented on #213
@RealOrangeOne perhaps you or @Scarzy could look at this (since you're handling semi-related things)?

[2019-03-17 19:04] PeterJCLaw commented on #218
More likely I misremembered.

[2019-03-17 19:04] RealOrangeOne commented on #213
Yeah I can take this, and word it into https://github.com/srobo/runbook/pull/16

[2019-03-17 19:06] RealOrangeOne commented on #66
Yes, 2. I was hoping these would have been done a long time ago. I tried to hunt some out from previous years to save time but couldn't find any.

@Scarzy what's the status of these?

[2019-03-17 19:07] antoinepetty commented on #132
I have not yet seen social media activity from any rookie team (Based on teams I have found via the forum, googling TLAs, and those using our hashtags or @).
So I guess it's still all to play for?

[2019-03-17 19:08] RealOrangeOne commented on #132
The rules specify it has to come through the forum, so we need to look there primarily.

I honestly don't know what happens if no rookie team posts... I guess we'll work that one out when it comes to it.

[2019-03-17 19:12] PeterJCLaw commented on #221
@TomWheal as you're handling a bunch of printing tasks, would you be able to look into this?

[2019-03-17 19:13] PeterJCLaw commented on #132
If no rookie team posts on the forums I suggest we allow looking at other postings.

@antoinepetty perhaps we could craft a social media post which reminded teams to post their robot movements, without making it too obvious that no-one has yet won this?

[2019-03-17 19:25] PeterJCLaw commented on #217
We have a bunch of USB sticks which were spares for team kits. While they're not very large, I'm reasonably sure you can fit a Debian image onto them. We don't need them to have particularly stellar performance as the UI is pretty lightweight and will be all in memory by the time it matters.

The challenge there is wanting to encrypt the key somehow, though that's a challenge when running anything

[2019-03-17 19:30] PeterJCLaw commented on #107
Construction of the tokens can probably happen at the venue during the setup days. We'll have lots of volunteers around, meaning that we should have good parallelism to deploy.

@sedders123 are you around on the setup days? If so, as you're doing a bunch of staging/arena things, would you be able to coordinate this and work with @Tyler-Ward to find a slot in the setup schedule (#220)?

[2019-03-17 19:31] RealOrangeOne commented on #132
At time of writing, no rookie teams have posted on the forum in accordance with the rules.

[2019-03-17 19:31] PeterJCLaw commented on #127
@antoinepetty did we get any responses to this?

[2019-03-17 19:32] PeterJCLaw commented on #157
:+1: to plastic cups.
Could we also add a tray to transport refreshments to volunteers (#159)? I'm guessing that would cost about £5, but we should be able to re-use it in the future. (We've had one in the past, but I don't know where it came from).

[2019-03-17 19:38] antoinepetty commented on #132
I think I'll need a hand with the wording on this one. Here's what I have so far: https://docs.google.com/document/d/1_We1AUOf6jGF5Nn6jqF9LhHSviEFyFo3w0YMCTCxqLc/edit

[2019-03-17 19:40] RealOrangeOne commented on #211
Another point to consider with this is that teams vary in size, some as high as 35! We should ensure those teams with incredibly large teams are placed in locations with plenty of space around them, such as on L4.

[2019-03-17 19:40] antoinepetty commented on #127
Nothing yet

[2019-03-17 19:41] RealOrangeOne commented on #132
I think that wording is fine. It looks like it's lifted straight from the rules, which is definitely a good thing!

[2019-03-17 20:16] antoinepetty commented on #132
Post scheduled for tomorrow afternoon.

[2019-03-17 21:32] sedders123 commented on #107
I shall be around on the setup days and am happy to coordinate this.

[2019-03-17 21:45] PeterJCLaw commented on #108
I've got a WIP of this on my [`sr2019` branch](https://github.com/PeterJCLaw/srcomp-scorer/tree/sr2019).

[2019-03-17 22:02] PeterJCLaw commented on #92
I've had a very quick look at the updated maps.

The colour in the text helps a bit, though reading the words over the top of the borders isn't great. Is there something we can do about that? Maybe lighter grey, or possibly move some of the text out and use lines to indicate what the text relates to?

I'd still be tempted to try a _much_ lighter grey for the "floor", perhaps in the HTML #eee range

[2019-03-17 22:08] RealOrangeOne commented on #188
I've now tested this camera, and after finding the "remember power state after power cycle" option, it's working just as we need it. It comes on and outputs over the builtin HDMI port (1080p60) once powered, and shuts down shortly after power is lost (once the builtin battery is drained).

We can also use the mobile app from my phone to configure things if necessary.

Things we need which I don't

[2019-03-17 23:11] trickeydan commented on #68
Not needed. I spoke to @antonnikitin97 about this yesterday. He has it handled.

I can handle a fallback if needed, although it won't.

[2019-03-17 23:11] WillB97 commented on #69
What is this topology that has been agreed on, I have seen mentions elsewhere of a 5GHz radio link but there are no details of this in the hackmd.

[2019-03-17 23:11] WillB97 commented on #70
I agree with @Adimote, if the proposed design is sufficiently complicated that there are likely to be issues implementing it, we should explore simpler solutions which require less on the day setup.

[2019-03-17 23:33] Tyler-Ward commented on #92
I haven't added it to git yet as we don't seem to have an appropriate repo for this yet, have attached the map source here for you.
[maps.zip](https://github.com/srobo/tasks/files/2975864/maps.zip)

[2019-03-17 23:40] Tyler-Ward commented on #188
In the past we charge the camera from the truss there is plenty of power up there.
For hdmi capture we plugged the output into the ATEM mixer directly.
For getting the video from the truss we used SUSU's SDI converters and preview monitors.

[2019-03-17 23:42] Scarzy commented on #65
Hmm... That's inconvenient. Still, that passageway should be opened up. Any disabled competitors or visitors will need to use it, and that shouldn't be impeded by other teams pits. Especially as for anyone just coming out of the lift that is their fire escape route.

[2019-03-17 23:43] Scarzy commented on #66
@RealOrangeOne I started working on these over this weekend. They are mostly done but I need a couple more days.

I raised a couple of concerns on #65 which I'd also like some feedback on before I can finalise them.

[2019-03-17 23:57] trickeydan commented on #70
@Tyler-Ward and I can vouch for this.

[2019-03-17 23:59] trickeydan commented on #69
It's floating around partially in an email thread, and on paper. The hackmd was the specification.

[2019-03-18 00:01] trickeydan commented on #159
Might be able to get bottles from the uni - #202

[2019-03-18 00:07] Adimote commented on #154
I just sent an email trying to convert some of those Maybe's into Yes-es. I'll take up the task of actually booking the meal.

With this number of people it's best to get people's menu choices before-hand. I think that's in scope if I sort it on Monday.

[2019-03-18 00:13] Adimote commented on #121
https://hackmd.io/2FKmAGKzSKm2OuTWh3M9UA has a lot of content on battery charging (it uses the runbook as a base), sadly @trickeydan is too busy to finish this.

[2019-03-18 00:13] Adimote commented on #122
https://hackmd.io/2FKmAGKzSKm2OuTWh3M9UA has some info on how helpdesk people should handle battery charging, sadly @trickeydan is too busy to finish this.

[2019-03-18 00:15] trickeydan commented on #217
Add a separate LUKS encrypted partition on the USBs that contains the keys. That way if the USB is removed the encryption key is lost and the key is still secure.

[2019-03-18 00:18] Adimote commented on #159
@PeterJCLaw RUB lids work really well as trays, I'll take this

[2019-03-18 00:36] Adimote commented on #150
I've finished assigning the 'Head Helpdesker' role in the task schedule up to the end of the Finals (in the process of finishing #80, which will take some more time), so I'm going to declare this done.

[2019-03-18 00:43] Adimote commented on #80
@Tyler-Ward What time do we need the photography studio to be open from/to?

[2019-03-18 00:49] Tyler-Ward commented on #80
Speed can be a bit variable for the team photos. Given the number of teams I would suggest opening it when matches start on the Sunday so it will be done before the knockouts start.

[2019-03-18 01:26] WillB97 commented on #142
L2 is already looking rather crowded, Bar 3 has space for this

[2019-03-18 08:26] RealOrangeOne commented on #188
In that case, I believe this ticket is resolved. If we have access to the above kit (which it sounds like we do), then we're done!

[2019-03-18 08:29] RealOrangeOne commented on #65
We're planning to relocate teams with disabled competitors to L2, which removes the pressure on the lift (#211). I suspect teams will not use the lift for robots, considering the stairs will be much faster, even if they walk slow enough to be considered more than safe.

[2019-03-18 09:25] Tyler-Ward commented on #188
we still need to acquire the truss mounting hardware unless you already have that.

[2019-03-18 09:38] RealOrangeOne commented on #188
The only mounting the camera comes with is to a flat surface, and it doesn't support the go-pro adapters. I suspect a generous application of duct tape will handle this nicely, mounting it to a vertical bar in the truss, especially considering the camera is cylindrical.

[2019-03-18 09:44] Tyler-Ward commented on #141
I will order the above this evening unless there are any other comments before then

[2019-03-18 09:46] Tyler-Ward commented on #184
We should plan for this playlist to run to the start of the awards #128

[2019-03-18 09:47] Tyler-Ward commented on #95
@BitBait any update on the status of this?

[2019-03-18 09:50] TomWheal commented on #89
The 6x1m works best for the logo + sponsors.
@Tyler-Ward whats the budget for this? I Suggest we maybe fit the banner to the budget, and try and get as close as we can.

[2019-03-18 09:51] Tyler-Ward commented on #88
£148 for trophies is fine if you are able to order.

[2019-03-18 09:53] Tyler-Ward commented on #81
I have added a load of comments to the doc on various roles, will fill in setup and other missing tech roles this evening.

[2019-03-18 09:54] Tyler-Ward commented on #98
If we cant verify what we have we should order what we need and keep the stuff in the container as spares/stuff for future years. Can someone build a purchasing list for what we need so i can approve.

[2019-03-18 09:54] Tyler-Ward commented on #134
@Adimote are you planning on taking this on?

[2019-03-18 09:55] Tyler-Ward commented on #143
we should probably also plan for some posts during setup otherwise they are likley to be missed.

[2019-03-18 09:58] Tyler-Ward commented on #89
we have a budget for branding material which has a fair amount left but also needs to cover other things as well.

[2019-03-18 10:00] WillB97 commented on #65
The 4 teams along the bar in level 2 were placed rather arbitrarily and there is space to move them along towards the cube entrance.

That is already a narrow corridor and the main walking route is through the large doors past the lift. We could but those columns together, my thinking was having several walkways reduced the concentration of traffic.

[2019-03-18 10:02] Tyler-Ward commented on #204
Supplier has confirmed remainder of the invoice needs to be paid prior to the event but otherwise we are done here, await deliver in #200

[2019-03-18 10:02] #204 closed

[2019-03-18 10:05] WillB97 commented on #188
For later reference:
There are currently 4 13A sockets in the center of the truss so a mains USB adapter will be needed.

Last year the video was run off the truss on HDMI so the SDI converters are only needed if we need to transport the signal beyond the balcony.

There was an issue last year as the ATEMs are clocked for SUSUtv's 1080i50 feeds so a computer with the blackmagic USB capture card is

[2019-03-18 10:06] TomWheal commented on #89
Another option is 3.5mx0.6m it's about the same ratio but a bit smaller and comes too £40 with shipping.
All I will change with the design is making it fit the new ratio. If we can decide on a size and place to order from this can be done by today

[2019-03-18 10:33] rgilton commented on #97
I do indeed have a box of USB keys + keyrings intended for this purpose.  They'll be in the post to @PeterJCLaw later today.  I am happy to relinquish ownership of them to SR.

[2019-03-18 12:34] Tyler-Ward opened #222 "Purchace barcode scanners"
We should purchase a pair of bar-code scanners for inventory and other tasks at the competition and beyond.

Are people happy with the following.
https://www.amazon.co.uk/Bluetooth-Koolertron-Wireless-Maxicode-Automatically/dp/B0716PPS8S?th=1

[2019-03-18 12:39] mltnhm commented on #222
[Do you guys not have phones?](https://www.youtube.com/watch?v=ly10r6m_-n8)

[2019-03-18 15:22] trickeydan commented on #222
:shipit:

[2019-03-18 17:31] RealOrangeOne commented on #188
I believe I can get the camera to output `1080i60` if that's of more help (I doubt it), if not we can mess around with it on the day

[2019-03-18 17:36] RealOrangeOne commented on #184
I'm not sure how useful that willl be. Unless we can get the time after competition down to the second, there may be music stopping and starting when we don't want it to. I suggest we just swap over to the dramatic playlist from #148 for the interim, perhaps dropping to a specially-defined song when we're ready to start it to create a short buildup

[2019-03-18 18:21] TomWheal commented on #87
Progress on this is blocked by the information needed to go into the booklet

[2019-03-18 18:33] Tyler-Ward commented on #184
We can still fade out of the sync music when we want to start the awards. the other option is the music just cutting off after the final. this just gives us a bit more music time after the final and we can select appropriate tracks for this point in time rather than it being random.

[2019-03-18 19:34] WillB97 commented on #81
Which docs is this referring to?

[2019-03-18 19:44] Adimote commented on #81
He means the Google Doc I linked to in an earlier comment. I'll add it to
the issue description

On Mon, 18 Mar 2019, 20:34 Will Barber, <notifications@github.com> wrote:

[2019-03-18 20:02] Tyler-Ward commented on #141
These have now been ordered see #200 for delivery status

[2019-03-18 20:03] #141 closed

[2019-03-18 20:12] Tyler-Ward commented on #221
The tokens have arrived

[2019-03-18 20:41] Tyler-Ward commented on #87
A list of filtered teams (Just TLA,name, and rookie status) is here.

https://docs.google.com/spreadsheets/u/1/d/1KVIMpXJ_9jPMLbg-hSe9WCY-D5Unru49LJVH6q-JD20/edit#gid=0

[2019-03-18 20:46] Tyler-Ward commented on #211
We currently have 32 teams and 34 slots in the maps, this allows for us to drop the two pit locations that @Scarzy had an issue with. The link below is a list of the currently active teams with just public information

https://docs.google.com/spreadsheets/u/1/d/1KVIMpXJ_9jPMLbg-hSe9WCY-D5Unru49LJVH6q-JD20/edit#gid=0

[2019-03-18 20:50] Tyler-Ward commented on #89
@TomWheal has designed a new banner which is now in https://github.com/srobo/promotional-material.
Purchase has been approved for up to £85 for this.

[2019-03-18 20:58] Scarzy commented on #142
First quote in, at £756

Some more still pending

[2019-03-18 20:59] TomWheal commented on #89
I’ve placed the order

[2019-03-18 21:03] Scarzy opened #223 "Create a means to record an incident"
We need a means to record and store details of an incident or near-miss occurring.

At bare minimum this needs to store what happened and why, and what follow up occurred.

At this point I don't know if we need to be recording the personal details of who was involved, or if we can merely record e.g. which school they belonged to and who holds more specific details (i.e. the first aid provider).

[2019-03-18 21:05] TomWheal commented on #223
A google form should be fine for this

[2019-03-18 21:09] RealOrangeOne commented on #223
I suspect there may be issues around having this information available to all volunteers, due to the nature of the information and the fact we don't have a requirement for volunteers to be DBS checked.

I suspect a simple paper form, stored securely, and operated by the H&S lead (@Scarzy) will probably cover this. I believe you can buy ready-made incident booklets, which might be something useful

[2019-03-18 21:09] Scarzy commented on #223
Maybe.
I need to do some checking, but I recall being informed during some data protection training a while back that because of where google house some of their servers storing any personal data on them can violate data protection laws.

[2019-03-18 21:16] Scarzy commented on #223
I suspect you're almost certainly right.

Agreed. Simple, secure. We would just need to work out which fields we actually need to fill. I suspect that will be dictated largely by the insurance T's&C's. I'll try to find some options.

[2019-03-18 21:18] Tyler-Ward commented on #89
have added to #200 for delivery tracking

[2019-03-18 21:33] #140 closed

[2019-03-18 21:34] PeterJCLaw commented on #222
Barcode scanners here are USB devices which hook into computers for direct use. While ~phones~ personal mobile ~tracking~ computing devices can read barcodes, they're not particularly convenience.

@Tyler-Ward I may know of an alternate source where we can get some barcode scanners from (or at least borrow for the competition if that's useful), let me ask.

[2019-03-18 21:54] Tyler-Ward commented on #220
have created a setup schedule here for people to comment on

https://hackmd.io/OJmmlxSQTcKDVTHxnyLbGA

[2019-03-18 22:08] Tyler-Ward commented on #222
@PeterJCLaw is this get as in borrow or get as in can have? Being able to borrow more around the competition will be useful but we should probably own some for longer term use as well.

[2019-03-18 22:10] PeterJCLaw commented on #159
RUBs as trays is a pretty ugly solution though.

[2019-03-18 22:10] Tyler-Ward commented on #223
I think we have a data sharing agreement with google as we have an organisation account which will cover us storing personal data there.

For the paper incident book we would need to consider where to store it, not sure what our obligations are in this regard.

[2019-03-18 22:11] Tyler-Ward commented on #142
Who was that quote from for reference.

[2019-03-18 22:12] PeterJCLaw commented on #98
Do we have an idea of the lead-time for getting tape? If it's under a week I suggest this can wait until after next weekend, which allows time for a visit to the container.

[2019-03-18 22:15] PeterJCLaw commented on #188
I have several mains USB adapters; I'm sure one can be used for this.

[2019-03-18 22:19] Tyler-Ward commented on #98
Lead time is around a week by the looks of it so ordering at the weekend should be fine as that still gives us two weeks for delivery.

[2019-03-18 22:22] PeterJCLaw commented on #89
@TomWheal not sure if there's time to adjust the design yet -- I've commented on https://github.com/srobo/promotional-material/pull/13 about the spacing being a bit squashed.

[2019-03-18 22:22] Adimote commented on #134
![trophy](https://user-images.githubusercontent.com/2551763/54567594-aa442d80-49d4-11e9-84b4-caae870e50e5.png)
..is an inkscape mock-up of my planned design, any feedback?

[2019-03-18 22:24] Tyler-Ward commented on #134
i think the student robotics name looks a bit small the only fix i can think for this is to split onto two lines but i'm not sure if we want to do this.

[2019-03-18 22:25] PeterJCLaw commented on #223
Indeed. The ones I've seen are typically these things are in a tear-off style, so that you can store the filled-in forms separately from the book itself. The first-aid variants I've seen come with carbon-paper sheets (or similar) allowing for you to give a copy to the person (or guardians thereof) who needed first-aid.

[2019-03-18 22:27] Adimote commented on #134
![trophy_vert](https://user-images.githubusercontent.com/2551763/54567811-6140a900-49d5-11e9-8c7c-cbc8f4391d3d.png)
Here's one with vertical text, I prefer the other one personally.

[2019-03-18 22:28] PeterJCLaw commented on #134
Should this discussion be happening on #88 (which is for the design aspect)?

[2019-03-18 22:28] Adimote commented on #134
Yes

[2019-03-18 22:29] Adimote commented on #88
The design choices are:
A:
![image](https://user-images.githubusercontent.com/2551763/54567866-93eaa180-49d5-11e9-8cff-1643fe618d4e.png)

or

B:
![image](https://user-images.githubusercontent.com/2551763/54567890-a369ea80-49d5-11e9-8d7e-fe22fc8f7462.png)

[2019-03-18 22:30] Adimote commented on #88
B:
![image](https://user-images.githubusercontent.com/2551763/54567890-a369ea80-49d5-11e9-8d7e-fe22fc8f7462.png)

[2019-03-18 22:37] PeterJCLaw commented on #88
I'm mildly in favour of the latter as it's closer to what we have on the tee-shirts and is more what I'd expect from a vertically stacked logo (the text to be similar in width to the roundel).

[2019-03-18 22:39] PeterJCLaw commented on #88
Do we have any control over the font/size/formatting/etc. of the other text? If so, I'd suggest going with one of our house styles and it being neither italicised or emboldened.

[2019-03-18 22:39] Adimote commented on #88
I can ask but it looks like we don't have control of the font

[2019-03-18 22:45] Adimote commented on #88
I think I'll go for option B, as it doesn't look too bad after staring at it for a while, and I'm worried the font will be too small in A, as I was a bit generous with the logo sizing when making the mocks

[2019-03-18 23:01] Adimote commented on #88
for the "Robot and Team Image" award, should the text be "Robot and Team Image" or "Robot and Team Image Award"?

[2019-03-18 23:23] trickeydan commented on #222
This is essential imo.

[2019-03-19 02:53] antonnikitin97 commented on #68
Update - I've spoken to Joyce on the 18th and have informed her of our requirements :) waiting to hear from her again.

[2019-03-19 07:09] RealOrangeOne commented on #188
I believe this is now sorted. Assuming we have access to the cabling and SUSU equipment.

[2019-03-19 07:09] #188 closed

[2019-03-19 08:25] PeterJCLaw commented on #88
I don't feel strongly; I'd look at whether the longer name would cause the text to wrap.

(a)
[code]
is fine

(b)
[code]
is kinda weird

(c)
[code]
is also fine

(d)
[code]
is kinda weird, though probably better than (b)

(e)
[code]
is almost worse

In summary; I think any of (a), (c) or (d) are probably fine (with a preference for (e) over (b) if we're stuck with one of those).

[2019-03-19 08:54] PeterJCLaw commented on #103
Hrm, since we're down to 32 teams the schedule I linked above isn't useful (having four empty slots isn't good - we should reschedule for 32).

[2019-03-19 09:15] Adimote commented on #88
I went for option A, as I'm conscious of line length for C.

I've now placed the order, so I'll close this ticket.

[2019-03-19 09:15] #88 closed

[2019-03-19 09:18] Adimote commented on #134
I've now ordered the trophies from https://www.trophymaster.co.uk/peak6-jade-glass-8mm-03-thick-203mm-8-525615-p.asp

Some notes for future orderers:

- Leave items in the checkout basket over night, they email you with a 10% discount in the morning (Sadly I saw the email after I had made the order this time)

- Their website has a slight bug where they show the billing address as the delivery add

[2019-03-19 09:18] #134 closed

[2019-03-19 09:19] Adimote commented on #134
Total price was £147.94

[2019-03-19 09:21] RealOrangeOne commented on #134
I hope this is a bug with their site rather than a bug with Andy! Getting them delivered to you will certainly be logistically _interesting_

[2019-03-19 09:23] Tyler-Ward commented on #134
added to #200 for delivery tracking

[2019-03-19 10:29] jcwilliamson commented on #212
I'd agree with Dan here, the process for getting external organizations to attend is likely to be significantly different to the one for getting (predominantly) internal individuals.

[2019-03-19 10:45] RealOrangeOne commented on #212
I agree. If the differentiating factor is inviting internal vs external entities (people, companies, whatever), then that should be reflected in the ticket title, and the contents of the ticket aligned as such.

[2019-03-19 11:02] TomWheal commented on #89
@PeterJCLaw I phoned to try and adjust, unfortunately, the company we ordered with apparently works 24hs and had already started our printing by the time I saw your comment. The reason for the spacing either side is that the eyelets are placed every 50cm so having a 25cm space at each end would allow us to wrap the end of the banners around a pole to secure it without losing any details.

[2019-03-19 11:02] #89 closed

[2019-03-19 17:48] RealOrangeOne commented on #120
We've now allocated a time slot in the schedule for this (https://studentrobotics.org/events/sr2019/competition/).

We now need to arrange who will take the picture, and where to take it. I suspect the hill next to SUSU will be ideal, if we can get the camera high enough and far enough away.

[2019-03-19 18:45] RealOrangeOne commented on #211
There's 1 team who require placing on L2, besides that we can consider it a free-for-all

[2019-03-19 18:58] antoinepetty commented on #117
Template created - closing for now. Will revisit very soon after competition (ie competition evening or next morning)

[2019-03-19 18:58] #117 closed

[2019-03-19 19:10] prophile commented on #95
Approved

[2019-03-19 20:04] Scarzy commented on #142
MET Medical, they are the same people who provided cover for SR2017

[2019-03-19 21:20] Scarzy commented on #223
Turns out that this is actually a requirement under GDPR.

This isn't something we need to worry about, the first aid provider will supply that to them, we just need to be able to record it for our own records.

The more I look into this the more gotcha's I'm coming across, as such to avoid falling foul of one I suggest we just go with the one produced by a related regulatory body (HSE): https://w

[2019-03-20 12:44] WillB97 commented on #157
Hoffers is £1.50 per sandwich

[2019-03-20 18:53] Tyler-Ward commented on #222
ordered see #200 for tracking

[2019-03-20 18:53] #222 closed

[2019-03-20 18:55] Tyler-Ward opened #224 "Pay for SUSU venue hire"
We should pay for stuff from SUSU. we don't have a price yet, will follow this up.

[2019-03-20 19:11] Tyler-Ward commented on #220
I have also updated the document for takedown tasks. I haven't added any times yet other than on a half day basis as they are very dependant on how many volunteers are available, will try and fill in later if i have more time.

[2019-03-20 19:20] Tyler-Ward commented on #100
Since #70 we no longer need the router in this list

[2019-03-20 21:09] PeterJCLaw commented on #97
I now have said USB keys & keyrings. Many thanks @rgilton.

[2019-03-20 21:28] PeterJCLaw commented on #220
I think that's reasonable.

What I'd meant was estimates on the number of people a task _should_ have, and then how long we expect it to take. This should be independent from the number of volunteers we have and would mean we can work out if we're going to have enough time.

I think that many of the tasks will already have such estimates from the past, so I'm hopeful that adding more shouldn't be

[2019-03-21 00:40] trickeydan commented on #217
No you cannot partition them, you will not modify the operating system or settings on the machines in any way. They are currently setup as we need and like them.

[2019-03-21 07:10] RealOrangeOne commented on #217
We don't need to. A partition doesn't modify the existing OS, and we can use the boot-time override to specify we want to boot to the additional partition. Then after the competition, we login to the original OS, and nuke the new partitions

[2019-03-21 12:39] Tyler-Ward commented on #212
I have created a list here (limited to core team as it is a list of names for people we should invite)
https://docs.google.com/spreadsheets/d/1faw3Y4TBb83AJrHGqhpXpTMVQ4dfjthAheO_G0lMLu8/edit#gid=0

[2019-03-21 14:02] trickeydan commented on #217
https://sourcebots.slack.com/archives/C2XQGF8QP/p1553175662013300

[2019-03-21 19:08] Tyler-Ward commented on #68
@antonnikitin97 I believe these are done now can you confirm, if so who are the details being delivered to.

[2019-03-21 19:13] Tyler-Ward commented on #189
@jcwilliamson I believe this has been sorted now can you confirm.

[2019-03-21 19:14] jcwilliamson commented on #189
Joyce has now booked this for us, I forwarded her reply to the coreteam

On Thu, 21 Mar 2019, 19:13 Tyler Ward, <notifications@github.com> wrote:

[2019-03-21 22:51] PeterJCLaw opened #225 "Check more things in the container"
This ticket exists as a target for other tickets where we think that the items needed may be in storage. Just mention this ticket's ID in the other ticket and we'll use the list of referencing tickets when the container storage is actually visited.

This could well happen as part of moving the kit to Southampton (#78 / #182), though ideally would happen in advance of that to allow for time to purc

[2019-03-21 22:51] PeterJCLaw commented on #98
#225

[2019-03-21 22:52] PeterJCLaw commented on #216
#225

[2019-03-21 23:31] Scarzy commented on #125
FYI, these are done, I just need time to remind myself how to git to get them into the runbook

[2019-03-21 23:37] Scarzy commented on #223
In the absence of any further comment, I've ordered one of those books. So I'll close this ticket

[2019-03-22 00:05] Tyler-Ward commented on #223
Are you purchasing this for yourself or are you hoping to be reimbursed for this? I am happy to allocate budget for this if needed but we should allocate budget before making the purchases. is there going to be another order for the wallet to store them in or is that going to be found from ones lying arround?

[2019-03-22 07:31] RealOrangeOne commented on #217
After the aforementioned discussions, the laptops may not be modified in any way by SR, this includes formatting or partitioning. The reception software doesn't run under windows (the only OS on the laptops currently).

We therefore have 2 options:

- SRO (the owners of the laptops) install Virtualbox on them for us, which we then use to run the reception software inside a VM, assuming we can corr

[2019-03-22 08:30] RealOrangeOne commented on #189
Copying in booking reference for, well, reference:

REFERENCE: | 956575.01
-- | --
DESCRIPTION: | 4/4/19 & 8/4/19
GROUP/TRADE: | DLO-F.02 Portering
PRIORITY | Routine - 1 week
RELATED BUILDING: | 0059 New Zepler
RELATED SPACE: | 1257 Seminar Room 1
LOCATION TEXT: | seminar space in use as storage facility
REQUEST DATE: | 19/03/2019 17:06

I think we can consider this complete!

[2019-03-22 08:30] #189 closed

[2019-03-22 20:31] PeterJCLaw commented on #222
I have some additional barcode scanners.

[2019-03-22 22:00] RealOrangeOne commented on #186
For the return address, we will use the UKPostBox address listed at https://www.studentrobotics.org/contact/. There is a nominal charge (~£20 per kit).

The expenditure of this budget was approved by @Tyler-Ward in Slack (https://studentrobotics.slack.com/archives/GCRQS5D1P/p1553291378003000) to come from the kit replacement line.

[2019-03-22 22:58] TomWheal commented on #147
Has this been done? Seems like it’s kinda urgent?

[2019-03-23 00:16] PeterJCLaw commented on #217
Last time I tried, it was possible to live-boot a USB stick while also having a second partition on the USB stick which persists changes. If we can make that work I think it would be ideal.

Note separately that the score-entry machine is currently assumed to be a linux (or mac) box as I'm not aware that SRComp has ever been tested running on Windows, nor do we have a hosted version of the score-e

[2019-03-23 00:50] Scarzy commented on #223
The first time a paper form was mentioned the wording used was:

I suggested an option. I waited 48 hours during which there was absolutely no comment. We are less than 2 weeks from the competition, on a ticket flagged as "Urgent".
Can someone please explain to me what the magic words are to get the required response in a reasonable time frame? Rather than only getting a response after I've dealt

[2019-03-23 00:59] Scarzy commented on #142
At this point I'm not expecting any more quotes to come in. Some requests are out there, but as they haven't responded I'm suspecting that they won't. It's worth noting that back in SR2017 one provider stated that they required a minimum of 6 weeks notice to cover an event. MET Medical consider anything less than 2 weeks notice to be a "late booking". I suspect we're just too late for them.

Is th

[2019-03-23 10:50] RealOrangeOne commented on #186
The deadline has now passed, and only 1 team has requested a kit extension.

[2019-03-23 11:32] Tyler-Ward commented on #77
SUSU TV are unable to provide a stream, new plan inbound.

[2019-03-23 11:34] Tyler-Ward opened #226 "Setup OBS for livestream"
as part of #77

We should setup an OBS install and config for the livestream

[2019-03-23 11:38] Tyler-Ward opened #227 "Acquire hardware for livestream broacast"
We need the hardware to do a livestream broadcast

- [x] 1* video mixer PC
- [x] 2* HDMi caputure card
- [x] 2* mixer control pannel
- [x] 2* 2* preview monitors
- [ ] 2* HDMI cameras (with clean outputs)

[2019-03-23 11:40] Tyler-Ward opened #228 "Create livestream shot plan"
as part of #77 we should create a rougth shot plan for the livestream

[2019-03-23 11:41] sedders123 commented on #74
@WillB97 Assigning to you as @TomWheal mentioned you have started/done this.

[2019-03-23 11:43] sedders123 commented on #75
Assigning to @WillB97 as a SUSU task

[2019-03-23 11:43] Tyler-Ward commented on #81
per #77 we need volunteers for running the livestream

[2019-03-23 11:44] jcwilliamson commented on #79
https://drive.google.com/open?id=1hjl-4NoiBrHLdAMWKlgyWYGxnRctPdOV&usp=sharing

[2019-03-23 11:45] Tyler-Ward commented on #227
This is part of #77

Extra hardware required:
1* LS comentator mic
1* audio input from mixing desk.

[2019-03-23 11:45] jcwilliamson commented on #87
#79 Should be linked here. This now contains a google my map showing local destinations.

[2019-03-23 11:48] RealOrangeOne commented on #115
This is handled by https://github.com/srobo/runbook/pull/16 and just needs a review

[2019-03-23 11:50] Tyler-Ward opened #229 "Setup youtube livestream"
As part of #77 we should test livestreaming to youtube

[2019-03-23 11:51] Tyler-Ward commented on #77
This has now been split into separate tickets.

[2019-03-23 11:51] #77 closed

[2019-03-23 11:53] Tyler-Ward opened #230 "run a livestream console training session"
We should train the livestream (#77) volunteers on the system.

[2019-03-23 11:54] Tyler-Ward commented on #162
Unblocked-we will use youtube

[2019-03-23 11:58] Tyler-Ward opened #231 "Create quick use barcodes for inventory use"
as the bar-code scanners can load in arbitrary text, we can create some useful commands as bar-codes to speed up inventory tasks. e.g.
* go to box with inventory code
* goto competition folder
* git status

[2019-03-23 12:11] Tyler-Ward commented on #223
Adding something like "can I get budget approval for the following:" would be the best way to do it, also tagging me in the post and adding the needs budget approval tag. A lot of links to items get posted in tickets so it is easy to miss an un-labled purchase request when there are lots of items as pricing information appearing on tickets. I have now allocated the budget for this can you email me

[2019-03-23 12:12] Tyler-Ward commented on #223
added to #200 for delivery tracking

[2019-03-23 12:12] #223 closed

[2019-03-23 12:34] sedders123 commented on #145
PR to the runbook here https://github.com/srobo/runbook/pull/19

[2019-03-23 12:35] Tyler-Ward commented on #142
This quote is somewhat over the planned budget but given it is essential I can reallocate funds to cover this so this is approved. For reference what will MET medical be providing?

[2019-03-23 12:48] Tyler-Ward commented on #169
This has been created with some basic information, will add more dashboards/refine them more if i find more time. Login details are available from me if wanted.

[2019-03-23 12:49] Tyler-Ward commented on #169
@PeterJCLaw is the monitoring module still enabled on the live server or was that removed in the rebuild at the start of the year?

[2019-03-23 12:51] Scarzy commented on #142
Far more than we're likely to ever need, but it's what they provide as standard:

1x ECA / Medic / Ambulance Technician
1x Response Car: Oxygen, Defib, Entonox, Spinal Immobilsation, Emergency Lifesaving Drugs

[2019-03-23 13:20] Tyler-Ward commented on #220
volunteer requirements added to #81

[2019-03-23 13:21] Tyler-Ward commented on #81
the setup and livestream roles have now been added

[2019-03-23 14:52] Tyler-Ward commented on #211
Teams with location requirements have been identified.
We are planning on removing pits 1,7, and 22 and renumber the remainder to bring us to the correct number and moving 12 to make more room.

[2019-03-23 15:34] Tyler-Ward commented on #147
For budget info: A rough price from hiscox is £70 for just the event and £250 ish with cover for volunteers.

[2019-03-23 15:42] jcwilliamson commented on #83
# List of signs
- Toilet Locations
- Entrances
- Exits
- Arena
- Do Not Enter
- Photography beyond this point
- No Robots beyond this point
- Power tools area
- Staging in/staging out
- Quiet zone/ please be quiet (optional)

[2019-03-23 15:47] Tyler-Ward commented on #163
This looks good to me

[2019-03-23 15:51] RealOrangeOne commented on #197
Planning for this has now moved to #128

[2019-03-23 15:55] #163 closed

[2019-03-23 15:56] TomWheal commented on #125
@Scarzy Can you dump these somewhere so I can add them to the competitor booklet

[2019-03-23 16:10] Tyler-Ward commented on #142
Just to check I assume this is for the Saturday and Sunday from 09:00 till 18:00 each day.

[2019-03-23 16:11] Tyler-Ward commented on #95
A price of £300 was mentioned on slack has there been any update on this or is a quote ready to be approved?

[2019-03-23 16:49] RealOrangeOne commented on #186
Due to specification of the deadline for the kit to be returned, said single team no longer require the kit extension, therefore we don't need to do this anymore.

I've already written the documentation, and it's correct, so we might as well keep that information around for future years.

[2019-03-23 16:49] sedders123 commented on #211
Teams have now been allocated a pit

[2019-03-23 16:49] #211 closed

[2019-03-23 17:05] TomWheal commented on #87
[Test-Booklet.pdf](https://github.com/srobo/tasks/files/2999608/Test-Booklet.pdf)
A version without some of the sections done.

Something to note, this will be the colour it will be printed. There is no CYMK exact version of the current sr style colour.

[2019-03-23 17:17] TomWheal commented on #221
@PeterJCLaw I probably won't have time to organise this, If we can find what paper we need this could be done on the setup days.

[2019-03-23 17:27] Adimote commented on #95
Update on this: the original form asked for a 4 week minimum, however after enquiry we found it's only for newly registered companies, so we're grandfathered into the old scheme! new price is ~£150 but we are yet to get an actual invoice so numbers may change.

Also, there's a delay in that the company has asked us to fill out a form to update our details, which requires trustee signatures, so hop

[2019-03-23 17:33] RealOrangeOne commented on #148
I've now gone through all the linked suggestions, as well as previous years, and things i've come across, and I think we're in a good position now to close this.

The durations haven't changed much since https://github.com/srobo/tasks/issues/148#issuecomment-471282263, which is fine.

If anyone wishes to submit more suggestions, then feel free to post them here or talk to me. But for now, we can c

[2019-03-23 17:33] #148 closed

[2019-03-23 17:47] RealOrangeOne commented on #229
We have an existing YouTube account, we should use it https://www.youtube.com/user/studentrobotics

(It does currently use the old branding)

[2019-03-23 17:51] Tyler-Ward commented on #92
Here are the designs will the team details and map changes added
[maps.zip](https://github.com/srobo/tasks/files/2999643/maps.zip)
[maps.pdf](https://github.com/srobo/tasks/files/2999644/maps.pdf)

[2019-03-23 17:54] Tyler-Ward commented on #95
That sounds great, £150 sounds good to me. Let me know when you get an invoice, we can send this one to the trustees for direct payment.

[2019-03-23 17:56] Tyler-Ward commented on #95
As this is for direct payment send me the invoice when you get it and i will send it on for payment.

[2019-03-23 18:01] jcwilliamson commented on #121
I have modified the runbook to include Dan's changes, and submitted a PR.

[2019-03-23 18:14] TomWheal commented on #129
https://www.instantprint.co.uk/
Flyers and Booklets £138

[2019-03-23 19:13] RealOrangeOne commented on #220
I think the plan looks fine overall.

I think we should split out the takedown tasks into Sunday evening, Monday Morning and Monday Afternoon.

We should also specify that we need training tasks done on the Friday afternoon for tasks such as reception, shepherding etc.

[2019-03-23 19:26] Tyler-Ward commented on #226
The OBS internal browser can render the overlay over any capture feeds with full transparency this avoids needing a separate live-stream overlay machine.

[2019-03-23 19:27] Tyler-Ward commented on #226
updated #100 to account for new requirements

[2019-03-23 19:47] Tyler-Ward commented on #100
18pis have been separated out for the arena displays there are some additional pi2s available if more compute power is needed for any screen. The SR screens have also been allocated for the arena and shepherding screens to complete these lines The pi2s in clear cases should be used for the staging screen and the 4 corners as these will gain VESA mounts shortly.

[2019-03-23 19:54] Tyler-Ward commented on #100
@prophile are you intending to provide the mixtape machine?

[2019-03-23 20:08] PeterJCLaw commented on #231
Why is this task set for completion by this competition? I really don't see us using the inventory at the competition event -- the additional faff of needing a computer whenever we move stuff (regardless of how slick the interface is) is going to overwhelm the amount of kit we have to move around.

[2019-03-23 20:15] Tyler-Ward commented on #219
Draft created see pull request

[2019-03-23 20:16] Tyler-Ward commented on #218
see #225

[2019-03-23 20:18] sedders123 commented on #215
These have been separated and are ready to be transported to Peter. We were thinking @prophile may be able to take them?

[2019-03-23 20:20] PeterJCLaw commented on #215
Unfortunately not, I don't think he's coming from Southampton to London any time soon.
I was wondering whether it would make sense for @RealOrangeOne to bring them back with him and then perhaps meet me somewhere?
Alternatively, postal services exist.

[2019-03-23 20:20] sedders123 commented on #229
I have found a [guide](https://www.digitaltrends.com/computing/how-to-live-stream-on-youtube-with-obs/). Looks like we just need to grab the secret from youtube then do some minimal config in OBS

[2019-03-23 20:21] PeterJCLaw commented on #211
@sedders123 would you be able to create a PR against the [compstate](https://github.com/srobo/sr2019-comp/) to add this information to it? (The [`layout.yaml`](https://github.com/srobo/sr2019-comp/blob/master/layout.yaml) and [`shepherding.yaml`](https://github.com/srobo/sr2019-comp/blob/master/shepherding.yaml) files are the ones of interest)

[2019-03-23 20:29] Tyler-Ward commented on #116
Arranged see #200 for collection tracking

[2019-03-23 20:29] #116 closed

[2019-03-23 20:30] sedders123 commented on #211
See https://github.com/srobo/sr2019-comp/pull/2 :)

[2019-03-23 20:46] Tyler-Ward commented on #129
Per in person discussion Budget is approved for this.

[2019-03-23 20:47] PeterJCLaw commented on #139
I am confident that there are enough of these in storage. There was a RUB which I counted the contents of, plus another which I estimated at being well above the number we need.

[2019-03-23 20:56] Tyler-Ward commented on #102
@prophile now we are at 31 teams is this sorted@?

[2019-03-23 20:57] PeterJCLaw commented on #102
Yes, now that we're ~at or~ below 32, this is trivial. (I happened to discuss this with @prophile in person the other day)

[2019-03-23 20:57] #102 closed

[2019-03-23 21:01] Tyler-Ward commented on #120
Plan for locations.
With rain: Bar 2 or Arena
Without rain: Redbrick/Grass south of SUSU.

[2019-03-23 21:02] #120 closed

[2019-03-23 21:03] Tyler-Ward commented on #154
@Adimote Any update on this.

[2019-03-23 21:07] PeterJCLaw commented on #218
There are 12 working ones in the container, which were placed there after the kit-collation events at the start of this competition-year. Even if one or two have failed over this winter, there's more than enough buffer there not to need to check these.

[code]

[2019-03-23 21:18] PeterJCLaw commented on #225
Ok, so this is looking like it's not a good use of my time right now. Here's my analysis:
- we can trivially buy more tape. It's not free, but SR _will_ use it eventually and it doesn't expire, so its not like it's a wasted cost
- I am not convinced that testing the printer is needed, however if we did need one, the lead time is about an hour and involves someone going to Argos. Discovering that i

[2019-03-23 21:23] PeterJCLaw commented on #216
My current thinking here is that this can wait until the print is in Southampton as part of the kit move (#206).
My reasoning is that the lead-time on new one is about an hour (it means a trip to Argos or PC world or the like) and getting new ink is about the same (Staples or another office supplier, or Amazon next-day), versus the two or so days we'll have before the competition.

I realise that

[2019-03-23 21:24] PeterJCLaw commented on #182
Who is it planned would be driving this van?

[2019-03-23 21:26] PeterJCLaw commented on #98
Given the level of effort here vs the cost of just getting more, I'm no longer convinced that this is worth doing -- instead I think we should just buy what more we think we'll need.

How are we for budget for getting tape?

[2019-03-23 21:33] sedders123 commented on #157
[Plastic Cups](https://www.amazon.co.uk/Plastic-Disposable-Clear-Drinking-Glasses/dp/B00BSD57GU/)
[Hot Cups](https://www.amazon.co.uk/Premium-Disposable-Perfect-Parties-Outdoors/dp/B01K86JGOQ/)
[Kettle](https://www.argos.co.uk/product/9016710)

[2019-03-23 21:34] PeterJCLaw commented on #215
Have been discussing with @RealOrangeOne in Slack, it doesn't look like that's viable either. I can probably pick them up next weekend in person though or do the flashing later that week in Southampton (I am free the whole week, but won't be in Southampton for all of it)

In order to enable that, please could you record here:
- what models of Pis are there, how many of each
- what SD/miniSD cards

[2019-03-23 21:39] Tyler-Ward commented on #157
Shopping list: for general refreshments.
### Costco: (@Tyler-Ward  approved up to £20)
* Fruit Juice: 12*1L orange 12*1L apple
### Supermarket: (@RealOrangeOne approved up to £40)
* 2*jar coffee £10
* 1*box tea bags £3.30
* £15 worth of fruit.
* 4*1L milk carton £3.20
### SUSU: About £15 (not yet assigned to be purchased on setup days)
4* broken biscuit assortment
### Amazon: (@sedders123 approved

[2019-03-23 21:40] PeterJCLaw commented on #215
Of the SD cards, there are apparently: 11 4GB, 2 8GB, 6 16GB

[2019-03-23 21:53] RealOrangeOne commented on #218
Linking to https://github.com/srobo/tasks/issues/205 so we remember to bring these.

[2019-03-23 21:53] Tyler-Ward commented on #78
see https://docs.google.com/spreadsheets/d/13jDdRkZxgKdROVau9VaZiKZbiDV34_rlcZhWcpzQZO8/edit#gid=0 for a list of kit needed at each location we can use this to help with #205 and #207 and #208

[2019-03-23 21:55] sedders123 commented on #98
We have got budget allocated for tape. Pricings below:

[Fluorescent Tape](https://www.gaffatape.com/Fluorescent-Gaffer-Cloth-Tape-1/default.aspx) - £10.19 a roll
[Duct Tape](https://www.gaffatape.com/general-use-gaffer-duct-tape/default.aspx) - £1.78 a roll (though a box of 24 for £41.52 has been suggested)
[Electrical Tape](https://www.gaffatape.com/Electrical-PVC-Tape-2/Default.aspx) - £0.78 a

[2019-03-23 21:56] PeterJCLaw commented on #98
What would we expect to use Electrical tape for?

[2019-03-23 21:58] RealOrangeOne commented on #182
Currently unknown, although I suspect @prophile.

For bringing kit _to_ Southampton, I believe the rough plan is for me and @prophile to go to the container and fill our cars.

For bringing kit _from_ the container, we'll need a van for this, and specifically someone with a license to drive one. I suspect that can be arranged closer to the time, i'm happy to do if possible.

[2019-03-23 21:59] PeterJCLaw commented on #98
(I'm pretty sure we have a good quantity of electrical tape, so I'm more trying to judge whether we really need more)

[2019-03-23 22:00] PeterJCLaw commented on #98
@sedders123 do we have estimates for the quantities we'll need?

[2019-03-23 22:05] RealOrangeOne opened #232 "Purchase assorted stationary"
We need stationary things to be used around the event

- Files for storing completed forms (~£30 for 5)
- ~Pens + other writing implements (£10 for 50)~

[2019-03-23 22:06] sedders123 commented on #98
Electrical tape will be used for helping secure/group cables in any necessary runs. Red Electrical tape will be used for marking broken kit. A large amount of electrical tape will be required during pack down to keep cables together. (I'll defer to @Tyler-Ward for any future electrical tape questions as I'm just relaying)

Our (very) rough estimates were:
 - 4 x Fluroscent Tape (one of each colour

[2019-03-23 22:13] RealOrangeOne commented on #100
If this isn't possible, I may be able to borrow an apple machine from work

[2019-03-23 22:21] RealOrangeOne commented on #194
As discussed in person, we shall purchase 2 prizes for this, and extend on the setup days if for whatever reason we find a need to.

Just awaiting budget approval from @Tyler-Ward

[2019-03-23 22:22] PeterJCLaw commented on #232
There's a box of _many_ pens in storage, I don't think we need more.

[2019-03-23 22:24] RealOrangeOne commented on #217
The boot USB drives are now in my possession. The laptops weren't available to test today, so i'll aim to do some testing during the week, and if not, next weekend.

[2019-03-23 22:40] PeterJCLaw commented on #157
Can we get something more than just some boxes of broken biscuits? They're ok, but not the greatest especially considering the take-things-to-volunteers aspect.

Perhaps add the following (and maybe slightly reduce the number of packs of broken biscuits?):
- 5 packs of hobnobs (£1 each)
- 5 packs of chocolate digestives (£1 each)
- 3 packs of fig rolls (£0.36 each)

[2019-03-23 22:42] PeterJCLaw commented on #120
Do we know who will be taking this photograph and that they have sufficient experience and quality camera to do it well?

[2019-03-23 22:57] Tyler-Ward commented on #157
Sounds good to me @RealOrangeOne are you happy to order if so ill bump your approval by another £10 to cover the above (£50 total) and ill drop down to 2* broken biscuits £7.50 approved.

[2019-03-23 22:58] Scarzy commented on #125
@TomWheal A pull request should now exist to put these in the runbook

[2019-03-23 22:59] PeterJCLaw commented on #74
I've updated the description with some requirements.

[2019-03-23 22:59] Scarzy commented on #66
There's now a pull request for this

[2019-03-23 23:00] Tyler-Ward commented on #186
I assume I am good to close off the budget for the extended loans then.

[2019-03-23 23:01] Tyler-Ward commented on #66
https://github.com/srobo/risk-assessments/pull/5

[2019-03-23 23:02] Tyler-Ward commented on #125
https://github.com/srobo/runbook/pull/22

[2019-03-23 23:03] Scarzy commented on #92
The First Aid point should probably be shown on there, as mentioned in #142

[2019-03-23 23:05] PeterJCLaw commented on #87
nit: our [house style](https://studentrobotics.org/style/) is that headings be in UPPERCASE (in Oswald or Open Sans Condensed, depending on their level)

[2019-03-23 23:12] PeterJCLaw commented on #162
Ack, let me know once we know what the link is. This is however a ~5 minute task and it can happen during the event if necessary, so no rush here.

[2019-03-23 23:18] PeterJCLaw commented on #230
@Tyler-Ward roughly how long do you anticipate this session taking? Is it something which can be done with several people at once?

cc @Adimote for fitting this into the volunteer roles.

[2019-03-23 23:21] PeterJCLaw commented on #54
While https://github.com/srobo/runbook/issues/18 exists for the outstanding content, since https://github.com/srobo/runbook/pull/8 has merged, I'm considering this done. Any future tasks will be issues on that repo.

[2019-03-23 23:21] #54 closed

[2019-03-23 23:27] PeterJCLaw commented on #142
If possible to get them to be around a little before and after the teams arrive and leave (respectively) I would encourage we do so. I'm more thinking of the evenings than the mornings, though I suspect we could have teams who arrive before 9am and hang around later than 6pm (the latter particularly on Saturday).

[2019-03-23 23:28] WillB97 commented on #74
The current plan would be to test vision with a slight rearrangement of the standard rig to see if additional lighting is required.

We'll probably do this on the Thursday.

[2019-03-23 23:31] PeterJCLaw commented on #225
Closing as wontfix for the reasons above.

[2019-03-23 23:31] #225 closed

[2019-03-23 23:34] Scarzy commented on #142
They will turn up shortly before and leave shortly after those times (I'm pretty sure I read 15 minutes each way somewhere, but I can't find it atm)

I could ask, but I suspect this will come with a price increase

[2019-03-23 23:35] PeterJCLaw opened #233 "Create a public compbox"
We need a public-facing machine which hosts at least the API so the website can have the live scores etc. (setting up that portion is #112).

Separately, see #118 for the in-venue box.

[2019-03-23 23:42] Scarzy commented on #83
First Aid area should probably be signed

Staging out I believe should just be "Do Not Enter"

[2019-03-23 23:43] PeterJCLaw commented on #142
The 15 minute buffer you mention is already included should be fine -- I'm mostly concerned that we've actively got cover during those times, rather than those being the times they're merely in the building.

It turns out that Saturday is listed as ending at 17:30, which allows for 30 minutes for teams being slow at leaving, which I think is plenty. (I'd thought we went until 18:00 on both days)

[2019-03-23 23:57] Tyler-Ward commented on #230
I would expect about 10-15 minutes for this. assuming we don't have too many people this can probably be done for everyone who needs to know at once.

[2019-03-24 00:58] Tyler-Ward commented on #231
here are some useful inventory bash oneliners as barcodes, these still needs testing to make sure they read ok

move item
sr inv-mv $(read varN && echo $varN))
![mv](https://user-images.githubusercontent.com/3390465/54873534-c4fd1480-4dcf-11e9-98fb-0176f1b27166.png)

cd to competition folder
cd `git rev-parse --show-toplevel`/competition
![comp](https://user-images.githubusercontent.com/3390465/54

[2019-03-24 12:16] PeterJCLaw commented on #218
I've also realised that I have to spare webcams in my collection of bits of kit I'd hung on to in case we needed to send spares out to teams. I'l test that these work for scanning tickets.

[2019-03-24 16:41] Tyler-Ward commented on #157
Drinks have been purchaced

[2019-03-24 16:56] PeterJCLaw commented on #218
I have confirmed that these cameras work. The Logitech seemed to be better, but both are fine.

They are parts srET34 and sr1GK27.

[2019-03-24 16:56] #218 closed

[2019-03-24 17:36] RealOrangeOne commented on #186
We have agreed to allow an extension to the extension deadline, therefore we will need to do this.

[2019-03-24 17:48] Adimote commented on #81
@sedders123 We have a slight excess of volunteers right now, so I'm going to create a role of 'Reserve Marshal', because I remember having issues in previous competitions of marshals arriving on time, and we don't want to delay the competition for this.

[2019-03-24 19:18] PeterJCLaw commented on #81
@Adimote perhaps ensure that the marshal roles either overlap by a bit, or that marshals start their role shortly before matches begin (and that they have a gap beforehand)?

[2019-03-24 19:36] RealOrangeOne commented on #120
@Tyler-Ward has volunteered, and i've checked he has a camera of decent quality, and a tripod.

[2019-03-24 20:02] PeterJCLaw commented on #120
Would that still allow him to be _in_ the photo? It would be a shame if not all the Core Team were able to be in the photo.

[2019-03-24 20:30] RealOrangeOne commented on #157
@Tyler-Ward Yes, this is fine with me. I suspect the execution will be a slightly more varied mix than 5 packets of each, but it depends what Tesco have in stock. I'll just cap it at £10 and see what we come out with.

[2019-03-24 20:35] RealOrangeOne commented on #162
This requires the link to the stream to be done, which won't be setup until the competition. Therefore we can move it to a setup day task (it's more likely to be Saturday morning than actually _on_ a setup day).

[2019-03-24 22:06] Adimote commented on #81
Okay, I'll make sure everyone who performs the marshalling role is either free or doing a non-urgent task straight after, so if the other marshal doesn't turn up, they can just continue their role.

[2019-03-24 22:49] PeterJCLaw opened #234 "Have a testing arena"
Teams are always after a space which they can use to test their robots in. Usually they end up finding a corner somewhere sort-of out the way, but usually not quite as out the way as we'd like.

It's been suggested in the past that we should have a spare arena (or most of an arena) set up in which the teams can test. This would relieve the pressure on the main arena for tinker time slots, while al

[2019-03-24 22:54] RealOrangeOne commented on #234
This would eliminate the strain on tinker time a little (obviously its a different kind of testing). We also want to discourage teams from testing inside the cube, so being able to point them to a better location is ideal.

[2019-03-24 22:58] PeterJCLaw commented on #112
Blocked on having a public facing compbox (#233).

[2019-03-24 23:01] PeterJCLaw commented on #162
Blocked on knowing the url.

[2019-03-24 23:02] PeterJCLaw commented on #45
@RealOrangeOne any update here? Do we even know if they're coming to the competition?

[2019-03-24 23:04] Adimote commented on #80
@Tyler-Ward Is it okay if I schedule it for Saturday? Mainly because I didn't spot this reponse until just now, and I've already allocated people for it on Saturday

[2019-03-24 23:07] PeterJCLaw commented on #45
(They do seem to be active in the IDE, though only have a single team-leader and a single competitor user account)

[2019-03-24 23:10] Adimote opened #235 "Document Volunteer Roles"
We need to produce documentation on how each role works, for volunteers to read ahead of the competition.

Most of this effort is already done from last year's competitions in the [runbook](https://srobo.github.io/runbook/), but we need to update them for the new roles.

[2019-03-24 23:15] Adimote commented on #81
I've now created every role and assigned people to it, and got reviews from them. I note I haven't sent this out for general review so I'm happy to get feedback on this. I've already had reviews from @Tyler-Ward and @RealOrangeOne.

The defined roles are:

Logistics/Setup
--
- Setup/Teardown co-ordinator
- Freight co-ordinator cupboard
- Freight co-ordinator Venue
- Van Driver
- Van Assistant
- Te

[2019-03-24 23:15] #81 closed

[2019-03-25 00:06] Tyler-Ward commented on #157
I have updated the approvals accordingly

[2019-03-25 00:07] Tyler-Ward commented on #120
I can either use the timer and then move in or setup the shot and have someone else just press the button.

[2019-03-25 00:10] Tyler-Ward commented on #80
Saturday should be fine but we should push back the start as teams will likely not be ready for the photos early on the Saturday.

[2019-03-25 00:27] Tyler-Ward opened #236 "Plan volunteer travel reimbursement"
We should plan how we are going to do this and make sure we don't promise things we cant afford. (ideally I would like to fund everyone's full travel but cant promise this until we know how much people have spent).

@Adimote any thoughts

[2019-03-25 00:49] Tyler-Ward commented on #142
For the first Aider location bar 3 will be quite open, Do these have to be one location or can they be two places? we could potentially use the dead end corridor just above bar 2 or down on L1 if we need an area out of the way but these wont be easy for competitors to find.

[2019-03-25 00:59] Adimote commented on #80
I think it's worth having people on it during tinker time. I expect most robots will be photogenic enough after the intro talk, and if teams aren't ready, the photography team can just come back later. (We should give them a list of all teams to tick off)

[2019-03-25 01:26] Tyler-Ward commented on #220
The above has been added along with some other usefull notes.

Unless there are any more comments I think this can be closed

[2019-03-25 08:41] RealOrangeOne commented on #45
Correct, still nothing. I believe they were on the chaseup email I sent a couple weeks ago, but still haven't heard anything.

I don't think its useful keeping this ticket open. Realistically by now it would be easier to return said charger at the event itself rather than shipping it to them.

[2019-03-25 08:41] #45 closed

[2019-03-25 08:44] RealOrangeOne commented on #220
I'm happy with this schedule :+1:

[2019-03-25 13:39] Scarzy commented on #142
I managed to (quite accidentally) get them to reduce it to £648

This needs paying in advance, so I guess I need to send the invoice to
someone. Tyler, are you the best person for this?

On Mon, 25 Mar 2019, 00:49 Tyler Ward, <notifications@github.com> wrote:

[2019-03-25 13:50] Tyler-Ward commented on #142
That is correct, email the invoice over to me and i will forward to the trustees for direct payment.

[2019-03-25 18:31] Tyler-Ward commented on #231
these have been tested and are working

[2019-03-25 19:02] Tyler-Ward commented on #98
We will need white gaff for the arena walls. we can use either white or black for the team pit floor markings. We will need about 300m of tape for the pits and probably about the same again for the arena. tape will also be needed elsewhere for other things but not a huge amount. What mix of black+white do we think we will want?
The link above for hazard tape is wrong we should get the following at

[2019-03-25 19:37] Tyler-Ward opened #237 "Investigate beach flags"
@TomWheal came up with a good idea for outside of the venue which is to get a pair of verticial flags. these have a very short leadtime so can still be ordered if we have the funds. @TomWheal what was the cost of these?

[2019-03-25 20:01] TomWheal commented on #237
https://www.helloprint.co.uk
£ 226.74
https://www.displaywizard.co.uk
£194

both of those are with the base and pole.
It very much depends on what type of flag we want, https://www.helloprint.co.uk/beachflag-printing, this site has most types on it. I would suggest just putting the logo with text on it as is or rotating the text to be verticle, this can be decided if we decide to get some.

[2019-03-25 20:52] Tyler-Ward commented on #157
Based on the hoffers price and the fact that they can do both days I suggest we go for sandwiches on both days. The cost for this would be £1.50 per person per day.

We currently have 41 volunteers and i believe we have another few expected to sign up in the next couple of days from what people have said. In order to have some spare capacity and choice ordering 50 sandwiches per day sounds sensibl

[2019-03-25 21:31] Tyler-Ward commented on #100
@jcwilliamson if you can try and borrow some monitors from ECS that would be great.

[2019-03-25 21:36] Tyler-Ward commented on #224
We now have the invoice for the tech. Which has been sent for payment. We are still waiting for the venue hire costs

[2019-03-25 22:04] TomWheal commented on #100
I have a couple 19” 4:3 monitors that could be borrowed for the weekend if needed

[2019-03-26 01:13] #220 closed

[2019-03-26 01:18] Tyler-Ward commented on #232
@RealOrangeOne do you have a link for the box files?

[2019-03-26 01:24] Tyler-Ward commented on #159
I think we are done with this unless we want to order a tray or two. if so can someone find a link for me to approve purchase of if not sufficient cups have been ordered in #157 to cover the water needs.

[2019-03-26 07:19] RealOrangeOne commented on #194
Nice, i'll purchase prizes later this week.

[2019-03-26 07:22] RealOrangeOne commented on #232
I suspect https://www.amazon.co.uk/Concord-Paper-lock-Finger-pull-Foolscap-Assorted/dp/B002RDR59M/ref=sr_1_7 will suffice

[2019-03-26 08:47] RealOrangeOne commented on #140
Related to this, there is also a list of testing points in Appendix B of the rules.

[2019-03-26 09:08] Scarzy commented on #140
Yup, well aware. Hence the comment " A copy of the relevant sections of the
rulebook will be provided on the day. " in the document.

On Tue, Mar 26, 2019 at 8:47 AM Jake Howard <notifications@github.com>
wrote:

[2019-03-26 09:08] RealOrangeOne commented on #237
I fear the name 'flags', whilst accurate, may lead to confusion with robot flags (I know it did for me!). Is there a better name for them we can use when referring to them?

[2019-03-26 17:36] RealOrangeOne commented on #194
We have https://github.com/srobo/tasks/issues/130 to track the purchase of these. Therefore, as we have a plan, this ticket can be closed.

[2019-03-26 17:36] #194 closed

[2019-03-26 17:36] RealOrangeOne commented on #130
Budget has been approved for 2 teams worth of prizes, at a total of £40.

We shall purchase 2 prizes for this, and extend on the setup days if for whatever reason we find a need to.

[2019-03-26 18:01] RealOrangeOne commented on #98
Assuming we can buy in lots of 24, I suspect a 3/4 split will work out best for us. 6 rolls of white, 18 rolls of black. That ensures we're almost certainly not going to run out of either at the competition.

Besides that, all the numbers above sound pretty good to me. We definitely need both red and black electrical tape for securing cables and marking broken kit.

[2019-03-26 18:43] RealOrangeOne commented on #215
Considering the above, the solution instead is to ship Peter to the Pis (ie flash them in Southampton). @PeterJCLaw I believe we can close this ticket?

[2019-03-26 21:30] #219 closed

[2019-03-26 21:34] Tyler-Ward commented on #227
Loan of the mixer has been agreed.
Monitors have been added to #100.
Still need the cameras and audio input.

[2019-03-26 21:52] Tyler-Ward commented on #231
The remainder of the useful code have been compiled here as two printable docs.
https://drive.google.com/drive/u/1/folders/1_VLw_1NcNYvv8AuTgo1-20UobmyD8RR0

[2019-03-26 21:52] #231 closed

[2019-03-26 21:55] Tyler-Ward commented on #236
per core team discussion suggestion is to reimburse by percentage out of the available budget. @Adimote are you happy to collect the expenses post competition and create a list in google drive somewhere.

[2019-03-26 22:21] PeterJCLaw commented on #233
This now exists. It'll be srcomp.studentrobotics.org soon (I've asked Rich to add DNS). Once it's got DNS I'll configure it a TLS cert too (probably using letsencrypt).

[2019-03-26 22:29] PeterJCLaw opened #238 "Downgrade server resources"
After the competition we won't need quite such beefy servers, so we should downgrade them to their usual levels.

[2019-03-26 22:29] PeterJCLaw commented on #238
Blocked until after the competition

[2019-03-26 22:36] Tyler-Ward commented on #92
Team BMC have been removed and I have uploaded the maps to git at https://github.com/srobo/event-maps-2019

[2019-03-26 22:47] PeterJCLaw commented on #237
If I recall correctly, SR already owns a number of sandwich board signs which we could use for this (though we'd want to get suitable inserts printed) (I don't know where these ended up, though I suspect they're in the broomcupboard) and/or we could use the banner #89.

[2019-03-26 22:50] PeterJCLaw commented on #215
Since there's still a pending issue that I'm not co-located with the Pis, I'm going to leave this open but I've self-assigned as I'll be doing this.

[2019-03-26 22:52] PeterJCLaw commented on #98
In case it's any cheaper, I think we've used electrical tape for the pits before. I'm fairly sure it came back up fine, but I can't remember how good or bad it looked.

[2019-03-26 22:59] PeterJCLaw commented on #159
I think it's https://www.therange.co.uk/cooking-and-dining/tableware-and-dinnerware/serveware/serving-trays/simply-polka-dots-tea-tray/ that I have. I have a "The Range" around the corner and could happily grab one or two of these.

[2019-03-26 22:59] PeterJCLaw commented on #157
Just had a thought -- do we have binbags? Should we get some?

[2019-03-26 23:02] PeterJCLaw commented on #159
(Turns out I actually have the grey one which is currently slightly cheaper: https://www.therange.co.uk/cooking-and-dining/tableware-and-dinnerware/serveware/serving-trays/simply-slate-grey-polka-dot-drinks-tray/)

[2019-03-26 23:10] Tyler-Ward commented on #92
@TomWheal I have created a variant with the labels slanted as per our discussion at the weekend. It helps with some of the labels but others are harder to read, let me know if you want me to try any other edits.
[maps.pdf](https://github.com/srobo/tasks/files/3010839/maps.pdf)
[maps.zip](https://github.com/srobo/tasks/files/3010841/maps.zip)

[2019-03-26 23:12] Tyler-Ward commented on #159
Sounds good, Approved for two grey trays £4.

[2019-03-26 23:14] PeterJCLaw commented on #146
`patience` is now _much_ beefier. I'm not sure I went far enough, but I suspect it's fine.

[2019-03-26 23:14] #146 closed

[2019-03-26 23:28] PeterJCLaw commented on #205
Here's the list:
- everything in the first two columns of RUBs on the right as you go into the container
- check the third column too, but I think that's history stuff
- check the column in the next bank, but I'm pretty sure that's history stuff too
- most of the stuff on the left on the floor of the container (various bags & boxes), notably:
  - the printer (though that might have already been mo

[2019-03-26 23:36] PeterJCLaw commented on #135
Note: this isn't strictly a setup task as it will happen _during_ the competition. We should aim to make a decision on Saturday evening though.

[2019-03-26 23:38] PeterJCLaw commented on #221
@antonnikitin97 would you be able to pick this up?

[2019-03-26 23:38] Tyler-Ward commented on #157
Unless you think we have some in the container we should buy some. @RealOrangeOne are you happy to pick these up as well shouldn't come to more than a couple of pounds?

[2019-03-26 23:44] Scarzy commented on #92
A few thoughts;

Could TLC move into the corner? Also, could SWI move to the other side? These just help open up some walkways.
Can we show where the first aid is going to be stationed? Will help to avoid unnecessary delays if an incident occurs (though I have just noticed this is probably pending some information from me on #142 ).
The power tools area as shown implies it takes up the full width,

[2019-03-26 23:45] Scarzy commented on #142
This has been booked. The invoice has been sent to @Tyler-Ward.

[2019-03-26 23:46] PeterJCLaw commented on #221
I'm wondering whether 100gsm is going to be enough. If we think it is, we can get some at a supermarket for about £5: https://www.tesco.com/groceries/en-GB/products/265149015

[2019-03-26 23:49] PeterJCLaw commented on #157
I couldn't say for sure that we have some and given that they're a minimal cost I suggest just getting some.

[2019-03-26 23:50] PeterJCLaw commented on #159
@Tyler-Ward for clarity: I expect two of them will total £8, is that ok?

[2019-03-26 23:51] Tyler-Ward commented on #92
I will move SWI now, @sedders123 can you update the other listings to accommodate
There are two fire exits on the other side which we don't want to block.

I can add an icon if we know where it wants to be. (if we don't know now we can print the ones in the competitor booklets without it and add it to the ones printed around the venue.

It is only on one side of this area. the full size on this ma

[2019-03-26 23:52] PeterJCLaw commented on #159
Ah, hrm I appear to have linked the wrong thing when I linked the grey one. I think we want a full size tray (a little over double the size): https://www.therange.co.uk/cooking-and-dining/tableware-and-dinnerware/serveware/serving-trays/simply-slate-grey-polka-dot-tea-tray/, which is £3.49.

[2019-03-26 23:56] PeterJCLaw commented on #221
@TomWheal no worries, thanks for letting us know.

[2019-03-27 00:00] Tyler-Ward commented on #159
That is fine now approved for £8

[2019-03-27 00:02] Scarzy commented on #142
Ideally they would be close together, however it's not strictly necessary. The area where the first aider will be stationed normally could do with being somewhere convenient/easy to find, but as pleasant as possible (the first aider will be sat there for quite some time over the course of the weekend!).

To be honest, the secluded area only needs to be an idea of where could be used if necessary,

[2019-03-27 00:02] Tyler-Ward commented on #205
That looks good to me, I have updated the freight list with the kit listed above that is not already there.
Probably worth checking the new kit boxes as there will be a couple of un useful boxes e.g. tablets and tablet chargers which i think were sent to the container.

[2019-03-27 00:11] Scarzy commented on #92
I assume you mean TLC? SWI going to the other side is the one that would block the fire exit, not TLC going to the corner.

Fair point.

Ideally I'd want it in both. People will look at the first map to hand, they won't want to be hunting through different variants of map. Also, the more they see it when not looking for it, the more likely they are to know where to look when they do need it.
I've

[2019-03-27 00:21] Scarzy commented on #147
I'm going to regret saying this, but:
When we have this, can someone send me a copy of the T's&C's, so that I can make sure I know what our obligations are from a H&S standpoint.

[2019-03-27 00:28] PeterJCLaw commented on #205
Good point on the tablets -- not much point having them. The tablet chargers could be useful as backup power supplies for the Pis though.

[2019-03-27 00:33] PeterJCLaw commented on #142
Hrm, we were wondering about putting the battery charging in the volunteer area (not sure we thought it was a good idea, just one possibility). That would likely be incompatible with it being used as the secluded area as we wouldn't be able to leave the chargers which were in the middle of charging (though probably could shut them off?)

[2019-03-27 00:36] PeterJCLaw commented on #103
@prophile how goes this?

(for info: we're down to 30 teams)

[2019-03-27 00:37] PeterJCLaw commented on #97
I'll aim to bring these with me this weekend and we can validate them on a kit.

[2019-03-27 00:38] PeterJCLaw commented on #68
@antonnikitin97 can you provide an update here?

[2019-03-27 00:43] PeterJCLaw commented on #139
@Scarzy how goes the creation of the labels? (Do you want to keep this ticket open until they're done?)

[2019-03-27 00:45] PeterJCLaw commented on #186
@RealOrangeOne I think this is planned now? Certainly the deadline for applications has passed and we have (I believe?) confirmed the one team who've asked.

[2019-03-27 00:47] PeterJCLaw commented on #124
There's a location for this in the floorplans (by the doors on L2 if memory serves), can we call this complete or is there more to do here?

[2019-03-27 00:48] PeterJCLaw commented on #198
This has been included in the volunteer schedules, we know roughly how and where it's going to happen and have a backdrop planned. What's more to do here, or is this done?

[2019-03-27 00:50] PeterJCLaw commented on #101
@TomWheal just wondering if there's any update on this? I don't know what the lead time for printing these will be, though I imagine we're getting close. If you're not going to have time to look at this, that's fine -- better to let us know so we can reassign if needed :)

[2019-03-27 07:32] TomWheal commented on #124
Do we have a table for this as we probably can’t use one we hired

[2019-03-27 07:36] TomWheal commented on #101
The lead time on this is short, my plan is to make them this afternoon when I finish off the booklet

[2019-03-27 08:33] WillB97 commented on #124
We have 2 workmates which can be used for sawing or drilling. Anything that only needs a table I would have thought they could do in their pits.

[2019-03-27 09:29] RealOrangeOne commented on #124
We specifically want teams to be using things like drills / saws in the power tools area rather than their pits, so we can keep an eye on them, and only have 1 place to clean up!

Assuming we have enough table space for that on 2 workmates, which I doubt. I suspect we're going to want another table or something for some extra room. Or we just ensure we move teams along as quickly as possible.

[2019-03-27 09:37] RealOrangeOne commented on #186
Correct. We technically have a plan, although the relevant documents aren't quite finished. Most are ready for review on https://github.com/srobo/kit-coordination-docs, but I also need to address https://github.com/srobo/kit-coordination-documents/issues/8 before i'd be happy closing this.

[2019-03-27 09:43] RealOrangeOne commented on #142
Charging is no longer going in the volunteer area. Bar 3 would work better as a first aid post, as competitors will have better access to it. There's plenty of room there, and things going on. It's also fairly central to team pits.

[2019-03-27 09:50] RealOrangeOne commented on #157
@Tyler-Ward yes, this is fine. On that note, Is it worth getting a roll of paper towels too?

[2019-03-27 09:52] Tyler-Ward commented on #92
Yes that is what I meant.

I will add a first aid point on bar 3 to the map.

[2019-03-27 09:55] RealOrangeOne commented on #221
As we're only printing 130mm markers, we don't need to worry about getting this printed on A3, which is significantly harder. I've got some old tokens from previous SR events at home, i'll attempt to use one of those to find a material which is close enough in strength and material to use.

Printing can be as simple as using the SR printer, or any other printer we can get our hands on.

[2019-03-27 10:08] TomWheal commented on #124
As it's likely to be ruined, you can get a cheap(ish) table on Amazon for ~£35. It would be useful to have a table that it doesn't matter if it's ruined for tech-days as well.
https://www.amazon.co.uk/6ft-Folding-Table-Rectangular-Handle/dp/B008YFCAFQ/ref=lp_2850898031_1_2/260-2565748-8722021?s=kitchen&ie=UTF8&qid=1553681130&sr=1-2

[2019-03-27 12:33] sedders123 commented on #200
According to carrier text messages both plastic and paper cups should now have been delivered to SUSU.

[2019-03-27 12:41] sedders123 commented on #92
I can update the floor plan (and the compstate if necessary) to move TLC into the corner later this evening. SWI will stay where they are if I've understood correctly

[2019-03-27 13:50] Tyler-Ward commented on #200
They have (it turns out 2000 cups are quite large) also trophies are here, checked one and it looks good, probably worth checking the rest this weekend.

[2019-03-27 13:51] Tyler-Ward commented on #92
That is correct

[2019-03-27 15:18] trickeydan commented on #79
This has been done

[2019-03-27 15:18] #79 closed

[2019-03-27 15:45] antonnikitin97 commented on #68
update - received email from Joyce saying she'll chase it up

[2019-03-27 16:09] TomWheal commented on #92
Is there an ETA on this?

[2019-03-27 16:26] Tyler-Ward commented on #92
The maps are on github and ready to go. let me know if you need it in any particular file format.

For info the repo is  https://github.com/srobo/event-maps-2019

[2019-03-27 17:07] TomWheal commented on #87
This currently I what ill send to print, without the food map, venue map and any quotes as I'm waiting on those / peoples opinion on them.

[Booklet-v0.pdf](https://github.com/srobo/tasks/files/3014448/Booklet-v0.pdf)

[2019-03-27 17:13] Scarzy commented on #87
Page 5 should read "rookie teams"

Scarzy

On Wed, Mar 27, 2019 at 5:07 PM Tom Wheal <notifications@github.com> wrote:

[2019-03-27 18:17] trickeydan commented on #87
The encoding on the Food Map is somewhat broken.

Also "Sponsers" -> "Sponsors" on 2nd last page.

[2019-03-27 18:29] RealOrangeOne commented on #87
On the title page, can we change the emphasis on the year and game titles, I suspect 1 should be much larger than the other. Maybe swap the order, shrink the year, and make the game title italic (context: I'm not a designer, not should I ever be).

Excluding the above comments, this looks great!

[2019-03-27 18:31] RealOrangeOne commented on #92
Map looks great!

I still personally think the large orange text is difficult to read, but that could be me, and i'm more than happy to be outvoted on that!

[2019-03-27 19:08] Tyler-Ward commented on #232
Given we have two reception lanes will 5 be enough for reception and other areas (assuming we use box files for all paperwork?)

[2019-03-27 19:09] Tyler-Ward commented on #87
A few thoughts.

* Do we want to call it the competitor booklet as it also has info for non competitors e.g. team leaders and people looking after the kids (forget the right word for this) would event booklet be better (or do we even need to say what it is on the cover).
* I believe there are plans to add a persistent link to the rules that we can use so the game page doesn't go out of date for th

[2019-03-27 19:10] RealOrangeOne commented on #232
we need boxes for media consent, broken kit, and kit return. We have a folder for scoresheets. Are we missing anything from that list? We could get 2 orders and consider that enough? We can re-use them for future events anyway.

[2019-03-27 19:20] Tyler-Ward commented on #232
Currently the fright list has boxes of paperwork at:
Reception:
 * one for completed forms (i guess we will need to double this for two lanes).
 * one for blank forms (i guess we will need to double this for two lanes). (can also reuse for kit handback forms)
Helpdesk:
* Kit replacement forms:
* Account forms and battery lending forms (these don't need a full folder though)
Score entry:
* Somewher

[2019-03-27 19:23] RealOrangeOne commented on #232
I can get a pack of 50 of [these card wallets for £8](https://www.amazon.co.uk/Q-Connect-Document-Wallet-Foolscap-KF01490/dp/B0071HDNRC/). Do you want me to add those to the order?

[2019-03-27 19:25] Tyler-Ward commented on #232
Approved

[2019-03-27 20:23] RealOrangeOne commented on #221
I've spoken to a photographer, and shown them an old token (SR2017), and they believe it's quite likely to be ~200gsm matte photo paper. This is ~£10 on amazon for 100 sheets (https://www.amazon.co.uk/Double-Inkjet-180gsm-Sheets-210x297mm/dp/B07JYT7BN8/).

We can print 2 markers per sheet. With ~70 tokens with 6 faces, that's 210 sheets, meaning we'd need to get 3 packs, costing ~£23.

200gsm is t

[2019-03-27 20:30] RealOrangeOne commented on #232
These have now been ordered at a total of £37.06, and will arrive at my office tomorrow and Friday. Adding to #200 to track delivery.

Receipt has been emailed to @Tyler-Ward.

[2019-03-27 20:30] #232 closed

[2019-03-27 20:45] Tyler-Ward commented on #142
The first aid has now been paid for and the first aid point has been put on bar 3 in one of the booths.

[2019-03-27 20:45] Tyler-Ward commented on #142
I think we can close this now unless there are any more points to cover @Scarzy

[2019-03-27 20:46] Tyler-Ward commented on #224
SUSU have been paid for the tech hire and carpet purchace

[2019-03-27 20:54] richardbarlow commented on #221
All markers for the past two or three competitions have been printed on 270mic (I presume micron - 270mic is what the printers say) synthetic media (plastic) by stormpress (https://www.stormpress.co.uk). I can forward the request for quote from the last competition to somebody if that helps. The lead time has generally been around 5 days from requesting the quote to it being delivered. I'm sure th

[2019-03-27 20:56] richardbarlow commented on #221
(the synthetic media itself is basically indestructible and the printing itself is similarly robust)

[2019-03-27 21:03] RealOrangeOne commented on #221
@richardbarlow interesting! I should have thought of reaching out! If you could send the previous quote over to me it would be appreciated, so I can try and replicate the order for the new token sizes.

[2019-03-27 21:03] PeterJCLaw commented on #221
@richardbarlow sure, please could you forward the previous quote to coreteam@?

I'm not sure we'll have time for it, but it's useful as a reference.

@RealOrangeOne nice find, that's well worth having as a fallback.

[2019-03-27 21:04] PeterJCLaw commented on #221
Note: I'm not sure that the printer we have would do particularly well for this -- it's an inkjet so I suspect not especially high precision.

[2019-03-27 21:20] sedders123 commented on #92
Have created https://github.com/srobo/comp-floorplans/pull/9 with proposed changes

[2019-03-27 21:22] richardbarlow commented on #221
I've forwarded the request for quote I sent for sr2017 to coreteam@

[2019-03-27 21:31] PeterJCLaw commented on #124
That's a neat idea, not sure we have the spare budget though.
If we have workmates (where from?) I suspect they're probably more useful than a table.