[2019-03-27 22:01] WillB97 commented on #157
@Tyler-Ward @Adimote  If we want to be sure hoffers can make the combination we want, we need to get a list what sandwiches we want to them by this friday so they can order the fillings.

[2019-03-27 22:09] RealOrangeOne commented on #221
I've sent off a request for a quote to stormpress with the following spec:

Will update with status changes.

[2019-03-27 22:16] PeterJCLaw commented on #87
Overall looks good, thanks!

* We advertise our social media, but not our own website -- please could we encourage people to look at the website? The following pages will be particularly useful to the teams:
  * [srobo.org/comp/team](http://srobo.org/comp/team) (has information about their matches plus summary of their position & points)
  * [srobo.org/comp/schedule](http://srobo.org/comp/schedule

[2019-03-27 22:20] Adimote commented on #236
Sure, that's fine by me. I think not much more planning is needed until post-competition, other than what @Tyler-Ward just said, and telling volunteers to keep receipts for travel, which has been done in the email I sent yesterday.

[2019-03-27 22:21] RealOrangeOne commented on #87
There'll be 1 set of credentials per team. I think the current plan is to exchange them for batteries and chanrgers, which will be done at reception, or somewhere nearby (also possibly helpdesk depending on space).

[2019-03-27 22:23] PeterJCLaw commented on #87
I like the idea of it being an exchange :+1:
I'd encourage doing it as close to reception as possible -- so as to reduce the chances that someone sneaks past even unintentionally. I think we've historically done this as part of reception, but I'm not sure as I've never been on reception.

[2019-03-27 22:24] Adimote commented on #157
Apologies for being so late on this, here are the details:
[code]

[2019-03-27 22:31] PeterJCLaw commented on #92
I agree on the orange over the plans and still think the grey is too dark. I'll emit a PR against that repo with some suggestions.

(Meta: this would ideally end up in the floorplans repo, rather than its own repo, but let's sort that out later).

[2019-03-27 22:34] Tyler-Ward commented on #236
will move the collection and actual reimbursement to a separate ticket as we have a plan now.

[2019-03-27 22:34] #236 closed

[2019-03-27 22:35] Tyler-Ward opened #239 "Collect volunteer travel expense receipts and arrange reimbursment."
We need to collect travel costs from volunteers and arrange reimbursement.

[2019-03-27 22:37] Scarzy commented on #142
Yeah, I think this can be closed

[2019-03-27 22:37] #142 closed

[2019-03-27 22:44] Scarzy commented on #139
Time has not been my friend lately. I hope to find a bit of time this weekend. (Though if someone else finds they have time and could take it on that would be appreciated)

I feel this ticket should be kept open, yes.

[2019-03-27 22:47] PeterJCLaw commented on #92
I've emitted some suggestions on https://github.com/srobo/event-maps-2019/pull/1

[2019-03-27 22:48] Tyler-Ward commented on #157
@RealOrangeOne sounds good, ill increase the approval by £10 which should be plenty for the above. now £60
@WillB97 I think a general mix is probably a good idea. I don't think we will be able to take orders from people in advance so i suggest we just over order to give some choice (hence the 50 above). I we don't want to have too many options possibly go with ten of five different fillings.

[2019-03-27 22:57] #66 closed

[2019-03-27 22:58] Tyler-Ward commented on #87
I believe it was suggested at the weekend to do the swap and credentials issue at help-desk as they will be handling the batteries anyway.

[2019-03-27 23:21] PeterJCLaw commented on #239
@Tyler-Ward do you have a preferred format for volunteers who will be driving? (Do you want actual fuel receipts, or will mileage estimates be ok?)

[2019-03-27 23:30] Tyler-Ward commented on #239
I think a millage will be fine, will use whatever the standard miles/cost ration is to work out the cost.

[2019-03-28 00:36] Adimote commented on #157
Deleted my previous comment because it had a bit too much PII to be search indexed. I'll PM the relevant people about the volunteer food requirements.

[2019-03-28 09:26] TomWheal commented on #87
[Booklet-v02.pdf](https://github.com/srobo/tasks/files/3017133/Booklet-v02.pdf)

[2019-03-28 09:41] antoinepetty commented on #87
A few minor adjustments but looks good:

- I don't think the "competitor booklet" text on the front is centered.
- Similarly, the quotes page seems to be shifted to the right.
- On the quotes page we should be using competition notation as discussed in Slack. So instead of "CLY 14-15 Blue Shirt 16-19" it should be "CLY SR2015 Blue Shirt SR2017-19"

[2019-03-28 09:47] richardbarlow commented on #87
On page 9 s/your/you're/ in the league link description

[2019-03-28 12:08] TomWheal commented on #101
@PeterJCLaw
[flyer.pdf](https://github.com/srobo/tasks/files/3017824/flyer.pdf)

[2019-03-28 12:09] TomWheal commented on #87
All the Comments Above have now been fixed along with some others I noticed
[Booklet-v03.pdf](https://github.com/srobo/tasks/files/3017831/Booklet-v03.pdf)

[2019-03-28 12:21] Tyler-Ward commented on #87
Looks good,
A quick to do idea for the cover that will break up the blue while still keeping it clean would be to copy the background design used on the business cards and name badges with the whited out logo in the background.

[2019-03-28 12:21] Tyler-Ward commented on #101
The flyer designs look good to me.

[2019-03-28 12:55] sedders123 commented on #92
Now that https://github.com/srobo/event-maps-2019 exists and a map has been designed should we close this ticket?

[2019-03-28 12:59] Tyler-Ward commented on #92
Agreed, given the the booklets are about to be sent off for printing and contain this i think this can be closed.

[2019-03-28 12:59] #92 closed

[2019-03-28 13:30] TomWheal commented on #101
Closing as its complete. Printing will start tomorrow.

[2019-03-28 13:30] #101 closed

[2019-03-28 13:31] TomWheal commented on #87
[Booklet-Final.pdf](https://github.com/srobo/tasks/files/3018129/Booklet-Final.pdf)
Printing will start tomorrow, can change design until then.

[2019-03-28 13:31] #87 closed

[2019-03-28 13:32] TomWheal commented on #129
[Booklet-Final.pdf](https://github.com/srobo/tasks/files/3018136/Booklet-Final.pdf)
[flyer-Final.pdf](https://github.com/srobo/tasks/files/3018137/flyer-Final.pdf)
Have been sent off to print with: https://www.instantprint.co.uk/

Printing starts tomorrow so any changes can be made today

[2019-03-28 14:29] antoinepetty commented on #87
Final nitpick for the quotes page if not too late:
The SR year notation is a single year in which the competition is held. So competing 2015-16 means putting SR2016

I can live with it's current form though ahah. Excellent work overall!

[2019-03-28 15:28] TomWheal commented on #87
Its 2 years is why I put it like that, so really they were competing for 2014-16, There's not really space for SR2015, SR2016

[2019-03-28 15:29] TomWheal commented on #200
Banner is Here

[2019-03-28 17:39] Scarzy commented on #142
For reference, I've just received a quote from AB-Medical for £1152

[2019-03-28 17:41] Scarzy commented on #125
As the PR has been merged, I'm closing this

[2019-03-28 17:41] #125 closed

[2019-03-28 17:58] kierdavis commented on #87
There's a few typos on the "Useful Links" page:
* "Useful for seeing who your’e up against!": *your'e -> you're*
* "All these pages will be automatically updated throughout the compeition!": *compeition -> competition*

Otherwise it looks good to me.

[2019-03-28 19:11] RealOrangeOne commented on #221
I've received a quote for this. This comes to £367.10, and takes 4 working days, meaning we're going to want to order this tomorrow. There's a quicker order for £374.01 which takes 2 working days, which if we have the budget, I suggest we do.

Considering these prices are so much higher than those of 200gsm paper, i'm leaning towards not getting them. If we over-order the paper, we can always prin

[2019-03-28 19:32] RealOrangeOne commented on #133
I suspect we can borrow some names from #126 and #212

[2019-03-28 20:16] jcwilliamson commented on #133
I wouldn't bank on Paul just yet, he's yet to accept the invitation.

[2019-03-28 20:20] Adimote commented on #133
Based on Denis' speech from SB2018, he shouldn't be the finals speaker  :P. When was the email to Paul sent? Can we prod Paul?

[2019-03-28 20:22] jcwilliamson commented on #133
I emailed Paul either yesterday or Tuesday, don't remember. Dorota also said she would ask on our behalf in her reply.

[2019-03-28 20:49] Tyler-Ward commented on #221
This is quite a bit over the budget for markers and a lot more than the paper we have used in the past. I might be able to find the budget if we want to go this route but would need to check when I get home.

[2019-03-28 20:58] Tyler-Ward commented on #98
I anyone able to order this?

[2019-03-28 20:59] RealOrangeOne commented on #221
I personally don't think it's worth it. If we ensure we make a lot of spares, then we can replace them easily. It'll also be useful to know if we can use paper markers for future competitions.

[2019-03-28 21:03] Tyler-Ward commented on #129
I have added these to #200 so i think this can be closed, I assume they are being delivered to you?

[2019-03-28 21:03] TomWheal commented on #129
I’ll leave open until I get print confirmation

[2019-03-28 21:32] sedders123 commented on #98
I can take this on if we can confirm quantities and it can be shipped to SUSU.

Tape | Quantity | Price per roll | Total
-----| ----------| ---------------| -----|
Fluroscent| 4 (one of each colour) | £10.19 | £40.76
Black Gaff | 18 | £1.78 | £28.48
White Gaff | 6 | £1.78 | £10.68
Hazard | 1 | £2.29 | £2.29
Cable Protection | 1 | £23.47 | £23.47
| | | *Total* | £105.58

[2019-03-28 21:48] RealOrangeOne commented on #98
That list looks good. We also need [carpet tape](https://www.amazon.co.uk/Double-Sided-Carpet-Rug-Tape/dp/B01L2LN33Q/)

[2019-03-28 22:23] Adimote commented on #98
It can be shipped to SUSU, address will be:
[code]

[2019-03-28 22:25] Adimote commented on #224
Just to clarify, we're only waiting on venue hire cost now?

[2019-03-28 22:30] Adimote commented on #124
SRO has the aforementioned workmates, I've asked if we can use them

[2019-03-28 22:48] Tyler-Ward commented on #224
That is correct

[2019-03-28 23:01] Adimote commented on #106
Can we also get an extra flag marked with "RETURN TO HELPDESK", so teams can test-fit their flags?

[2019-03-28 23:14] Tyler-Ward commented on #124
Getting a foldable table sounds like a sensible idea as i can see teams damaging the power tool area tables and wouldn't want to have to pay the hire company to replace (do we know how we have prevented this in previous years? Amazon has one slightly cheaper one which looks the same at https://www.amazon.co.uk/Crystals-Premium-Quality-Folding-Catering/dp/B0797YCJ9F/

[2019-03-28 23:15] Adimote commented on #198
I'll write some basic instructions on how to handle photography, then I'll call it done.

[2019-03-28 23:34] Tyler-Ward commented on #98
This looks fine to me. I assume the plan would be to do the arena walls in white and everything else in black?
it looks like they do the flooring tap as well https://www.gaffatape.com/NEC-approved-double-sided-tape/Default.aspx get the 50mm by 50m I think we will need two rolls of this.

It also looks like they have good electrical tape as well. I think a multi-pack and 3 extra rolls of black shou

[2019-03-28 23:36] Adimote commented on #159
I've written some documentation on how I think refreshments should work in https://github.com/srobo/runbook/pull/26, is it okay if I carry on with handling this task?

[2019-03-29 07:18] RealOrangeOne commented on #106
That's a good idea! We can use some white gaff for the flag and write on it.

(Also, having a robot holding a surrender flag will be funny!)

[2019-03-29 12:41] TomWheal commented on #129
Managed to Make the Changes and printing has started, ETA is Tueday next week

[2019-03-29 12:41] #129 closed

[2019-03-29 17:43] TomWheal commented on #237
Given this probably won't happen before the competition I suggest we close this.

[2019-03-29 18:28] trickeydan commented on #237
"++"

@mildlyincompetent  and I think that getting these is an excellent idea.

[2019-03-29 19:41] RealOrangeOne commented on #237
@TomWheal I'm somewhat tempted to agree, especially considering the likely lead time. I think these are a good idea to have, but I don't think we need them this competition cycle. We can just remove it from this milestone, and add the "next competition cycle".

With that being said, assuming we have the budget, I've got nothing against you or @trickeydan investigating, although considering your co

[2019-03-29 19:52] TomWheal commented on #237
I'll move it to next competition cycle then, feel free to take this over if you really want to get some @trickeydan

[2019-03-29 20:16] PeterJCLaw commented on #221
SR has used plastic for the past few years, though I'm not clear on how much difference it has made.
Paper is obviously cheaper financially, but at the cost of volunteer time in both setup (needing to print and cut the markers ourselves) and at the competition (needing to have someone checking the tokens constantly). As there are quite a few of them, I suspect this is a substantial amount of extra

[2019-03-29 20:17] RealOrangeOne commented on #145
Now that https://github.com/srobo/runbook/pull/19 has shipped, we can close this.

[2019-03-29 20:17] #145 closed

[2019-03-29 20:20] PeterJCLaw commented on #221
Answering my own question#;
- the linked 230gsm could be shipped to arrive on Sunday
- the 180gsm and 140gsm "sizes" from on the same link could be shipped to arrive on Saturday (tomorrow) if we order by 9pm today (Friday)

I'm quite tempted to suggest we get some 180gsm to try and see how it fares.

Given the amount of extra volunteer time involved in the paper approach, I'm much more inclined to

[2019-03-29 20:33] RealOrangeOne commented on #221
We'd want to check tokens constantly anyway, but this can be done by the marshals when resetting the arena.

We can cut the markers very quickly using a guillotine (which I have). Setting the markers to print whilst we're doing things allows us to do things concurrently.

Saturday would be an ideal time to test this. I'm sure there's somewhere around we can purchase something like this. (I'll push

[2019-03-29 20:36] antonnikitin97 commented on #68
Update, we now have the accounts! I'm closing this issue!

[2019-03-29 20:36] #68 closed

[2019-03-29 20:41] PeterJCLaw commented on #221
I agree, however I think with plastic we can be much more relaxed about it.

Oh, I was thinking to just buy the one you linked from amazon, ideally if someone has a prime account.

Clicking through to one of their product pages (e.g: https://www.stormpress.co.uk/products/a4-and-a3-posters/a3-posters/) there's a delivery option on the left.

[2019-03-29 20:53] PeterJCLaw commented on #101
Nice!

Shame there wasn't space to include a description of the robot-positions bonuses feature of the rules.

[2019-03-29 21:30] TomWheal commented on #221
(I have prime and am happy to purchase anything from Amazon for the event)

[2019-03-30 09:37] PeterJCLaw commented on #124
I'm not aware that we've done anything in particular to prevent it in the past.

[2019-03-30 09:52] PeterJCLaw commented on #87
@TomWheal thanks for doing this. Please could you contribute the source into a suitable repo? (Probably https://github.com/srobo/promotional-material?)

I suspect I'm too late for changes, but notes for the future:

I agree that the "SRYYYY-YY" notation is confusing. Especially as we already imbue the idea of two calendar years into "SRYYYY", it's entirely unclear what it means.

There wasn't an S

[2019-03-30 09:55] PeterJCLaw commented on #159
@Adimote please do, I have acquired the trays.

[2019-03-30 10:12] PeterJCLaw commented on #101
@TomWheal please could you contribute the source of this to a suitable repo? https://github.com/srobo/promotional-material perhaps? (maybe in a `sr2019` folder?)

[2019-03-30 10:19] TomWheal commented on #87
@PeterJCLaw  the source can be found at, https://github.com/srobo/competitor-booklet-2019/releases , Ill work on converting these too svgs however as it was designed in inDesign It might take a little while.

On your other comments, ill add them to an issue in that repo so they don't get lost for future years.
In the future a longer proofing time is probably needed, that would have allowed us to c

[2019-03-30 10:35] PeterJCLaw commented on #87
Ah, I see.

I think it's important that we have a small number of repos which gather together similar things. I'd definitely encourage that we _not_ have year-specific repos unless they're really necessary.

Keeping things in a small number of repos will make it easy for people to find similar things in the future as well as know where to put things. I appreciate that this may not have been someth

[2019-03-30 11:01] PeterJCLaw commented on #169
I think it's still there.

[2019-03-30 11:14] TomWheal commented on #83
I have made Team pit signs. I've made a framework for the other signs, I suggest that this is finished and printed on the setup days so the signs can be designed for where they need to go, I'm happy to do this on Thursday or Friday and use my printer credit on the uni printers.

[TeamSigns_01.pdf](https://github.com/srobo/tasks/files/3025391/TeamSigns_01.pdf)

(I can only upload the test team sign

[2019-03-30 11:30] TomWheal commented on #87
@PeterJCLaw
Probably best to refer this too @Tyler-Ward as he created the repo, not me.

[2019-03-30 11:57] sedders123 opened #240 "Make 'Sad Lipo' Bucket"

[2019-03-30 12:27] sedders123 opened #241 "Acquire A5 Envelopes for Prize Ceremony"

[2019-03-30 12:37] sedders123 commented on #124
We should get 2 sacrificial tables + 3 g-clamps

[2019-03-30 12:43] sedders123 opened #242 "Print signage for the sandwich-board A-frame signs"
Use printer in Building 25.

Should have Student Robotics + Logo + Arrows

[2019-03-30 12:54] TomWheal commented on #242
This is already underway with #83

[2019-03-30 13:25] jcwilliamson commented on #241
Would it be worth me just picking these up next time I go shopping?

[2019-03-30 14:22] sedders123 commented on #98
Tape has been ordered to SUSU

[2019-03-30 14:22] #98 closed

[2019-03-30 14:24] Tyler-Ward commented on #98
added to #200

[2019-03-30 14:28] Tyler-Ward commented on #200
@nathanp99 have the wristbands arrived yet?

[2019-03-30 14:48] Tyler-Ward commented on #215
Peter is now next to the pis.

[2019-03-30 14:48] #215 closed

[2019-03-30 14:57] Tyler-Ward commented on #157
@WillB97 has told me that the sandwiches have been ordered and will be delivered to gower carpark on the saturday.

[2019-03-30 15:02] Tyler-Ward commented on #95
I have been informed that scaff has been ordered and we area waiting the invoice to pay. added to #200

[2019-03-30 15:11] Tyler-Ward commented on #128
see hack MD here https://hackmd.io/07dzrtQaRSe22IqXucqHwg

[2019-03-30 16:36] WillB97 commented on #74
What's above is the plan for this.

[2019-03-30 16:36] #74 closed

[2019-03-30 16:41] WillB97 commented on #80
@Adimote any reason this is still open?

[2019-03-30 16:54] WillB97 commented on #182
Blocked on finding a driver

[2019-03-30 17:03] TomWheal commented on #182
I’m happy to drive if there’s budget for a driver under 24

[2019-03-30 17:07] mltnhm commented on #172
Working on this in [mltnhm/livestream-overlay](/mltnhm/livestream-overlay)

Here is what that looks like at the moment:
![image](https://user-images.githubusercontent.com/6197148/55279244-42fc7680-530e-11e9-85f5-e16bda72470b.png)

[2019-03-30 17:09] sedders123 commented on #124
[3 x G Clamps different sizes](https://www.amazon.co.uk/Rolson-14189-G-Clamp-Set-Pieces/dp/B004LGUV62/) - £5.49

[2019-03-30 17:16] WillB97 commented on #154
From discussion we are thinking:
- The Stable
- The buffet places in town (JRC or Cosmo)

If those aren't available tell us.

[2019-03-30 17:52] Adimote commented on #154
Thanks, I'll make the calls today.

[2019-03-30 17:55] Adimote commented on #240
Can this be a RUB filled with water?

[2019-03-30 18:02] WillB97 commented on #78
List has been filled

[2019-03-30 18:02] #78 closed

[2019-03-30 18:02] WillB97 commented on #205
This was sorted in https://docs.google.com/spreadsheets/d/13jDdRkZxgKdROVau9VaZiKZbiDV34_rlcZhWcpzQZO8/edit#gid=0

[2019-03-30 18:02] #205 closed

[2019-03-30 18:03] WillB97 commented on #207
This was sorted in https://docs.google.com/spreadsheets/d/13jDdRkZxgKdROVau9VaZiKZbiDV34_rlcZhWcpzQZO8/edit#gid=0

[2019-03-30 18:03] #207 closed

[2019-03-30 18:03] WillB97 commented on #208
This was sorted in https://docs.google.com/spreadsheets/d/13jDdRkZxgKdROVau9VaZiKZbiDV34_rlcZhWcpzQZO8/edit#gid=0

[2019-03-30 18:03] #208 closed

[2019-03-30 18:04] WillB97 commented on #241
These have been purchased, in person budget approval was given

[2019-03-30 18:04] #241 closed

[2019-03-30 18:11] WillB97 commented on #228
- overhead camera
- roving cameras

Out of match just using overhead camera by default

[2019-03-30 18:13] #228 closed

[2019-03-30 18:22] Tyler-Ward commented on #124
Approved for two tables and one of each clamps

[2019-03-30 18:32] sedders123 commented on #124
Tracking added to #200

[2019-03-30 18:32] #124 closed

[2019-03-30 18:33] sedders123 commented on #108
Tested locally and it works

[2019-03-30 18:33] #108 closed

[2019-03-30 18:36] Scarzy commented on #240
Water, electricity, and lithium all sound like a fantastic combination...

On Sat, 30 Mar 2019, 17:55 Andrew Barrett-Sprot, <notifications@github.com>
wrote:

[2019-03-30 18:55] RealOrangeOne commented on #221
After purshasing 210gsm card (budget approval given in person), we're happy that this card is fine, we just need to get more.

The card is A4, meaning we can fit 2 markers per sheet. We have 60 tokens (the arena calls for 40), so we need 360 markers, and 180 sheets. We currently have 50 sheets, so we need an additional 150 more (3 packs)

Said card was ~£6 per pack. I can purchase the additional p

[2019-03-30 18:58] Adimote commented on #150
Well looks like I misunderstood this ticket, I'll make a list of people

[2019-03-30 19:00] Tyler-Ward commented on #221
As per in person discussion this has been approved for 4 packs to give some spares

[2019-03-30 19:08] Adimote commented on #240
I thought the standard way to discharge in an emergency is in salt water?

[2019-03-30 19:26] Scarzy commented on #240
What I read says that all that does in reality is corrode the terminals and
leave a fully charged battery with no way to discharge it. Salt water is
/sometimes/ used to remove the last little bit of charge on an otherwise
already discharged battery, but it doesn't seem to be recommended, and
especially not for a damaged battery.

The more recommended approach seems to be to put them in a fire proo

[2019-03-30 19:37] Tyler-Ward commented on #128
# Post finals plans

Pre finals tasks
* Awards decided and writted down for non placed awards
* Prizes + shiny tablecloth placed in boxes by scoreing ready to move to the stage

### Finals start

### Finals end

Marshals perform scoring and report scores.
Marshals Clear arena of robots.
Score entry enter scores but do not push live
In event of tiebreak score entry should signal this and arena will

[2019-03-30 19:47] RealOrangeOne commented on #221
We've also tested that these can be printed using the university printers (namely those in L3 labs), and they do.

[2019-03-30 19:59] kierdavis commented on #100
I'm also happy to loan a monitor ([BenQ GL2450)(https://www.benq.eu/en-uk/monitor/home-office/gl2450.html)) for the duration of the competition, if needed.

[2019-03-30 20:04] BitBait commented on #106
Added cardboard to previous flags to sturdy them as well as adding new tape, they're pretty much refurbished!
(http://imgur.com/a/Y7db04b)

[2019-03-30 20:19] mltnhm commented on #172
Full overlay including scores:
![image](https://user-images.githubusercontent.com/6197148/55281211-0be78e80-5329-11e9-93a5-3c53b1e90ee9.png)

[2019-03-30 20:21] Adimote commented on #154
I've booked the stable for 28 people at 19:30, they say it should be fine to bring more or less guests, and it's fine to come later if needed.

[2019-03-30 20:21] #154 closed

[2019-03-30 20:27] Tyler-Ward commented on #97
This has been completed and they are now in the inventory under. sr9V1G

[2019-03-30 20:27] #97 closed

[2019-03-30 20:39] #114 closed

[2019-03-30 20:44] Tyler-Ward commented on #214
Ink for this has been purchased and can be returned if the printer is broken. cost £31.99

[2019-03-30 21:23] Adimote commented on #128
I've now added the roles to the schedule

[2019-03-30 21:24] Tyler-Ward commented on #128
The this is done

[2019-03-30 21:24] #128 closed

[2019-03-30 22:34] sedders123 commented on #103
Now we're down to 30 teams is it possible to increase the time in-between matches to say 2:30 minutes instead of 2 minutes? I'm a bit worried about getting scoring + robots in and out of the arena in time.

[2019-03-30 23:20] PeterJCLaw opened #243 "Deploy SRComp Scorer"
We're going to need a copy of the score-entry UI running somewhere. In the past this has been on the machine which is also used for score-entry, though that's not especially ideal as it places additional requirements on that machine. An alternative we could explore is hosting the scorer on the compbox.

We need to work out how to deploy the scorer (in whatever form) and then do so.

[2019-03-30 23:31] PeterJCLaw commented on #128
Did we want the pre-finals tasks to be a role?
I think we thought the card preparation might be a good fit for @antoinepetty if he's free then, as he likely needs the same information for social media/the news blog post?

[2019-03-30 23:33] PeterJCLaw commented on #103
As the matches are only 2:30 long, I believe we already are expecting to run at 2:30 between matches.

[2019-03-30 23:34] RealOrangeOne commented on #154
Is there a plan for getting volunteers _to_ the stable, and back again? I suspect those with cars will not want to drive there, as parking isn't fun.

[2019-03-30 23:41] PeterJCLaw commented on #126
@trickeydan do we know how many/which of the the above list that Jack & Anton were able to reach out to?

@antoinepetty would you be able to pick this up?

[2019-03-30 23:45] RealOrangeOne commented on #206
I believe there was an early-stages plan for me and @prophile to drive to the container to do this first thing Thursday. I don't know whether that is still the plan, although i'm still happy to help.

[2019-03-31 01:17] Adimote opened #244 "Print Helpdesk documents"
- [x] 2 x [Rulebook](https://studentrobotics.org/docs/resources/2019/rulebook.pdf)
- [x] 1 x [Helpdesk Instructions](https://srobo.github.io/runbook/competition/team-support/helpdesk/)
- [x] 1 x [Kit Swap form](https://docs.google.com/document/d/1tvzO0WEqL8m0B0QEBJziylZGAx0bpNe0RP6K1INMVZA/)
- [x] 15 x [Venue Map](https://github.com/srobo/tasks/files/3038699/event-map.pdf)
- [ ] 1 x Eduroam Passwo

[2019-03-31 02:04] Adimote opened #245 "Print Reception documents"
- [x] 75 x [Media Consent Form](https://4-173567015-gh.circle-artifacts.com/0/media-consent.pdf)
- [x] 2 x [Reception Instructions](https://srobo.github.io/runbook/competition/teams/role-descriptions/reception/)
- [x] 2 x [Arrivals Desk Instructions](https://srobo.github.io/runbook/competition/teams/role-descriptions/arrival-desk/)
- [ ] 1 x [Volunteer Sign-in Sheet](https://drive.google.com/file/

[2019-03-31 09:25] PeterJCLaw commented on #133
We haven't always had someone in the past and the reality here is that we _can_ have a prize-giving without an external speaker. Downgrading to should-have (albeit an important one) accordingly.

[2019-03-31 09:27] PeterJCLaw commented on #244
@Adimote when you get time, please could you contribute the Kit Swap Form to https://github.com/srobo/kit-coordination-documents/?

[2019-03-31 09:29] PeterJCLaw commented on #245
(I could be argued that this was a must-have, rather than a should-have, but without a label at all we'll likely overlook it)

[2019-03-31 09:36] PeterJCLaw commented on #221
@RealOrangeOne am I right in thinking that the card ended up somewhere in the broomcupboard? (I'm hoping it was labelled?)

If so, I think all that's left here is for us to actually print the token markers. Do you agree?

[2019-03-31 10:27] antoinepetty commented on #128
I'm not sure exactly what you mean, but I should be free to do that just after the finals.

[2019-03-31 10:39] RealOrangeOne commented on #221
It's in the broomcupboard, yes. This card tracks both the fact we need to print it (or, that'll end up in a separate ticket), but also that I need to purchase additional card

[2019-03-31 11:07] PeterJCLaw commented on #76
More detail on what's going where:

### L4

- 2 x portrait, by the photo studio. Nice to have.
- overhead as you go down the stairs to L3. Probably an "outside" screen

- large display wall. Has own computer. Showing the livestream.

### L3

- 2 x in SUSU cafe, both VGA:
  - "outside"
  - livestream

- Bar 3 screen "outside"? livestream?
- Cafe by the main door

#### Mezzanine

- compbox
- maybe c

[2019-03-31 11:49] Tyler-Ward opened #246 "Acquire flag mounting parts"
We should purchase the following to allow for flag mounting on robots without the capability

2* https://www.screwfix.com/p/jg-speedfit-pem0215w-l-equal-tee-white-15-x-15-x-15mm-5-pack/74470 for flag mounting
1* hot glue gun
1* glue sticks

I will head to homebase/screwfix lin an hour or so and pick some up.

[2019-03-31 14:18] PeterJCLaw commented on #246
Does a hot glue gun count as a power tool? Do we really want to be providing them to teams?

[2019-03-31 14:44] Tyler-Ward commented on #246
I wouldn't want to give it to the teams but either we or they can stick the flag mount on with it at help-desk.

[2019-03-31 14:53] Tyler-Ward commented on #246
The glue gun and a good supply of glue sticks have now been purchased for £19 the mounts came to £24.30

[2019-03-31 15:00] RealOrangeOne commented on #130
These have now been purchased, exactly at budget. Unfortunately, as it's easter, there were no tubs / tins of things in Tesco, only easter eggs, which don't share well. I instead purchased a large assortment of items, which is more than enough treats for any sized team.

[2019-03-31 15:00] #130 closed

[2019-03-31 15:02] RealOrangeOne commented on #157
My part of this order has been purchased, almost. I elected _not_ to purchase fruit quite so early, i'll hopefully go and grab this on a setup day (task for this incomming).

These items came in slightly under budget also, which is good.

[2019-03-31 15:05] RealOrangeOne opened #247 "Purchase volunteer snack fruit"
Extended from #157, we need to purchase fruit. As this would be better bought fresh, we should buy this on the setup days.

A budget of £15 has been pre-approved for this by @Tyler-Ward in the above ticket.

(I'm technically assigned to the order, but leaving the ticket unassigned depending on how things go on the setup day)

[2019-03-31 15:08] RealOrangeOne opened #248 "Purchase broken biscuits for volunteers"
Broken out from #157, we need to purchase broken biscuits (pre-broken) from the SUSU shop.

There's a pre-approved budget of £15 in the above ticket.

[2019-03-31 15:09] RealOrangeOne commented on #157
@Tyler-Ward I believe everything listed in https://github.com/srobo/tasks/issues/157#issuecomment-475906928 has now either been ordered, or split up into its own ticket to be ordered on setup day.

Can we close this?

[2019-03-31 15:09] Tyler-Ward opened #249 "Purchase more misc stationary"
@RealOrangeOne is going to go to the office supply store again soon any extra stationary should be listed here for purchase and approval.

- [ ] Permanet markers (2xpack of sharpies or similar)
- [ ] temporary labels/writable tape.
- [ ]  post it notes

[2019-03-31 15:13] Tyler-Ward commented on #157
I have added the sandwiches to #200 as they will be delivered. So this can be closed

[2019-03-31 15:13] #157 closed

[2019-03-31 15:17] Tyler-Ward opened #250 "Acquire HDMI-VGA adaptors"
Two of the screens we want to use have VGA in.

We can buy some from amazon for fairly cheap.
https://www.amazon.co.uk/Gold-Plated-Computer-Projector-Chromebook-Raspberry-HDMI-VGA-Adapter/dp/B07F6XXTH8/ref=sr_1_1_sspa?crid=3M19AQL5R5S27&keywords=hdmi%2Bvga%2Badapter&qid=1554045338&s=gateway&sprefix=hdmi%2Bvga%2Ba%2Caps%2C156&sr=8-1-spons&th=1

I think we can get these delivered for free if someone

[2019-03-31 15:18] Tyler-Ward opened #251 "Acquire Desk lamps"
We need a desk lamp for score entry to use.

[2019-03-31 15:18] RealOrangeOne commented on #249
I'll go tomorrow on my way home from work, so I'd want this list committed to by around 17:30 so I can reserve it.

## Price estimate

Permanent markers: 12 black for £19
Labels: 675 for £13 (63.5 x 29mm)
Post-it notes: 6 pads (450 notes) for £12.99

[2019-03-31 15:52] antoinepetty commented on #126
Getting a bit short notice for this sort of thing now but I can give it a go.
Shall I just try all of them? I'm not sure who's been contacted by @antonnikitin97 and @jcwilliamson as of now

[2019-03-31 15:56] Adimote opened #252 "Make an arena reset checklist"
Update the runbook with an arena resetting checklist.

[2019-03-31 15:57] Adimote commented on #252
@sedders123 you've done a lot of arena-based tasks, do you want to take this? Otherwise I can do it later

[2019-03-31 15:58] PeterJCLaw commented on #110
I've just spotted that the score-sheets still label Zone 2 as "purple" when it's more nearly a "pink". We should fix that before printing.

[2019-03-31 16:22] PeterJCLaw commented on #246
cc @Scarzy for information that we've got a hot-glue gun for this.

[2019-03-31 16:30] PeterJCLaw commented on #110
Colour fix in @jsedens https://github.com/srobo/arena/pull/1 for you

[2019-03-31 16:34] sedders123 commented on #252
Sorry I won't have time to do this today, but I'm happy to do this tomorrow evening if it can wait

[2019-03-31 16:43] Tyler-Ward commented on #199
I have written some code for this based on mix-tape, will likely need some tweaks to work but shouldn't be too ridicule to do. will try and build the pi on monday

[2019-03-31 17:55] Tyler-Ward opened #253 "Acquire timelapse camera"
it would be nice to get timelapses of setup and the event

Does anyone have a timeleapse camera we can use?

[2019-03-31 17:56] RealOrangeOne commented on #253
@mltnhm Does the go-pro you have do time lapse? If so, can that be used?

[2019-03-31 18:06] trickeydan commented on #251
@antonnikitin97 What happened to the desk lamp that SRO has?

[2019-03-31 18:28] Tyler-Ward commented on #226
I have created some of the OBS config will need to know what the final camera configuration is before I can finish it.

[2019-03-31 18:31] Tyler-Ward commented on #227
We will also need to plan for a camera to capture the awards.
In addition do we have some full HD webcams we can use as these could give some other less important views of the venue.
OBS can also accept streams from other computers with cameras in them if they have an encoded output, could be useful for using pis as remote network cameras.

[2019-03-31 18:31] Tyler-Ward commented on #229
@antoinepetty is going to get access to the youtube account so that we can register for streaming.

[2019-03-31 19:55] PeterJCLaw commented on #109
Now with `s/Purple/Pink/`

[score-sheet-2019.pdf](https://github.com/srobo/tasks/files/3026864/score-sheet-2019.pdf)
![score-sheet-2019](https://user-images.githubusercontent.com/336212/55291885-f4b5a900-53db-11e9-978e-ef6bc0e686b2.png)

[2019-03-31 19:56] PeterJCLaw commented on #110
Colour fixed.

[2019-03-31 20:46] RealOrangeOne commented on #249
Apparently the office outlet near me has actually already shut, therefore I'll probably head to the one in Southampton on Wednesday.

Therefore, i'm moving this to a setup day task.

[2019-03-31 20:48] PeterJCLaw commented on #251
I have a compact desk lamp I can lend for this. It would be handy to have one on the mezzanine too I suspect, so if there's another one around we can use for scoring so much the better.

[2019-03-31 20:49] PeterJCLaw commented on #121
@Adimote as you've got a PR for this, do you want to grab this task?

[2019-03-31 20:50] RealOrangeOne commented on #221
The office outlet near me has actually already shut, so i'll need to order it from an alternative location. Click and collect has it in store in Southampton, so i'll keep an eye on that and probably head over there Wednesday afternoon.

[2019-03-31 21:02] RealOrangeOne commented on #251
I also have one which could be used if necessary, although for logistical reasons i'd need to know soon if we wanted it. I'd highly recommend prioritizing anyone already in Southampton with a lamp over me.

[2019-03-31 21:26] PeterJCLaw commented on #221
Worth ordering there now for collection later in the week? (Do they support that?)

[2019-03-31 21:27] PeterJCLaw commented on #249
For posterity/future planning, could someone who knows please comment on this ticket what these items are for?

[2019-03-31 21:42] PeterJCLaw commented on #252
Meta thought: as this will change a _lot_ between years, is the runbook the right place for it?
The answer might be "yes, as long as we name the file something like sr2019-arena-reset-checklist", though an alternative might be the https://github.com/srobo/arena repo, within the year-specific folder.

[2019-03-31 21:54] PeterJCLaw commented on #128
Sorry, I wasn't at all clear!

We'd like to have envelopes with the names of the winner of each award on them for the presenter to open. While a little odd for the place prizes, it brings a air of award ceremony to the others. Practically this means that the speaker has some notes to work from, ensuring that the award goes to the right people without needing to rely on memory. The cards could even

[2019-03-31 22:08] PeterJCLaw commented on #250
Hrm, my reading of the delivery details is that they need adding to an order over £20?

[2019-03-31 22:19] Adimote commented on #147
Alistair doesn't have a quote just yet, he said these should arrive tomorrow

[2019-03-31 22:56] #198 closed

[2019-03-31 22:56] #122 closed

[2019-03-31 22:56] #150 closed

[2019-03-31 22:56] #235 closed

[2019-03-31 23:24] Scarzy opened #254 "Define how to handle an incident occuring during the event"
It seemed prudent to have a procedure defined for how to handle when a major incident occurs during the competition.

[2019-03-31 23:27] Scarzy commented on #254
https://github.com/srobo/runbook/pull/30

[2019-03-31 23:52] Scarzy commented on #246
Last I checked, all hot glue guns were powered, so yes.

Considering the risk assessment specifically states:

At best it is irresponsible to disregard this and purchase a power tool for their use. This is in line with what has been stated on there in previous years, and providing any tool sets a precedent that could be difficult to reverse in future years.

I suggest this:

changes to:

Alternati

[2019-04-01 06:25] RealOrangeOne commented on #221
It doesn't look like it, which is annoying. But keeping an eye on stock levels in the Chichester and Southampton branches is the best we can do.

[2019-04-01 07:32] RealOrangeOne commented on #246
I'd suggest that _we_ mount the flag mount for teams. Having specific wording in the risk assessments that we may provide tools for specific uses feels weird, for something which can easily be done by a volunteer for the teams which need it (which I _hope_ is actually very few)

[2019-04-01 09:04] Tyler-Ward commented on #200
I have been informed that the wristbands have arrived however the crimp tool is missing which will be chased up.

[2019-04-01 10:31] sedders123 commented on #250
@Tyler-Ward If these have budget sign off I am happy to order (with my prime) for delivery to SUSU

[2019-04-01 10:36] Tyler-Ward commented on #250
Budget is now approved for this.

[2019-04-01 10:39] sedders123 commented on #250
A '2 Pack' has been ordered for delivery to SUSU tomorrow

[2019-04-01 11:31] RealOrangeOne commented on #250
Does that mean we can consider this ticket closed?

[2019-04-01 12:21] sedders123 commented on #250
I think this can now be closed

[2019-04-01 12:21] #250 closed

[2019-04-01 12:28] Tyler-Ward commented on #147
The quote has arrived for £210 if this covers what we need then it is budget approved.

[2019-04-01 14:28] PeterJCLaw commented on #147
I've forwarded the quote document (which contained the T&Cs) to @Scarzy for info.

@prophile just to check - are you owning making a decision on whether this provides the cover we want and do you want any input or review from others?

[2019-04-01 15:18] PeterJCLaw commented on #177
I _suspect_ that we'll struggle to trademark "Student Robotics" as my understanding of trademarks is that ordinary words cannot be trademarked. (This is why you get deliberate misspellings like "Lyft")

We should be able to register the logo roundel and the term "srobo" though.

[2019-04-01 15:38] sedders123 commented on #252
I'm looking to start on this later today. Just to clarify what is required, my understanding of an 'Arena Reset Checklist' would be everything that happens from a match ending to the next match beginning, is that correct?

[2019-04-01 15:49] BitBait commented on #95
Scaffolding has been ordered and will be arriving on the Thursday (4th) and will be collected on the Monday (8th), the invoice will be sent after they have collected the scaffolding (it will be more than £150 as earlier quoted and will most likely be a similar cost to the last sourcebots competition).

[2019-04-01 15:51] Adimote commented on #159
as https://github.com/srobo/runbook/pull/26 is merged, I can call this done!

[2019-04-01 15:51] #159 closed

[2019-04-01 16:02] BitBait opened #255 "Pay for scaffolding"
Once the invoice is returned someone should forward it to a trustee so they can pay the invoice

[2019-04-01 16:12] PeterJCLaw commented on #252
That matches my understanding.

[2019-04-01 16:39] Tyler-Ward commented on #177
We should be able to trademark it as trademarks can be made up of generic words you just cant trademark a generic term for the field it is in e.g. you cant trademark "green apple" for a fruit brand but you could trademark it for an airline or similar.

[2019-04-01 16:49] Tyler-Ward commented on #95
As a separate issue has been raised for paying for the scaff this can no be closed.

[2019-04-01 16:49] #95 closed

[2019-04-01 17:03] prophile commented on #147
I'll make this decision in consultation with Scarzy (subject, of course, to the veto of the core team).

[2019-04-01 17:34] RealOrangeOne commented on #213
https://github.com/srobo/kit-coordination-documents/pull/6 has now merged, so we can consider this solved

[2019-04-01 17:34] #213 closed

[2019-04-01 18:45] Tyler-Ward commented on #200
An update, the missing crimper will be hopefully be delivered tomorrow.

[2019-04-01 18:50] Tyler-Ward commented on #230
A rough plan of what we should cover in this session.

* Basic use of OBS
* Checking the stream is working
* Camera and input switching
* Discussion of the shot plan and commentary options.

[2019-04-01 18:55] Tyler-Ward commented on #249
Permanent markers are mainly for labelling things as they write on most things.
the labels are for using on things we don't want to damage by writing on them e.g. borrowed kit.
the post-its are for helpdesk @Adimote can provide more details.

Also @PeterJCLaw do we have a stock of paper in storage.

[2019-04-01 19:00] Tyler-Ward commented on #126
I have informed the ECS media person about the event so hopeful they will pass it on to the rest of the uni media team.

[2019-04-01 19:01] kierdavis commented on #248
I don't mind picking these up during one of the setup days.

[2019-04-01 19:09] Tyler-Ward commented on #199
I have now found a pi and wideangle camera setup which will do what we need

[2019-04-01 19:20] RealOrangeOne commented on #248
@kierdavis that would be great! Please assign yourself to confirm (you _should_ have permission to do this)

[2019-04-01 19:23] Tyler-Ward opened #256 "Acquire knives for cutting carpet"
We need some knives or similar to cut the carpet as SRO don't have these in the current arena toolbox. @PeterJCLaw do you think there are any of these in storage

if not A pair of these or similar would cover this.
https://www.amazon.co.uk/Stanley-010481-FatMax-Snap-Knife/dp/B0024LG06Q/ref=sr_1_14?keywords=stanley+fatmax+knife+snap+off&qid=1554146357&s=gateway&sr=8-14

[2019-04-01 19:24] PeterJCLaw commented on #256
I'm not aware of SR having any of these.

[2019-04-01 19:29] sedders123 commented on #256
Happy to get these delivered to SUSU if that's helpful, would we want any additional blades?

[2019-04-01 19:31] Tyler-Ward commented on #256
That would be great if you could. I think they come with 6 blades each which should be plenty.
Budget is approved for this.

[2019-04-01 19:32] sedders123 commented on #256
👍 Just to confirm, we want 2 of these?

[2019-04-01 19:35] sedders123 commented on #256
These should be arriving tomorrow. Added to #200 for tracking

[2019-04-01 19:35] #256 closed

[2019-04-01 19:41] Scarzy commented on #256
This strikes me as more of a craft knife. Those blades are designed to snap
out the way to give a fresh blade 1cm further back.

Are we confident any sideways movement on the (rather tough compared to
most craft things) carpet won't just keep snapping them off?

On Mon, 1 Apr 2019, 20:32 James Seden Smith, <notifications@github.com>
wrote:

[2019-04-01 19:51] Tyler-Ward commented on #256
These knives are fairly commonly used for event carpet (I have specked the same style and brand as the one we borrowed from a volunteer for the carpet for small-piece). These are the same style as the craft ones but the blades are quite a bit larger.

[2019-04-01 20:19] #121 closed

[2019-04-01 20:51] PeterJCLaw opened #257 "Prepare spare kit for Helpdesk"
Follows from #144 and depends on #206 and #207.

This task involves working through the spare kit we bring to the venue and ensuring that we have a clear separation between kit which is tested and can immediately be used to help fix teams' issues and that which is in an unknown state.
For batteries, we should ideally also have someone who is familiar with batteries check them over in case any have

[2019-04-01 21:21] sedders123 commented on #252
Have created https://github.com/srobo/arena/pull/2 though can't request review on it (cc @RealOrangeOne). @Adimote @PeterJCLaw Are you ok to take a look?

[2019-04-01 21:28] PeterJCLaw commented on #249
There was a pack of regular printer paper in storage, yes.

[2019-04-01 21:30] PeterJCLaw commented on #252
@sedders123 great, thanks! I don't have time to look this evening, but I'll try to find time tomorrow.

[2019-04-01 21:33] PeterJCLaw commented on #257
cc @Adimote if you could work this into the setup plans, including a person for the batteries, that would be good.

For clarity: I think it's ok for the battery re-check can happen at a different time to when the other items are checked, though doing the battery check second may be easiest.

[2019-04-01 21:55] Tyler-Ward opened #258 "Create post competition reports"
We should give a report on the SR2019 competition cycle and details of the event to the trustees once everything from the event has been sorted out. This will also include a spending report for the year.

[2019-04-01 21:55] Scarzy opened #259 "Allocate funds for potential insurance claims"
The insurance (#147) comes with a "deductible" (what all other insurers call "excess") of £250 per claim to property damage. In the event a claim is made we will have to cough up these funds, as such I highly recommend we allocate funds to support potential claims now.

If we can allocate £1000, this covers us for 4 claims, which should be more than sufficient.

Bodily harm carries no "deductible"

[2019-04-01 22:00] Tyler-Ward commented on #259
I think this would likely be best covered by the contingency pot if we claim on this, unless you think it is likely we will be making a claim in which case i will set aside a specific budget line for it. This should be considered when doing budgets in future years though.

For info what property is the insurance covering?

[2019-04-01 22:02] PeterJCLaw commented on #255
Adding to post-competition milestone as this sounds like it's a thing we'll have to do after the event (please do say if I've misunderstood).

[2019-04-01 22:03] Scarzy opened #260 "Print Robot Inspector documents"
I will need 4 copies of the following:

Robot Inspector document http://scarzybrook.co.uk/SR/robotinspector.pdf
Rulebook Section 2
Rulebook Appendix B

Can someone print these during the setup days?

[2019-04-01 22:11] Scarzy commented on #259
So long as it is sufficiently sized, that's good enough.

A long list of inclusions and exclusions, all defined by the insurer. I don't really see the need to duplicate that on the ticket.

[2019-04-01 22:13] Tyler-Ward commented on #259
Worded that last question badly I was meant as in is it covering Hired property, Student robotics property, volunteer property or property of competitors and volunteers.

[2019-04-01 22:14] Scarzy commented on #139
Ok, time has really not been my friend and I haven't had chance to create these labels. Can someone else pick them up?

Front should be badge sized.
Rear should be ~A5 sized.
It should contain our name/logo, SR2019, the competition name, and the relevant TLA (this latter bit being by far the largest)

[2019-04-02 08:00] TomWheal commented on #139
I’m happy to pick this up.

How were you planning on printing the stickers, do we have sheets of sticker paper in the cupboard?

[2019-04-02 08:09] Scarzy commented on #139
Thanks Tom!

Print on standard paper, and then laminate them (stickers wouldn't survive)

On Tue, Apr 2, 2019 at 9:00 AM Tom Wheal <notifications@github.com> wrote:

[2019-04-02 08:26] PeterJCLaw commented on #139
Hrm, do we have or have access to a laminator?

[2019-04-02 08:27] TomWheal commented on #139
@Tyler-Ward Is there budget for a laminator?

[2019-04-02 08:42] Scarzy commented on #139
Hmm... Good point. When it was mentioned earlier in the ticket I completely
forgot to check.

Unlaminated will work, there will just be more issues with the labels
becoming screwed up.

On Tue, Apr 2, 2019 at 9:27 AM Tom Wheal <notifications@github.com> wrote:

[2019-04-02 08:44] RealOrangeOne commented on #139
In the past, I don't think we've laminated the sheets, and they've lasted fairly well, although I agree it would be better. I believe some of them have TLAs written on with sharpies already.

[2019-04-02 08:48] PeterJCLaw commented on #139
I think we'd rather use the non-written-on ones as much as we can, it's a bit cleaner that way.

How about getting some heavy paper (even just more of the card we were going to use for the token markers #221) if we don't have access to a laminator? That should help the A5 sheets last longer.

My experience of cutting sheets after they've been laminated is very mixed; such sheets don't last as long

[2019-04-02 08:54] Tyler-Ward commented on #139
We have plenty left in the tools budget to cover the laminator if you think it will be useful. (there are probably some other handouts that could benefit from this as well). For durability we can either get some extra laminating pouches the right size or cue the paper pre laminating then cut the laminating pouches.

[2019-04-02 09:00] Scarzy commented on #139
In the past we haven't laminated them, no. But we have ended up with them
completely scrunched by lunchtime the first day.

If we do laminate them, we would definitely want to cut them to size first.

On Tue, Apr 2, 2019 at 9:54 AM Tyler Ward <notifications@github.com> wrote:

[2019-04-02 10:16] sedders123 commented on #200
Got an email saying tape has been signed for

[2019-04-02 12:01] RealOrangeOne commented on #186
https://github.com/srobo/kit-coordination-documents/issues/8 has now merged, so I'm happy to consider this done.

There's little documentation in the runbook on this, but the documents themselves cover most of it. I intend to update the runbook after the competition with the new processes etc from this year, when there's more time.

[2019-04-02 12:01] #186 closed

[2019-04-02 14:16] antoinepetty commented on #229
I now have access. Will look into how to set it up for livestreaming

[2019-04-02 15:48] PeterJCLaw opened #261 "Get a new microSD card for the compbox Pi"
While trying to set up the in-venue compbox for SR2019 (#118) it emerged that the microSD card SR has for the compbox Pi was not writable. It seems to have the data from SR2017 on it just fine (it boots ok), and it _seems_ to let you write data, but when you try to read the data back it's wrong.

I suggest that we get a card which is at least class 8 and ideally class 10 as the higher write speed

[2019-04-02 16:16] trickeydan commented on #251
I'm downgrading this as we can survive with a phone torch.

[2019-04-02 16:17] trickeydan commented on #249
Changing the milestone

[2019-04-02 16:18] PeterJCLaw commented on #182
I'm not sure that this is viable -- I don't think that a 4m roll of carpet will fit in the container. We only have a half container, so it's about 2m × 2m × 2m. While we might be able to mostly fit it across the full diagonal, that would likely mean that we couldn't get anything else in.

We probably need to find another alternative for the carpet.

[2019-04-02 16:18] RealOrangeOne commented on #182
I'll investigate our options for a van this evening

[2019-04-02 16:21] trickeydan commented on #226
Blocked on #227

[2019-04-02 16:22] trickeydan commented on #214
Moving this to be a setup day task, as this will involve getting and testing the printer.

[2019-04-02 16:49] mltnhm commented on #253
It does indeed. Will be sure to bring that with me tomorrow

[2019-04-02 16:49] mltnhm commented on #253
It does indeed. Will be sure to bring that with me tomorrow

[2019-04-02 17:05] trickeydan commented on #253
Can we now consider this issue resolved then?

[2019-04-02 17:06] trickeydan commented on #212
It is too late to do anything about this now, so the people who have been invited will have to do.

- @mildlyincompetent

[2019-04-02 17:06] #212 closed

[2019-04-02 17:09] trickeydan commented on #126
It is probably too late now, so what we have done will have to do.

\- @mildlyincompetent

[2019-04-02 17:09] #126 closed

[2019-04-02 17:09] Adimote commented on #80
Nope

[2019-04-02 17:09] #80 closed

[2019-04-02 17:10] trickeydan commented on #19
-> [`j5`](https://github.com/j5api/j5)

[2019-04-02 17:15] mltnhm commented on #253
I'm just about to get home so I'll close this once I've tested and packed it

[2019-04-02 17:31] mltnhm commented on #253
We're all good. Just charging it up

[2019-04-02 17:31] #253 closed

[2019-04-02 17:43] trickeydan commented on #201
It's a bit late for this now.

[2019-04-02 17:43] #201 closed

[2019-04-02 18:05] jcwilliamson commented on #212
I invited everybody on the list that was given to me.

[2019-04-02 18:09] Tyler-Ward commented on #139
If the sheets we plan to print are A5 we can also get some A5 laminating pouches. I have approved budget for this @sedders123 are you happy to prime this. if we want A5 laminating pouches another £10 is approved for those.

[2019-04-02 18:25] #143 closed

[2019-04-02 19:10] PeterJCLaw commented on #251
Since there are I think three of us planning to bring lamps for various purposes including this, can we call this fixed?

[2019-04-02 19:18] PeterJCLaw opened #262 "Enable the competition mode homepage"
During the competition we have a specific competition mode homepage on the website. We should enable this on the morning of the competition.

I'll put this in a PR ahead of time so it's a trivial deploy, but this task will track that I need to actually deploy it.

[2019-04-02 19:20] PeterJCLaw opened #263 "Disable the competition mode homepage"
Following from #262, we should flip back to the normal homepage after the competition (probably the Sunday evening, but doesn't matter too much if it's the Monday morning).

I'll put this in a PR ahead of time so it's a trivial deploy, but this task will track that I need to actually deploy it.

Blocked on #262 and the competition weekend having happened.

[2019-04-02 19:22] PeterJCLaw commented on #112
While the underlying compstate (#119) doesn't yet have the real league schedule (#103), this is effectively done. I've checked that everything looks ok with a single arena and made a small fix on that.

For the moment I've used `saffron` as a temporary public API to unblock this, though as we already have #233 and https://github.com/srobo/website/pull/142 for resolving that I see little benefit in

[2019-04-02 19:22] #112 closed

[2019-04-02 20:39] RealOrangeOne commented on #182
Looking around, it looks as though Thrifty are the only place which will do van hire to <23 year olds, which is the majority of our volunteer base. I'm more than happy driving the van (actually, i'd quite like to!).

Unfortunately, there's quite a price delta between someone 22, and say 28.

Assuming a booking on the 8th for between 11:30 and 17:30, for a 22 year old is £59, vs someone 28 is £24.

[2019-04-02 21:25] PeterJCLaw commented on #233
https://srcomp.studentrobotics.org/ now exists, complete with Let's Encrypt-based TLS.

[2019-04-02 21:25] #233 closed

[2019-04-02 21:34] PeterJCLaw opened #264 "Check & fix srcomp match spacings"
* [ ] per https://github.com/srobo/tasks/issues/102#issuecomment-471192406 we would like to have an extra gap between the two semi-finals
* [x] per a discussion with @prophile which I now can't find a reference for, we want to have the extra-spaced initial matches at 1.5× rather than double

[2019-04-02 22:20] PeterJCLaw opened #265 "Create mechanism to gather feedback from teams"
As part of feeding in to #258 and for our own learning, we should gather feedback from teams, both team-leaders and competitors, about how the competition went.

We'll want to include this in our email out to the teams as part of our wrap-up email (#266) and it should capture data in a format which is possible to analyse somewhat quantitatively (i.e: bias towards ratings options rather than free t

[2019-04-02 22:20] PeterJCLaw opened #266 "Wrap-up email to teams"
This would cover things like:
- thanking them for taking part
- gathering feedback about the competition (see also #265)
- reminders to those who have kept kit that they need to return it (by $DATE)
- ideally, confirmation or repetition of the dates for SR2020, though that will depend on how it interacts with the next Core Team's structure

[2019-04-02 22:23] PeterJCLaw opened #267 "Gather feedback from volunteers"
As part of feeding in to #258 and for our own learning, we should gather feedback from volunteers, both on how the competition event went and the preceding competition year.

----

If there's a topic you think we should gather feedback on, please do add it here.

- documentation & training at the competition (probably best done per role)

[2019-04-02 22:26] PeterJCLaw opened #268 "Get a list of MAC addresses and IP allocations to our network provider"
This is for the SRComp related machines:
- the compbox (#118)
- the display screens (#96)
- the score-entry laptop

Task as I keep forgetting this!

[2019-04-03 08:22] Scarzy commented on #139
Hmm... I just realised I never asked how many of the safety pins needed to
connect the labels to the hi-vis were still in the container. Anyone have
any idea?

On Tue, 2 Apr 2019, 19:09 Tyler Ward, <notifications@github.com> wrote:

[2019-04-03 09:15] trickeydan commented on #251
I agree.

[2019-04-03 09:15] #251 closed

[2019-04-03 09:18] PeterJCLaw commented on #139
I don't recall seeing any safety pins.

[2019-04-03 10:18] PeterJCLaw commented on #118
This Pi is prepared.

[2019-04-03 10:18] #118 closed

[2019-04-03 10:20] PeterJCLaw commented on #246
@Scarzy I think we're agreed that only volunteers should use the hot-glue gun, is there anything else outstanding here?

[2019-04-03 11:07] Scarzy commented on #246
Agreed, only we use it.

There is 1 potential issue r.e. the insurance that might affect this. Me
and Alistair are chasing that through and can then update this.

On Wed, 3 Apr 2019, 11:20 Peter Law, <notifications@github.com> wrote:

[2019-04-03 11:38] RealOrangeOne commented on #249
Requesting budget signoff @Tyler-Ward

[2019-04-03 12:49] antoinepetty commented on #229
All seems to be fine, I'm able to get the URL and key for OBS - will properly set up on Thursday or Friday

[2019-04-03 12:53] Adimote commented on #244
added venue map

[2019-04-03 12:57] Adimote opened #269 "Print Photography Studio documents"
- [x] 1 x [Team checklist](https://docs.google.com/spreadsheets/d/e/2PACX-1vThrXK87yHYc8HGvNwC8ZEeOg6Jmb1a5Z_s7RV5FhxwcuIIt8GDQwUcVdToCMzL8FBYNP-lINBuTyt6/pub?gid=1578555677&single=true&output=pdf)
- [x] 1 x [Venue map](https://github.com/srobo/tasks/files/3038699/event-map.pdf)

[2019-04-03 14:23] RealOrangeOne commented on #249
These items were purchased without signoff, but came in under the above budget anyway.

[2019-04-03 14:23] #249 closed

[2019-04-03 15:15] PeterJCLaw opened #270 "Adjust robot.zip for shorter matches"
For SR2019, our matches are going to be 2:30 rather than the usual 3 minutes. Since we rely on the robots turning themselves off at the end of matches, we need to fix this before the competition starts.

[2019-04-03 15:38] RealOrangeOne opened #271 "Print token markers"
Now that https://github.com/srobo/tasks/issues/221 is sorted, we need to print the markers.

We have the card, and it can be printed on using the laser printers in L2/3.

We need a PDF with 2 tokens per side of A4. I believe @PeterJCLaw knows how to generate these.

[2019-04-03 15:39] RealOrangeOne commented on #221
The card for this has now been purchased. We just need to print them!

I've extracted the printing into a separate issue (https://github.com/srobo/tasks/issues/271)

This is now done.

[2019-04-03 15:39] #221 closed

[2019-04-03 15:51] nathanp99 commented on #200
Got an email saying Crimper delivered and signed for

[2019-04-03 16:35] Scarzy commented on #246
Chased. Non-issue.

On Wed, Apr 3, 2019 at 12:07 PM Thomas Scarsbrook <scarzybrook@gmail.com>
wrote:

[2019-04-03 16:55] PeterJCLaw commented on #270
`zip-packager` branch [`sr2019-shorter-matches`](https://www.studentrobotics.org/cgit/brain/zip-packager.git/log/?h=sr2019-shorter-matches) exists with a likely fix. I'm not in a position to test it, however I've created a zip which can be used for that purpose.

Attached is a `robot.zip` which will beep until stopped while also printing the time since the start button was pressed to the log.
The

[2019-04-03 17:32] PeterJCLaw commented on #270
@TomWheal confirmed via Slack that this was successfully tested. I've deployed and announced the change.

[2019-04-03 17:32] #270 closed

[2019-04-03 17:34] PeterJCLaw commented on #268
I don't know what the score-entry machine is going to be, but I sent the others over to Delta-V earlier today.

As I don't think we're going to know the score-entry machine until we set it up (and as it doesn't need a fixed IP quite as much as the others), I'm calling this done.

[2019-04-03 17:34] #268 closed

[2019-04-03 17:39] #115 closed

[2019-04-03 17:50] RealOrangeOne commented on #231
Unfortunately, the move code doesn't do bulk, you have a to scan it for each thing you want to move. We should add another one which lets you do bulk. For now we can push them into a text file and replay that later on

[2019-04-03 19:06] PeterJCLaw commented on #231
Some quick commands which are useful for bulk scanning:

The following will scan an item at a time, validate the part code and the move it:
[code]

The following will wait for you to scan a bunch of items, then validate all of them and move them:
[code]

Note that if you use the second one, the trade-off is:
- you don't get validation of what you've scanned immediately
- if there _are_ any errors,

[2019-04-03 19:10] #75 closed

[2019-04-03 19:12] #246 closed

[2019-04-03 19:14] RealOrangeOne commented on #182
I will drive this. Will book over the weekend.

[2019-04-03 19:15] RealOrangeOne commented on #156
@prophile has a plan. We may want to be worried...

[2019-04-03 19:15] #156 closed

[2019-04-03 19:23] Scarzy commented on #147
Alistair and I agreed that we should take this insurance.

I've informed Hiscox that we wish to take it out.

On Mon, 1 Apr 2019, 18:03 Alistair Lynn, <notifications@github.com> wrote:

[2019-04-03 19:58] PeterJCLaw commented on #264
Turns out that we wanted the first round of matches (i.e: everyone's first appearance) to fill the first hour.

[2019-04-03 21:07] PeterJCLaw commented on #243
WIP towards this on my [`deploy-scorer`](https://github.com/PeterJCLaw/srcomp-puppet/compare/master...PeterJCLaw:deploy-scorer?expand=1) branch.

[2019-04-03 21:10] PeterJCLaw commented on #96
Progress on this:
- `srcomp-kiosk` is up to date with the planned layout
- I have an image which is deployable on to the Pis, however I'm actually tempted to leave most of them as they are (they all have various previous deployments on and are fairly easily updatable by just grabbing the latest config, I _think_)
- I've checked that all the Pis boot and can show a useful page

I _haven't_ check th

[2019-04-03 21:23] PeterJCLaw commented on #172
@mltnhm nice :) Do you have an example of what it looks like with a real image behind it?

[2019-04-03 21:26] PeterJCLaw commented on #162
@antoinepetty as you're setting up the youtube portion of this, would you like to also take this task?

[2019-04-03 22:18] RealOrangeOne commented on #170
This is unlikely to happen this year, however if someone wants to pick this up, that's also fine :+1: Moving out of milestone

[2019-04-03 22:19] RealOrangeOne commented on #133
If we can't find anyone, and we still want someone to act as the guest, @prophile will step in as head judge.

[2019-04-03 22:21] RealOrangeOne commented on #106
The dummy flag should be the same size as the regular flag, but be made using white tape. We'll need to cut some more pipe for this.

[2019-04-04 10:46] kierdavis commented on #248
I have bought 4 1300g boxes, totalling £13.96.

[2019-04-04 10:46] #248 closed

[2019-04-04 14:27] PeterJCLaw commented on #221
https://github.com/srobo/game-markers/pull/3 creates a PDF for print these two to an A4 page.

[2019-04-04 18:52] #271 closed

[2019-04-04 18:52] sedders123 commented on #271
We did this today

[2019-04-04 19:04] RealOrangeOne commented on #133
Current plan is to grab someone who happens to be around the venue

[2019-04-04 19:04] RealOrangeOne commented on #206
This has happened.

[2019-04-04 19:04] #206 closed

[2019-04-04 19:10] RealOrangeOne commented on #110
We need around 100 more of these.

[2019-04-04 19:16] PeterJCLaw commented on #96
Update: we managed to flash all the Pi SDs ths evening. They're now in a position to be deployed, but will need configuring after that.

Configuration is a case of `ssh`ing into each and running `./srcomp-kiosk/scripts/update`.

[2019-04-04 19:19] PeterJCLaw commented on #243
Update: the laptop being used for score-entry has Arch Linux on it, so we can just do what we do normally and run the scorer on that directly.

I'll have to work out how to know when we want to deploy the changes, but that's a simpler job than reconfiguring the compbox at this point.

[2019-04-04 19:20] TomWheal commented on #110
@RealOrangeOne so 350?

[2019-04-04 22:24] Tyler-Ward commented on #261
We have a box of SD cards in the venue.

[2019-04-04 22:28] Tyler-Ward commented on #155
@sedders123 can you get the file of these to @TomWheal. These will need to be printed on card.

[2019-04-04 22:35] PeterJCLaw commented on #264
0c4eb6cbd5eb197a0dfee0801a3208b45934efb0 fixes the semi-finals spacing.

[2019-04-04 22:35] #264 closed

[2019-04-05 06:18] sedders123 commented on #155
The file [can be found in slack](https://studentrobotics.slack.com/archives/CDCJ93YMC/p1554307578021100)

[2019-04-05 06:35] RealOrangeOne commented on #110
Sorry no, bad wording. We need 100 more to be printed, I believe we already have 150 printed.

[2019-04-05 08:45] Tyler-Ward commented on #199
[code]

[2019-04-05 08:52] Tyler-Ward opened #272 "Print barcode sheets"
https://drive.google.com/drive/u/1/folders/1_VLw_1NcNYvv8AuTgo1-20UobmyD8RR0

[2019-04-05 09:07] TomWheal commented on #269
Done

[2019-04-05 09:07] #269 closed

[2019-04-05 09:10] TomWheal commented on #272
Done

[2019-04-05 09:10] #272 closed

[2019-04-05 09:13] TomWheal commented on #260
Done

[2019-04-05 09:13] #260 closed

[2019-04-05 09:29] TomWheal commented on #245
Done

[2019-04-05 09:29] #245 closed

[2019-04-05 09:36] TomWheal commented on #244
Done apart from the eduroam passwords, this can be printed "in house"

[2019-04-05 09:36] #244 closed

[2019-04-05 09:39] TomWheal commented on #155
These have been printed

[2019-04-05 09:39] TomWheal commented on #110
Done

[2019-04-05 09:39] #110 closed

[2019-04-05 09:41] TomWheal commented on #83
Team Signs have been printed

[2019-04-05 10:26] PeterJCLaw commented on #243
This is done. There's a `run-scorer` script in the root of the home directory of the SR user which runs the scorer and launches Firefox at the right page.

[2019-04-05 10:26] #243 closed

[2019-04-05 11:00] TomWheal commented on #139
[TeamSafteryChk.pdf](https://github.com/srobo/tasks/files/3047561/TeamSafteryChk.pdf)
I Plan to print these as both A5 and 'A6' one for front one for back

[2019-04-05 11:01] TomWheal commented on #139
Will close this when theyve been printed

[2019-04-05 11:30] PeterJCLaw commented on #96
On the topic of alternative kiosk apps: http://openkiosk.mozdevgroup.com/

[2019-04-05 12:01] #171 closed

[2019-04-05 12:07] Scarzy commented on #139
They look good to me!

On Fri, 5 Apr 2019, 12:01 Tom Wheal, <notifications@github.com> wrote:

[2019-04-05 14:17] #139 closed

[2019-04-05 14:29] PeterJCLaw commented on #261
I suggest let's use the one I've prepared for this year, but let's put a new one in the box for next year. If someone could provide me with the new one at some point I'll add it to the box.

[2019-04-05 15:31] PeterJCLaw commented on #103
@prophile sorted this, we've imported and deployed the schedule.

[2019-04-05 15:31] #103 closed

[2019-04-05 15:31] #119 closed

[2019-04-05 15:45] PeterJCLaw commented on #226
@Tyler-Ward is currently doing this.

[2019-04-05 15:46] PeterJCLaw commented on #147
@Scarzy what's the status on this?

[2019-04-05 15:50] PeterJCLaw commented on #100
We're getting as many of these as we're going to get.

[2019-04-05 15:50] #100 closed

[2019-04-05 15:51] PeterJCLaw commented on #96
These are done; any further updates are part of the standard setup/fixing phase, rather than prep.

[2019-04-05 15:51] #96 closed

[2019-04-05 16:56] #229 closed

[2019-04-05 17:01] #227 closed

[2019-04-05 17:04] TomWheal commented on #155
These have been made

[2019-04-05 17:04] #155 closed

[2019-04-05 17:04] TomWheal commented on #83
This has been pretty much done

[2019-04-05 17:04] #83 closed

[2019-04-05 17:19] PeterJCLaw opened #273 "Create livestream screen page"
This needs to embed the livestream form youtube and somehow exist on the compbox. This could either be a page in the srcomp-puppet repo, or in the srcomp-screens repo.

[2019-04-05 18:29] #172 closed

[2019-04-05 18:55] #214 closed

[2019-04-05 18:55] #216 closed

[2019-04-05 18:55] #242 closed

[2019-04-05 18:57] prophile commented on #202
wontfix due to lack of time

[2019-04-05 18:57] #202 closed

[2019-04-05 18:59] prophile commented on #184
Planned and programmed although untested.

[2019-04-05 19:01] prophile commented on #132
No winner.

[2019-04-05 19:01] #132 closed

[2019-04-05 19:31] PeterJCLaw commented on #107
This is underway

[2019-04-05 19:32] PeterJCLaw commented on #162
This is in review at https://github.com/srobo/competition-website/pull/4.

[2019-04-05 19:41] #162 closed

[2019-04-05 19:46] antoinepetty commented on #136
Have messaged Alistair on Slack with my nomination

[2019-04-05 20:46] antoinepetty commented on #273
Working on this. Current status: YouTube has no automatic full screen flag, and JavaScript won't let you make something full screen without user input.

[2019-04-05 20:59] Tyler-Ward commented on #247
Purchaced

[2019-04-05 20:59] #247 closed

[2019-04-05 21:01] #252 closed

[2019-04-05 23:02] RealOrangeOne commented on #136
Does that mean this is done?

[2019-04-06 09:42] Tyler-Ward commented on #226
Livestream is up

[2019-04-06 09:42] #226 closed

[2019-04-06 10:20] #262 closed

[2019-04-06 10:21] Tyler-Ward commented on #153
This happened

[2019-04-06 10:21] #153 closed

[2019-04-06 10:21] Tyler-Ward commented on #106
I believe the dummy flag ash now been built

[2019-04-06 10:21] #106 closed

[2019-04-06 10:22] Tyler-Ward commented on #230
training done

[2019-04-06 10:22] #230 closed

[2019-04-06 10:46] Tyler-Ward commented on #199
This is working

[2019-04-06 10:46] #199 closed

[2019-04-06 11:17] #107 closed

[2019-04-06 12:01] Tyler-Ward commented on #197
it has been rehearsed

[2019-04-06 12:01] #197 closed

[2019-04-06 13:16] Tyler-Ward commented on #273
I beileve this is working @trickeydan

[2019-04-06 13:21] #273 closed

[2019-04-06 13:50] PeterJCLaw commented on #273
This isn't working as originally descripbed, instead we're just linking direct to the `embed` page. If that's worked as we want, great :)

[2019-04-06 18:48] antoinepetty commented on #136
Waiting for final judgement by @prophile

[2019-04-07 07:59] Tyler-Ward commented on #217
This either happened or it didnt

[2019-04-07 07:59] #217 closed

[2019-04-07 08:52] PeterJCLaw commented on #217
As I understand it, there were some issues here. Notably:
- we had prepared live USB sticks (as noted above), but the machines had some configuration which prevented that being used
- the prepared live USB sticks didn't actually have the requisite private key on them

We should improve this for next year.

[2019-04-07 12:51] Tyler-Ward commented on #200
Everything arrived

[2019-04-07 12:51] #200 closed

[2019-04-07 16:17] #136 closed

[2019-04-07 22:03] antoinepetty opened #274 "Publish post-competition blog"
Following from #117, we need to publish the posts we prepared.

[2019-04-07 22:36] Adimote opened #275 "Add consenting volunteers to mailing list"
We had a checkbox to hear more about future events in the volunteer sign up form, which is effectively giving permission to add them to our mailing list. We need to actually do this

[2019-04-07 23:12] Adimote opened #276 "Ask teams to convince competitors to volunteer"
As we forgot to mention that we need more volunteers at the end of the prize giving talk, the next best idea is to send an email to teachers to remind their students to volunteer.

(We should make sure its okay for teachers to ask students to share their details with external groups first)

[2019-04-08 07:51] RealOrangeOne commented on #276
Not sure how relevant this is. All teachers need to do is remind students that SR is volunteer-lead, and where to go, nothing more than that. We don't want volunteers who are still at the college for obvious reasons, so after that it's on the student whether they want to give us their _details_ (in this case, basically just an email address)

[2019-04-08 08:17] RealOrangeOne opened #277 "Collect photos of SR2019 together"
Throughout the event, we had lots of volunteers taking photos, we should ensure they're in 1 place so they can be used in future marketing, admired by other volunteers, and competitors.

Really we want this location to be public. In the past, we've used Flickr for this, which has worked out really well.

We'll need to send out an email to volunteers requesting access to their photos (by uploading

[2019-04-08 08:36] PeterJCLaw opened #278 "Investigate USB stick failure mode with Ruggeduinos"
QMC had an issue in SR2019 with their issued USB stick somehow interacting with their Ruggeduino in a manner which caused their ODROID not to boot. The issue was definitely related to the USB stick because:
- using that USB stick on another (minimal) kit with an equivalent setup showed the same failure mode
- swapping out the USB stick on both the duplicate setup and their kit resolved the issue i

[2019-04-08 08:37] PeterJCLaw opened #279 "Replace the yellow and white usb sticks"
A number of teams during SR2019 had issues with their USB sticks which were resolved by using different ones of their own (e.g: https://github.com/srobo/tasks/issues/278, though other issues were also seen).
If we're keeping on using USB sticks for loading code onto the robots (which seems likely as doing so is a proven and reliable way to do so), then we should replace the USB sticks with some ne

[2019-04-08 08:42] PeterJCLaw commented on #277
We should probably ask volunteers to tag their images with a suitable license if they're happy to do so, or at least explicitly email us with permission to use them if they'd rather not license them freely for all.

While Flickr has worked well in the past, I'm not sure how good a fit it is now that it's under new ownership and their terms have changed a lot. For clarity here: I'm not saying that

[2019-04-08 11:57] TomWheal commented on #278
I’m happy to do this, if I can get QMCs kit

[2019-04-08 12:17] sedders123 commented on #184
This was done

[2019-04-08 12:17] #184 closed

[2019-04-08 12:17] sedders123 commented on #133
Joyce did a great job

[2019-04-08 12:17] #133 closed

[2019-04-08 12:18] sedders123 commented on #147
Competition is over

[2019-04-08 12:18] #147 closed

[2019-04-08 12:22] sedders123 commented on #182
This is done

[2019-04-08 12:22] #182 closed

[2019-04-08 12:22] sedders123 commented on #135
This was decided

[2019-04-08 12:22] #135 closed

[2019-04-08 12:24] sedders123 commented on #240
A protocol was agreed upon at the competition

[2019-04-08 12:24] #240 closed

[2019-04-08 12:24] sedders123 commented on #257
There was kit available, but not sorted

[2019-04-08 12:24] #257 closed

[2019-04-08 12:31] #263 closed

[2019-04-08 15:45] PeterJCLaw commented on #274
@antoinepetty do you know roughly when you'll have this in PR?

[2019-04-08 16:40] jimmythompson commented on #265
Does this not apply to #267 more than this?

[2019-04-08 16:48] jimmythompson commented on #265
In order to help fundraising and as part of our annual report to the Charities Commission, we (@srobo/trustees) need some information and feedback from teams and volunteers. We were hoping to have this done pretty quickly so we can start fundraising for next year. 💸

That said, you're all probably exhausted and deserve a break, so I'd be happy to pick this up. Anyone wanna join me?

[2019-04-08 16:57] trickeydan commented on #265
@kierdavis and I did gather some qualitative data from a limited selection of teams yesterday afternoon, so I think it'd be a good idea if we had a chat or at least for me to send you my notes.

[2019-04-08 17:06] antoinepetty commented on #274
@PeterJCLaw Ready for review now. https://github.com/srobo/website/pull/147

Not sure whether to wait for the additional photos and maybe a central place where we are putting all photos.

[2019-04-08 22:23] Scarzy commented on #240
Can I suggest this protocol is documented? For future reference

On Mon, 8 Apr 2019, 13:24 James Seden Smith, <notifications@github.com>
wrote:

[2019-04-09 12:27] RealOrangeOne commented on #277
Flickr has changed it pricing policy such that it's no longer a suitable fit. There's warnings when you log in saying existing photos may be deleted (something we may need to look into in future).

My current suggestion is a google photo album, as we can manage permissions as part of the existing gsuite accounts, and add external parties very easily if necessary. Unfortunately it doesn't look like

[2019-04-09 23:07] PeterJCLaw commented on #238
I've resized both `patience` and the public compbox, they're back to being small now.

[2019-04-09 23:07] #238 closed

[2019-04-10 19:13] RealOrangeOne commented on #277
I've created a Google Photo album (https://photos.app.goo.gl/8vtBZiuM8FXSf79Z8) to store this. I encourage people to upload them there.

[2019-04-10 21:15] PeterJCLaw opened #280 "Create a list of cookbook style guides we'd like competitors to have available"
We've had a number of discussions around making things easier, often by making various changes to the game structure or kit, though we also tend to end up wanting to provide instructions or information for competitors to enable them to do things for themselves.

While we obviously don't want to end up documenting third party stuff, it would be reasonable for us to create guides around doing variou

[2019-04-11 13:12] #274 closed

[2019-04-19 14:16] PeterJCLaw commented on #240
@sedders123 do you know what the protocol was? (cc @rgilton as head helpdesker)

[2019-04-19 15:08] RealOrangeOne commented on #276
This will be done as part of https://github.com/srobo/tasks/issues/266

[2019-04-19 15:18] RealOrangeOne commented on #277
A large number of volunteers have now uploaded their photos here (which is great!), and we've got the high-res versions of the finals and team photos. Only remaining ones are the photo-booth ones, which are apparently with @antonnikitin97.

[2019-04-19 16:09] RealOrangeOne commented on #277
We've now got the photo-booth photos in the album now (thanks @antonnikitin97!), so i'm fairly happy to consider this closed.

As a result, i'll be closing the album from having further photos uploaded, just so it doens't get abused. If volunteers want to upload more, they can contact an existing collaborator (I think, or me) to get it unlocked again.

[2019-04-19 16:18] #277 closed

[2019-04-20 21:08] Adimote commented on #49
Was this done at the competition?

[2019-04-21 11:10] trickeydan commented on #49
If the freight handling was done properly on Monday, then yes. I have yet to confirm this.

[2019-04-22 16:40] PeterJCLaw commented on #49
I thought the conclusion was that much of the SR stuff which was in the cupboard was going to stay there?
Without a concrete list of which boxes or kit/etc. this ticket refers to, I think it'll be hard to conclusively resolve it.

[2019-04-22 17:53] trickeydan commented on #49
I will be inspecting the cupboard tomorrow and will be able to determine if action is required

[2019-04-23 09:27] rgilton commented on #240
I was only "head helpdesker" during Saturday morning, and was not aware of any scheme for disposing of broken lipos.

[2019-04-23 10:09] sedders123 commented on #240
While we were eating lunch on the teardown day, I was told that there was a procedure and we could close this issue. Can't remember who said this, might have been @Tyler-Ward?

[2019-04-23 10:34] RealOrangeOne commented on #49
Given that we also plan to do a kit sorting day in Southamton in the coming weeks, that would be an ideal time to rectify the issue. Considering how little of SRs was sent back up to the cupboard, it's highly unlikely there's actually an issue.

[2019-04-23 13:59] RealOrangeOne commented on #240
I remember something about battery disposal points _around_ which could have been used if necessary.

[2019-04-23 15:24] trickeydan commented on #240
If there was a protocol, I was unaware of it. I recall discussion where @Scarzy said that we should not use salt water as we had planned to. (Something something, lithium, fire, water, bad)

[2019-04-23 16:11] Scarzy commented on #240
Ok, so it sounds like there wasn't a protocol.

I suggest this is re-closed, but is at least now no longer inaccurate.

On Tue, Apr 23, 2019 at 4:25 PM Dan Trickey <notifications@github.com>
wrote:

[2019-04-23 18:10] antoinepetty opened #281 "Create Instagram Account"
A few teams at SR2019 were using Instagram instead of Twitter and Facebook. It's probably worth us setting up an account there to promote SR and monitor team progress as we currently do on other Social Media.

(This should probably be handled by Trustees?)

[2019-04-24 11:09] trickeydan commented on #281
Pretty sure that trademarks do not cover social media handles... Have you tried @srobo?

[2019-04-24 11:12] trickeydan commented on #280
We can probably base these off the Smallpeice work shops

[2019-04-24 11:17] antoinepetty commented on #281
Yep, srobo is also taken

[2019-04-26 07:31] RealOrangeOne commented on #281
Had the accounts `@studentrobotics` and `@srobo` been attempting to impersonate "Student Robotics", we'd have a case. Besides that, it's highly unlikely. `@student_robotics` is almost certainly fine.

[2019-04-26 09:58] TomWheal commented on #281
If the accounts have been inactive, Twitter is usually pretty good at reallocating them.

[2019-04-26 10:11] trickeydan commented on #281
Unfortunately, we have to deal with the folks at Facebook for Instagram.  In my experience they try to be as unhelpful as possible. (e.g they wanted a signed letter from SRO president to confirm that we were no longer MiniBots.)

[2019-04-27 18:26] PeterJCLaw commented on #267
I've just had a quick look at the feedback we got. While there's definitely some things we can work on, the majority of respondents enjoyed the competition and had good things to say. Well done @srobo/core-team!

[2019-04-29 19:59] #254 closed

[2019-04-29 21:31] #265 closed

[2019-04-29 21:31] #266 closed

[2019-04-29 21:31] #276 closed

[2019-04-30 13:51] trickeydan opened #282 "Write up notes from Kit Interviews"
I need to write these up and publish the conclusions.

[2019-05-01 20:12] PeterJCLaw opened #283 "Collate the SR2019 kits"
We need to clean & tidy the kits which were issued for SR2019, plus test them so we know which need fixing before the next competition.

This is documented as a ["Kit Collation Event"](https://srobo.github.io/runbook/kit/hardware/kit-collation/).

As we've not yet got all the kits back, this likely means several events - this task is a parent and should remain open until all kit is accounted for.

[2019-05-01 20:39] PeterJCLaw opened #284 "Have the first post-SR2019 Kit Collation event"
We need to clean & tidy the kits which were issued for SR2019, plus test them so we know which need fixing before the next competition.

As we've not got all the kits back yet this event will be for the kits which we have available, though hopefully that's most of them. This will also put us in a better position to know what kit remains unaccounted for so that we can chase schools. This is the fir

[2019-05-01 20:41] PeterJCLaw opened #285 "Arrange to get a kit return pack to HRS"
It turns out that HRS managed to leave the competition venue without collecting a kit-return-pack, so we need to find/create one of those and send it to them.

There _might_ be one of these in the container, so we should see if we can find it easily when we're there for #284.

[2019-05-01 21:29] PeterJCLaw commented on #284
On the required equipment: most of it is in the container. The scanners are the main thing we'll need to look out for. I'm not too worried if we don't bring the kit to test the parts as I suspect we may not get that far.

@prophile would you be able to lend us some washing up bowls?

Ideas on where to get isopropyl alcohol or label residue remover would be most welcome (Amazon has some IPA, but de

[2019-05-01 21:39] PeterJCLaw commented on #261
This was fixed at the competition. @Adimote (thanks!) had some spare microSD cards that he donated, so there's a fresh mciroSD card (in packaging) in the same box which contains the compbox Pi 3 and its charger.

[2019-05-01 21:39] #261 closed

[2019-05-01 21:43] PeterJCLaw commented on #284
https://www.amazon.co.uk/XMykal-Sticky-Stuff-Remover-250ml/dp/B00T22HKXM might do for label residue removal?

[2019-05-01 22:01] trickeydan commented on #210
When this occurs on Saturday, it'd be great if the checklist from the competition is updated to show things that were returned to the cupboard. Some items have been confirmed already.

[2019-05-01 22:02] trickeydan commented on #285
I believe that one of these may have been left in the Broom Cupboard after SR2019.

[2019-05-01 22:05] PeterJCLaw commented on #210
For extra clarity -- this is an _if we have spare capacity_ on Saturday. I fully expect that we won't get around this as there's quite a lot of kit to get through and that's the priority.

[2019-05-01 22:06] PeterJCLaw commented on #285
Ah, now you mention it I do vaguely recall them being in a bag which ended up inside a Sainsbury's bag in the cupboard.

[2019-05-01 23:22] trickeydan commented on #284
Label printer is fine as always.

You can borrow the Tudor motors if you want, but I'd recommend the Motor test rig instead.

[2019-05-02 18:19] PeterJCLaw commented on #284
Oh, I'd forgotten about the test rig. That's definitely a better idea, thanks.

[2019-05-02 18:34] PeterJCLaw commented on #284
We're going to get 2 × https://www.amazon.co.uk/Isopropyl-Rubbing-Alcohol-First-Antiseptic/dp/B007ECG29U/ and not worry about label residue remover.

[2019-05-05 14:03] PeterJCLaw commented on #285
It turned out that the pack I was thinking of was in the container.

However we've already replied to HRS with instructions otherwise, so this task is no longer relevant.

[2019-05-05 14:03] #285 closed

[2019-05-05 14:15] PeterJCLaw commented on #209
This mostly happened during #284.

The majority of _boxes_ in the container were identified and moved, though we did not attempt to validate their contents, instead relying on that being correct from the post-competition checking.

We were also able to identify a number of items which had older part code labels without barcodes. While we printed labels for these, unfortunately we were not able to

[2019-05-05 14:15] PeterJCLaw commented on #284
This happened.

We managed to [check-in](https://srobo.github.io/runbook/kit/hardware/kit-collation/#checkin) all the parts from the kits we had available, plus many of the battery-related parts. There were some boxes of other spare parts which we'd hoped to review, but didn't get around to.

In doing so we counted:
- 23 ODROID power cables in spec; 8 in various degrees of brokenness
- 26 screwdri

[2019-05-05 14:25] PeterJCLaw commented on #284
Things we should improve for the future:
- need to have some way to labelling the contents/role of RUBs; in the past we've written on tape and stuck that to the boxes, but we overlooked that this time
- the current runbook instructions feel optimised for a small group (<= 4 people), different approaches work better when you have more people than that
- inevitably you end up using areas of the room

[2019-05-05 15:58] PeterJCLaw commented on #179
I am (slowly) doing this.

The process I'm following is:
- review repos by rough area (e.g: kit hardware designs is an area), identifying those which are current
- look for existing networks of them on GitHub (e.g: in the org, in related orgs or in volunteers' own accounts)
- contact the owners of the "root" repo in those networks to see if they'd be interested in "transferring" the root repo to t

[2019-05-05 17:13] PeterJCLaw commented on #284
Inventory commands I found useful:
[code]
Plus other variations on that theme.

`xargs -l sr inv-mv` was also useful as always.

[2019-05-06 13:55] PeterJCLaw commented on #195
Thanks again for reporting. I'm going to close this now as I believe it's clear why that particular repo is (unusually) private (but not worth fixing) and that other private repos are correctly so. In any case, as we're moving to GitHub (#179) I'm not sure it's worth investing deeply into sorting the permissions on `cgit`.

If there are other repos which you believe are incorrectly private, please

[2019-05-06 13:55] #195 closed

[2019-05-06 14:18] PeterJCLaw opened #286 "Review our approach to media-consent"
Currently we collect media-consent from everyone at our events and believe that this is a formal requirement to use that photography. However when visiting other similar events and conferences, the level of formality we have seems to be unusual. I believe that it has always been the case that we're unsure how much formality we need to have here and have thus erred on the side of more.

It would be

[2019-05-06 14:19] PeterJCLaw commented on #60
I'm considering this blocked on https://github.com/srobo/tasks/issues/286.

[2019-05-06 14:47] PeterJCLaw commented on #278
@TomWheal as you've now got the QMC USB stick, would you like to grab this ticket?
No rush on actually doing the investigation though -- I'm aware it's exam season.

[2019-05-06 15:02] PeterJCLaw commented on #173
I'm composing an email which I'll send out.

[2019-05-06 17:17] PeterJCLaw opened #287 "Move to Python 3"
Python 2 is beyond end of life. Any Python tools we continue to use should be updated to Python 3 in order to ensure that we can continue operating.

This task is a parent task to oversee the general effort.

When upgrading we should ensure wide support for the components remains, which likely means targeting the a version of Python 3 which is widely installed by default. Choosing the version in D

[2019-05-06 17:49] RealOrangeOne commented on #287
_Need_ is a strong word. Do we actually _need_ to?

The infrastructure side of this is a much easier argument, because those are internet accessible and security is more of a concern.

Do we need to migrate the kit software too? I get that it's a legacy technology which it would be good to upgrade, and that competitors all learn Python 3, but it's been that case for several years (I was being taug

[2019-05-06 18:36] PeterJCLaw commented on #287
I'd actually meant to put "2020" rather than "SR2020" in the description, though I actually think that targeting this being done before the start of the competition year is the right thing to do. Some of the things mentioned can definitely wait a bit longer though.

In terms of Python versions, while Buster does come out soon, Stretch will still be supported for some time after that and many curre

[2019-05-06 21:13] TomWheal commented on #278
Ill grab it, but yeh might have to wait a few weeks

[2019-05-06 21:41] PeterJCLaw commented on #16
https://devblogs.microsoft.com/visualstudio/intelligent-productivity-and-collaboration-from-anywhere/ seems relevant on the VSCode-in-the-cloud side of things.

[2019-05-06 21:48] trickeydan commented on #287
https://j5.org.uk/j5

[2019-05-06 22:43] trickeydan commented on #16
https://www.theia-ide.org implements vscode and has a nice plugin system.

[2019-05-07 19:29] PeterJCLaw commented on #16
While not strictly related, we should probably consider whether we want the IDE to be real-time collaborative.

[2019-05-07 19:55] trickeydan commented on #16
I realise I have yet to write up the notes yet, but this was requested by competitors.

Also raised RE the IDE:

- It's critical to many teams that it's online.
- Currently too slow (Unsure if it's slow, but this was definitely mentioned)
- They don't want to be restricted to just our IDE, some copy-pasted code from other (offline) IDEs.
- Don't use git functionality. (mentioned as confusing and j

[2019-05-07 21:56] PeterJCLaw commented on #16
Thanks for sharing the notes. I've various thoughts on how to improve the current IDE, but I've held back on those from this.

This is fantastically vague. Do we have any hints as to what aspects are too slow? What would "fast enough" look like?
Is it the initial load? The time to save? The time to export? The edit/debug cycle as a whole?
If we don't already know, this will likely be something we

[2019-05-07 22:31] trickeydan commented on #16
I did attempt to press for details, didn't get much.

See https://github.com/systemetric/sr-zipper for the latter.

Indeed.

Interesting.

Perhaps we could add a mode where it 'auto-commits' regularly + when the code is exported? We should also leave a proper git mode though for teams that use it.

[2019-05-09 19:17] RealOrangeOne commented on #284
As we've now had this event, can we close this issue, and open another to track a potential future day?

[2019-05-09 19:19] PeterJCLaw commented on #284
I'm holing this open pending a response from @andybusse and @sedders123 about the state of the power boards.

[2019-05-09 19:28] sedders123 commented on #284
I think they were checked as they were moved to the checked area of the room. Having said that I don't remember checking them myself.

[2019-05-09 19:39] PeterJCLaw commented on #16
Yeah. The idea I'd had a long time ago was that we'd have it commit either all the time or (more likely) when the user hits the "save" button, but then there'd be a way to annotate old revisions with things like whether the robot worked or not. I'd imagined the latter would work using annotated tags.
I'd probably keep the current mode available for those who want it, though perhaps not as the defa

[2019-05-09 19:40] PeterJCLaw commented on #284
Hrm, in which case we probably really do have some which have gone missing.

[2019-05-09 20:10] #284 closed

[2019-05-15 09:25] trickeydan opened #288 "Check for Smallpeice RUB in Newbury"
It's possible that a RUB of Smallpeice equipment may be in the container.

Next time someone visits the container, it would be useful if this was checked and confirmed.

[2019-05-15 09:27] trickeydan commented on #210
This was partially done, although I believe that some of the records have been lost. Thus we should still consider the state unknown imo.

[2019-05-16 20:41] PeterJCLaw commented on #288
How would one identify this?

[2019-05-17 20:10] Tyler-Ward opened #289 "Await info on susu venue hire costs"
we are waiting on the info for this.

[2019-05-17 20:10] Tyler-Ward opened #290 "Get payment details from volunteers who did not provde any for travel reimbursement"
We need to get bank details for the volunteers who didn't fill them in on the expenses form

@Adimote has agreed to do this.

[2019-05-17 20:11] Tyler-Ward opened #291 "Submit travel claims to the trustees for reimbursement"
relies on #290

[2019-05-17 20:12] Tyler-Ward opened #292 "Get invoice form stagesoc"
We need the invoice for the kit hired form stagesoc so this can be paid

[2019-05-17 20:12] Tyler-Ward opened #293 "Get scaff invoice"
We are missing the copy of the scaff hire invoice @Adimote has this.

[2019-05-17 20:13] Tyler-Ward opened #294 "Get missing recipts/claims"
We are still missing some receipts these need to be submitted soon.

[2019-05-17 20:14] Tyler-Ward opened #295 "Close off competition budget"
We need to close out the budget for this year. I have opened tasks for the required actions to do this.

- [x] SUSU venue costs #289
- [x] Travel reimbursement #291
- [x] Stagesoc #292
- [x] Scaff invoice #293
- [x] missing invoices #294
- [x] final report #258

[2019-05-18 09:40] Tyler-Ward opened #296 "Investigate UPS cost disparity"
@Adimote I believe you have the details for this.

[2019-05-18 10:23] PeterJCLaw commented on #16
https://code.visualstudio.com/blogs/2019/05/02/remote-development is also interesting here.

[2019-05-18 12:12] trickeydan commented on #288
@PeterJCLaw

An unlabeled RUB, possibly without an asset code, full of packets addressed to ECS. I believe it was taken by mistake last time there was a kit sorting event at Soton.

[2019-05-18 14:18] Adimote commented on #296
Sadly it looks like the UPS website only lets you look up to 90 days in the past for previous shipments, and the only emails I received were shipment confirmations, not prices. We set Diane up with the actual payment account so I'd expect she will actually have access to the broken down payments

[2019-05-18 14:32] Adimote commented on #293
I have the quote, not the invoice. The Invoice was sent directly to Diane via post

[2019-05-18 14:47] Adimote commented on #294
Diane probably has the itemised UPS receipt and the Scaff invoice, and I've confirmed the receipts are correct for competition refreshments, am I missing any other receipts?

[2019-05-18 21:13] RealOrangeOne commented on #288
For clarification, is this likely to have been one of the transparent RUBs SRO has?

I am 100% sure there were no transparent RUBs taken to the container.

[2019-05-19 00:00] trickeydan commented on #288
@RealOrangeOne It was a white one. SRO have both types.

[2019-05-19 12:30] Adimote commented on #290
Emails sent, now pending response.

[2019-05-23 20:40] Adimote commented on #290
Got all the responses! The google sheet is now complete!

[2019-05-23 20:40] #290 closed

[2019-05-25 15:20] PeterJCLaw opened #297 "Follow up with SR2019 Teams about missing kit"
Sub-task broken out from #283.

We need to chase up teams who still have either whole kits or parts of kits.

[2019-05-25 15:21] PeterJCLaw commented on #297
https://github.com/srobo/team-emails/pull/21 and https://github.com/srobo/team-emails/pull/22 are the first part of this.

[2019-05-25 15:32] PeterJCLaw commented on #287
Sitrep on this.

I've made a good number of the related scripts/programs _compatible_ with Python 3 and just plain _converted_ others. For things which are deployed I'm mostly going for _compatible_ first so that migration can happen smoothly.

The remaining things essentially fall into two buckets: kit related things and user-account related things.
  - I'm continuing to mostly ignore kit-related

[2019-05-25 16:05] RealOrangeOne commented on #297
https://github.com/srobo/team-emails/pull/22 will ship early next week.

My intention is to leave it a week or 2 after that, and then begin contacting other sources of the school in an attempt to retrieve the kit.

[2019-05-27 10:29] Tyler-Ward commented on #292
We now have this

[2019-05-27 10:29] #292 closed

[2019-05-27 10:30] Tyler-Ward commented on #289
we now have the pricing data for this

[2019-05-27 10:30] #289 closed

[2019-05-27 11:51] Tyler-Ward commented on #293
This has now been paid although it would be good to get the quote added to our records for future reference.

[2019-05-27 14:12] PeterJCLaw commented on #267
Summary analysis:

As noted above, most respondents had good things to say, though there's also plenty to improve. It should be noted that due to the small number of respondents it's hard to draw concrete conclusions, though I have tried to find themes.

Role specific notes:
* Despite a majority (54%) of respondents having not done specific roles before, most felt that they were well prepared for

[2019-06-09 18:12] Tyler-Ward commented on #291
These have been submitted and i believe paid

[2019-06-09 18:12] #291 closed

[2019-06-09 18:13] Tyler-Ward commented on #258
Budget report has been created

[2019-06-09 18:13] Tyler-Ward commented on #224
This has been paid

[2019-06-09 18:13] #224 closed

[2019-06-09 18:15] Tyler-Ward commented on #296
This has been accepted in its current state, however we need to be better at storing receipts/itemised costs from suppliers in future.

[2019-06-09 18:15] #296 closed

[2019-06-09 18:18] Tyler-Ward commented on #294
All but one receipt has been submitted, the remaining receipt will now need to be submitted direct to the trustees due to core team dissolution.

[2019-06-09 18:18] #294 closed

[2019-06-09 18:18] Tyler-Ward commented on #295
All remaining finance tasks are done and the competition cycle budget is closed

[2019-06-09 18:18] #295 closed

[2019-06-09 18:19] Tyler-Ward commented on #293
I have the quote and this has been saved for future use

[2019-06-09 18:19] #293 closed

[2019-06-09 18:22] Tyler-Ward commented on #255
This was paid

[2019-06-09 18:22] #255 closed

[2019-06-09 18:24] Tyler-Ward commented on #239
These where collected and paid

[2019-06-09 18:24] #239 closed

[2019-06-09 18:25] Tyler-Ward commented on #49
@trickeydan are we good to close this?

[2019-07-16 12:32] RealOrangeOne commented on #297
Round 2 was sent out (https://github.com/srobo/team-emails/pull/23), but only got 1 response. I'm going to have to try and chase up the remaining schools by some other addresses, as we're rather close to end of terms!

[2019-07-24 19:16] MineringGuy opened #298 "check code syntax in Thonny"
Is there a way to check code syntax in the Thonny before running a program
-- that is, a tool similar to Run | Check Module in IDLE?

[2019-07-24 19:26] RealOrangeOne commented on #298
Thanks for the report, but I think you've raised this issue against the wrong repo.

This issue tracker is specifically for tracking tasks for Student Robotics events. We have no control over Thonny or how it's operated.

It looks like the correct issue list for Thonny is https://github.com/thonny/thonny/issues, have you tried raising the issue there? I suspect you'll get some much better answers!

[2019-07-24 19:26] #298 closed

[2019-07-24 21:14] MineringGuy commented on #298
Many thanks for your advice

________________________________
From: Jake Howard <notifications@github.com>
Sent: Wednesday, July 24, 2019 3:26 PM
To: srobo/tasks <tasks@noreply.github.com>
Cc: Richard F. Baum <rbaum@gmu.edu>; Author <author@noreply.github.com>
Subject: Re: [srobo/tasks] check code syntax in Thonny (#298)

Closed #298<https://secure-web.cisco.com/1Wsz-wIHCnlL0nRR5Uq8zEwdgl_W2tL23nb

[2019-07-28 13:10] kierdavis opened #299 "Get a label printer"
We've previously borrowed other peoples' label printers to generate labels, but it would be very useful for us to own one.

[2019-07-28 13:13] PeterJCLaw commented on #209
I was at the container today; the apparently unlabelled RUBs I mentioned do in fact have labels, just on the back of them (they have since been turned around).

[2019-07-28 13:17] PeterJCLaw commented on #288
@andybusse and I were at the container today. We looked for this RUB and couldn't find it. All the RUBs which are container definitely have SR part codes at this point, which seems to rule out the SRO RUB being there.

I also looked in one of our RUBs which I thought might have been a candidate for having SRO stuff in it (the RUB from Munich), but it didn't seem to have anything other than what I'

[2019-07-28 13:18] #288 closed

[2019-07-28 14:46] kierdavis opened #300 "Get a bench power supply"
This would be very useful for kit testing.

Rough requirements I can think of:
- capable of 12V at a few amps.
- current limit

[2019-07-28 14:57] kierdavis commented on #179
`boards/firmware` should be moved, since it is a submodule of https://github.com/srobo/kit-maintenance-docs

[2019-07-28 20:31] PeterJCLaw opened #301 "Have a second post-SR2019 Kit Collatoin event"
We need to clean & tidy the kits which were issued for SR2019, plus test them so we know which need fixing before the next competition. This athe first child event within #283.

This is documented as a [Kit Collation Event](https://srobo.github.io/runbook/kit/hardware/kit-collation/). @PeterJCLaw organised this event.

The primary objective of this event is to Checkin, Visually inspect and Clean t

[2019-07-28 20:38] PeterJCLaw commented on #301
This happened. We had some of the kit parts from the first session (#284) (as well as another box of charger PSUs) and managed to:
- test:
  - servo boards
  - webcams
  - ruggeduinos
- physically check and clean:
  - battery charger power supplies
  - battery chargers
  - some lipos and lipo bags

We identified a small number of broken items, some of which are likely fixable.

The inventory is up

[2019-07-28 20:38] #301 closed

[2019-07-29 11:44] kierdavis commented on #301
FWIW we also checked and cleaned (but not tested) power boards.

[2019-07-29 19:20] trickeydan opened #302 "Fix srobo.org"
This url is broken

[2019-07-29 19:36] PeterJCLaw commented on #302
Thanks for raising, however this is a duplicate of https://github.com/srobo/infrastructure/issues/4.

[2019-07-29 19:36] #302 closed

[2019-07-29 19:37] PeterJCLaw commented on #301
Ah, so we did. Thanks; have updated the list so it's all in one place.

[2019-07-29 21:04] PeterJCLaw commented on #299
@Adimote you've previously owned label printers, do you have any recommendations?

@richardbarlow I think you did the labelling which produced the plasticised labels with the 1d barcodes on then; I think that style are probably ideal (in my experience they scan most easily and tend to last a bit longer by being plastic too): do you have a reference for the printer you used for those?

[2019-07-30 14:14] trickeydan commented on #299
For SRO, we use a DYMO Labelwriter 450, which is significantly better than the brother one that SR have borrowed from us in the past.

A major advantage of the DYMO over the Brother model is that it will accept PDFs and uses standard drivers. Meanwhile, the Brother model requires a proprietary binary format that is very difficult to work with.

Polypropylene labels are available (https://www.amazo

[2019-08-01 07:58] PeterJCLaw opened #303 "Have the third post-SR2019 kit collation event"
We need to clean & tidy the kits which were issued for SR2019, plus test them so we know which need fixing before the next competition.

While we (still) don't have all the kits in one place, we can usefully make progress on testing the kit which we have. This will also put us in a better position to plan for SR2020. This is a child event within #283.

This is documented as a [Kit Collation Event]

[2019-08-03 10:07] PeterJCLaw commented on #303
I was originally planning for this to be this weekend, but for various reasons that won't be the case.

[2019-08-20 18:41] RealOrangeOne commented on #281
@antoinepetty can we consider this done now?

[2019-08-20 18:56] antoinepetty commented on #281
Yes

[2019-08-20 18:56] #281 closed

[2019-08-20 21:33] PeterJCLaw commented on #297
@RealOrangeOne what's the current status of this?

[2019-08-20 22:03] PeterJCLaw commented on #267
I don't think we're going to get any more feedback here.

[2019-08-20 22:03] #267 closed

[2019-08-20 22:03] PeterJCLaw commented on #278
@TomWheal I think you mentioned (in Slack?) that you'd looked at this, was there anything which came from that?

[2019-08-20 22:49] PeterJCLaw opened #304 "Improve our understanding of what it costs a team to take part"
We should find out from teams how much it costs them to take part in SR. Obviously we're free to enter, but they still have to cover travel etc.; I'd like to get an understanding of that cost so we can compare it to similar events and potentially explore helping teams who might see this as a blocker.

[2019-08-20 23:05] PeterJCLaw commented on #210
@kierdavis @RealOrangeOne am I right in thinking that this effectively happened during the Smallpeice tidy-up?

[2019-08-20 23:24] PeterJCLaw commented on #209
While this hasn't strictly happened, I've recently been at the container a number of times and captured lists of all the RUBs which were there. Combining that with the RUBs which I've personally moved into and out of the container recently, I believe I can account for the correct presence of all the RUBs.

Looking at the list of non-RUB things which the inventory says are in the container, I'm als

[2019-08-20 23:24] #209 closed

[2019-08-20 23:25] PeterJCLaw commented on #174
We know what happened to them - https://github.com/srobo/tasks/issues/174#issuecomment-466645014.

[2019-08-20 23:25] #174 closed

[2019-08-20 23:32] PeterJCLaw commented on #49
As far as I can tell this is now done. When I proposed moving more of the SR stuff which is currently in Southampton (other than the things on loan) back to storage following Smallpeice, there seemed to be some push-back in favour of keeping it around in Southampton for the convenience of those there.

I'm therefore considering this done. If there are _specific_ things which need to go back to sto

[2019-08-20 23:32] #49 closed

[2019-08-20 23:33] PeterJCLaw commented on #275
@Adimote ping on this? It strikes me that it would be really useful to do this before the SR2020 planning kicks off in earnest and specifically before https://github.com/srobo/volunteer-emails/pull/15 is sent.

[2019-08-20 23:39] PeterJCLaw commented on #258
Are there any other written reports we need to create here? We did a bunch of in-person reporting at the Core Team disillusion meeting a couple of months back, so I'm not sure if that covers this?

[2019-08-20 23:41] PeterJCLaw commented on #90
I don't think this is going to happen.

[2019-08-20 23:41] #90 closed

[2019-08-20 23:42] PeterJCLaw commented on #166
This is happening as part of https://github.com/srobo/competition-team-minutes/issues/107. I intend for us to use the https://github.com/srobo/recurring-tasks for SR2020 planning.

[2019-08-21 08:24] RealOrangeOne commented on #297
The current status falls into 2 camps:

- Teams with individual items which need replacing
- Teams with entire kits

According to [the inventory](https://github.com/srobo/inventory/tree/master/teams/2019), there are 3 teams with outstanding entire kits. My intention on chasing these is to email other addresses in the school, rather than the contact addresses we have. It's unfortunately summer holi

[2019-08-21 08:28] RealOrangeOne commented on #304
I wonder exactly what form this feedback was come in?

We sent teams a feedback form before the start of last year (https://github.com/srobo/competition-team-minutes/issues/4), to get some opinions from them. I wonder if we should repeat the same thing with some updated questions? I suspect the trustees might have some metrics they want to collect also.

[2019-08-21 08:31] RealOrangeOne commented on #210
Effectively, yes.

There is little to no SR kit in the broomcupboard, it should all live in the cupboards around the corner.

Because that is an inventory location, everything was moved to it, meaning it should be up-to-date!

Looking at what's marked as being in the inventory now (https://github.com/srobo/inventory/tree/master/southampton/broomcupboard), I could definitely believe it to be accura

[2019-08-21 10:16] trickeydan commented on #210
It's worth noting that you removed equipment that we explicitly asked you not to remove.

You will have to discuss this after SRO's reform.

[2019-08-21 15:57] mltnhm commented on #170
I spoke to someone while at [Evoke](https://evoke.eu) and they said they can send me their social media display. They did say it's hooked in heavily to something else but shouldn't be too much of a pain to rip apart or bring our own backend.

[2019-08-21 15:57] mltnhm commented on #170
Currently in the process of emailing them about it.

[2019-08-21 21:03] kierdavis commented on #210
It's pretty up to date, although there's still a few things to tidy up e.g. there's stuff recorded as being on the metal shelves which don't exist anymore, and I think the loose lipo bag made it back to Newbury.

[2019-08-24 12:05] Tyler-Ward opened #305 "Competition Live-stream upgrades"
Dispite the limited time for building last years livestream system we managed to produce a fairly good result. For the next competition we can probably improve this some more.

Some ideas:
* Separate league/knockout information display pages for use during match gaps
* Better overlay support for post finals sequence
* Commentary information display e.g. info on teams and various stats about this y

[2019-08-28 18:53] TomWheal commented on #278
It was still functional from a pc, however, was drawing enough current to limit set the Odroid into a usb protect function, which isolates the data lines but stupidly still provides power. Nothing can really be done on this apart from suggesting USB replacement when debugging.

[2019-08-28 18:55] TomWheal commented on #90
This can still be done if wanted, it completely slipped my mind

[2019-08-28 20:20] RealOrangeOne opened #306 "Define new team signup process"
In light of srobo/competition-team-minutes#112, the process for how inviting teams into a competition year, and how we communicate with them, needs to change. I think for the better!

The below is how I imagine this working.

### Outside the competition year

The website signup page simply contains a link to the master team leader mailing list, which is used to advertise the start of the competiti

[2019-08-28 21:28] PeterJCLaw commented on #278
Ah, that sucks. I don't suppose we can detect that that's what's happened somehow?
That said, I'm not sure how we'd alert about it even if we could detect it.

Anyway, thanks for investigating and reporting back. I'm going to close this now the investigation is done. We can still discuss here if there's interest, though I suggest any remediation work have its own ticket.

[2019-08-28 21:28] #278 closed

[2019-09-03 20:22] RealOrangeOne opened #307 "Announce dates for kickstart to teams"
Now that we've announced kickstart to teams, we need to define (and announce) the dates

## Defining the dates

- Pick a date (currently looking at 19th / 26th October)
- Book venues
    - [ ] Southampton (University of)
    - [ ] Cambridge (University of, Raspberry Pi Foundation)
    - [ ] Aldgate, London ([Thread](https://www.thread.com/) HQ)

The primary blocker on these is the availability of

[2019-09-03 20:25] RealOrangeOne opened #308 "Announce date of kickstart to volunteers"
Pending #307, we should also be announcing the date of kickstart to volunteers, so we can ensure there are people available to run the event.

Details of the dates / venues is on #307.

This task needs a PR pushed to https://github.com/srobo/volunteer-emails/ with an email to be sent to volunteers which notes when and where the events are, along with a way of collecting who they are and which kick

[2019-09-03 20:29] trickeydan commented on #307
Worth noting, there's a comment from Diane in the key dates Google doc asking for an early kick-start due to early exams this year. Have you considered this in the date decision?

[2019-09-03 20:58] RealOrangeOne commented on #307
We have. 19th is definitely the ideal, but bringing things too early leads to less time to organise things, which means we end up rushing things, and likely miss things.

[2019-09-07 21:17] Adimote opened #309 "Gather game feedback during the competition"
During the competition (or preferably near the end) some feedback should be
  collected from the competing teams on the game.

  Here are some ideas of what information to ask for:
  - How fair is the game?
  - Do you think it's easy to score a few points and hard to score a lot
    of points?
  - Is the game interesting to watch?
  - Did you find it easy to prototype the game?
  - Is each match t

[2019-09-08 12:22] Adimote commented on #15
I investigated whether we could use Discord as a chat app, as it's very popular with the students already. Here's my technical view over the biggest issues I see, which are identifying users and being able to see viewing all messages (including DMs):  https://docs.google.com/document/d/11doCgSZCCnYRBMhU-yXWyL9EZ4SdDr1Ra2WwSK_63Xk/edit?usp=sharing

[2019-09-08 12:28] Adimote commented on #15
With Discord, we'd have:
- [x] Users are identifiable by which team they're in
 (Users must pass a token over to a bot to identify them, however we can't set their usernames)
- [x] Team leaders, mentors and competitors are distinguishable from each other
 (Users must pass a token over to a bot to identify them, however we can't set their usernames)
- [x] Can be configured to be private
(We can not

[2019-09-08 20:24] PeterJCLaw commented on #283
@TomWheal I think you mentioned that you're owning sorting the kits for SR2020. With that in mind, are you expecting that you'll also take on [collating] (cleaning, testing etc.) the remaining kits from SR2019? If so, would you like to grab this task?

[collating]: https://srobo.github.io/runbook/kit/hardware/kit-collation/

[2019-09-08 20:26] PeterJCLaw commented on #210
@kierdavis if there are things which you know are different, would you be able to update the inventory for them? Alternatively are you suggesting that we need to do a full audit still?

[2019-09-08 20:26] PeterJCLaw commented on #258
@Tyler-Ward are you able to clarify what, if anything, is outstanding here?

[2019-09-08 20:28] PeterJCLaw commented on #297
cc @TomWheal as this may relate to your plans around kits for SR2020.

[2019-09-08 20:29] PeterJCLaw commented on #297
@RealOrangeOne assuming that we need these kits back in time to be processed before Kickstart, it's feeling quite urgent that we push the schools to return them. As we're back into term time, the schools should be responsive again.

Did you get anywhere with contacting the trustees about the plan for getting schools to replace individual items?

[2019-09-08 20:33] PeterJCLaw commented on #283
(I don't have capacity to do this at the moment)

[2019-09-08 20:37] PeterJCLaw opened #310 "Create a budget for the SR2020 Competition Programme"
We need to prepare a budget for the SR2020 Competition Programme. We can almost certainly copy the one from SR2019 and lightly modify it. Per the discussion with the trustees at the SR2019 Core Team dissolution meeting, the budget we present to them doesn't need to be massively detailed, though we likely do want a fairly detailed budge for ourselves.

Our first expenditure is likely to be around m

[2019-09-08 20:40] PeterJCLaw commented on #310
@Adimote I believe you're responsible for budgetary matters this year?

[2019-09-08 20:43] PeterJCLaw opened #311 "Team signups for the SR2020 Competition Programme"
We need to get potential teams to sign up to take part in the competition.

### Original

[pre/signups-teams](https://github.com/srobo/recurring-tasks/blob/master/pre/signups-teams.yaml)

[2019-09-08 20:43] PeterJCLaw opened #312 "Allocate TLAs for SR2020"
Once we've decided which teams are getting places we need to assign them their TLAs.
TLAs should idealy be consistent between years, so that competitors can build a brand around their name.

### Original

[kickstart/allocate-tlas](https://github.com/srobo/recurring-tasks/blob/master/kickstart/allocate-tlas.yaml)

[2019-09-08 20:43] PeterJCLaw opened #313 "Book venues for the SR2020 Kickstart"
In order to have the SR2020 Kickstarts we need venues to have them in.
Each venue should expect to host at least four teams, have a way to give a presentation (i.e: have a large screen or projector) and be able to provide for each team:
 - a large desk to work on and sit around
 - power & internet access (if the latter is via computers that's ideal,
   but not required)

We should balance the numb

[2019-09-08 20:43] PeterJCLaw opened #314 "Confirm which teams are taking part in SR2020"
We need to inform the teams who have places and invite them to the Kickstart venue most suitable for them.

### Original

[kickstart/confirm-teams](https://github.com/srobo/recurring-tasks/blob/master/kickstart/confirm-teams.yaml)

### Dependencies

 * #311 Team signups for the SR2020 Competition Programme
 * #312 Allocate TLAs for SR2020
 * #313 Book venues SR2020 Kickstart

[2019-09-08 20:43] PeterJCLaw opened #315 "Test kits for SR2020"
We need to have confidence that the kits we'll hand out at the SR2020 Kickstart are going to work for the teams.

### Original

[kickstart/kit/test](https://github.com/srobo/recurring-tasks/blob/master/kickstart/kit/test.yaml)

[2019-09-08 20:43] PeterJCLaw opened #316 "Test kits for SR2020"
We need to have confidence that the kits we'll hand out at the SR2020 Kickstart are going to work for the teams.

### Original

[kickstart/kit/test](https://github.com/srobo/recurring-tasks/blob/master/kickstart/kit/test.yaml)

[2019-09-08 20:43] PeterJCLaw opened #317 "Fix any issues with the kits for SR2020"
We need to have confidence that the kits we'll hand out at the SR2020 Kickstart are going to work for the teams. Once tested they may need fixing (and then re-testing).

### Original

[kickstart/kit/fix](https://github.com/srobo/recurring-tasks/blob/master/kickstart/kit/fix.yaml)

### Dependencies

 * #315 Test kits for SR2020

[2019-09-08 20:44] PeterJCLaw opened #318 "Team signups for the SR2020 Competition Programme"
We need to get potential teams to sign up to take part in the competition.

### Original

[pre/signups-teams](https://github.com/srobo/recurring-tasks/blob/master/pre/signups-teams.yaml)

[2019-09-08 20:44] PeterJCLaw opened #319 "Allocate TLAs for SR2020"
Once we've decided which teams are getting places we need to assign them their TLAs.
TLAs should idealy be consistent between years, so that competitors can build a brand around their name.

### Original

[kickstart/allocate-tlas](https://github.com/srobo/recurring-tasks/blob/master/kickstart/allocate-tlas.yaml)

[2019-09-08 20:44] PeterJCLaw opened #320 "Book venues SR2020 Kickstart"
In order to have the SR2020 Kickstarts we need venues to have it in.
Each venue should expect to host at least four teams, have a way to give a presentation (i.e: have a large screen or projector) and be able to provide for each team:
 - a large desk to work on and sit around
 - power & internet access (if the latter is via computers that's ideal,
   but not required)

We should balance the number

[2019-09-08 20:44] PeterJCLaw opened #321 "Confirm which teams are taking part in SR2020"
We need to inform the teams who have places and invite them to the Kickstart venue most suitable for them.

### Original

[kickstart/confirm-teams](https://github.com/srobo/recurring-tasks/blob/master/kickstart/confirm-teams.yaml)

### Dependencies

 * #318 Team signups for the SR2020 Competition Programme
 * #319 Allocate TLAs for SR2020
 * #320 Book venues SR2020 Kickstart

[2019-09-08 20:44] PeterJCLaw opened #322 "Test kits for SR2020"
We need to have confidence that the kits we'll hand out at the SR2020 Kickstart are going to work for the teams.

### Original

[kickstart/kit/test](https://github.com/srobo/recurring-tasks/blob/master/kickstart/kit/test.yaml)

[2019-09-08 20:44] PeterJCLaw opened #323 "Test kits for SR2020"
We need to have confidence that the kits we'll hand out at the SR2020 Kickstart are going to work for the teams.

### Original

[kickstart/kit/test](https://github.com/srobo/recurring-tasks/blob/master/kickstart/kit/test.yaml)

[2019-09-08 20:44] PeterJCLaw opened #324 "Fix any issues with the kits for SR2020"
We need to have confidence that the kits we'll hand out at the SR2020 Kickstart are going to work for the teams. Once tested they may need fixing (and then re-testing).

### Original

[kickstart/kit/fix](https://github.com/srobo/recurring-tasks/blob/master/kickstart/kit/fix.yaml)

### Dependencies

 * #323 Test kits for SR2020

[2019-09-08 20:44] PeterJCLaw opened #325 "Allocate SR2020 kits to teams"
Teams will want kits at Kickstart so we need to know which kits to give to each team.

### Original

[kickstart/kit/allocate](https://github.com/srobo/recurring-tasks/blob/master/kickstart/kit/allocate.yaml)

### Dependencies

 * #314 Confirm which teams are taking part in SR2020
 * #315 Test kits for SR2020
 * #317 Fix any issues with the kits for SR2020

[2019-09-08 20:44] PeterJCLaw opened #326 "Team signups for the SR2020 Competition Programme"
We need to get potential teams to sign up to take part in the competition.

### Original

[pre/signups-teams](https://github.com/srobo/recurring-tasks/blob/master/pre/signups-teams.yaml)

[2019-09-08 20:44] PeterJCLaw opened #327 "Allocate TLAs for SR2020"
Once we've decided which teams are getting places we need to assign them their TLAs.
TLAs should idealy be consistent between years, so that competitors can build a brand around their name.

### Original

[kickstart/allocate-tlas](https://github.com/srobo/recurring-tasks/blob/master/kickstart/allocate-tlas.yaml)

[2019-09-08 20:44] PeterJCLaw opened #328 "Book venues SR2020 Kickstart"
In order to have the SR2020 Kickstarts we need venues to have it in.
Each venue should expect to host at least four teams, have a way to give a presentation (i.e: have a large screen or projector) and be able to provide for each team:
 - a large desk to work on and sit around
 - power & internet access (if the latter is via computers that's ideal,
   but not required)

We should balance the number

[2019-09-08 20:44] PeterJCLaw opened #329 "Confirm which teams are taking part in SR2020"
We need to inform the teams who have places and invite them to the Kickstart venue most suitable for them.

### Original

[kickstart/confirm-teams](https://github.com/srobo/recurring-tasks/blob/master/kickstart/confirm-teams.yaml)

### Dependencies

 * #326 Team signups for the SR2020 Competition Programme
 * #327 Allocate TLAs for SR2020
 * #328 Book venues SR2020 Kickstart

[2019-09-08 20:44] PeterJCLaw opened #330 "Test kits for SR2020"
We need to have confidence that the kits we'll hand out at the SR2020 Kickstart are going to work for the teams.

### Original

[kickstart/kit/test](https://github.com/srobo/recurring-tasks/blob/master/kickstart/kit/test.yaml)

[2019-09-08 20:44] PeterJCLaw opened #331 "Test kits for SR2020"
We need to have confidence that the kits we'll hand out at the SR2020 Kickstart are going to work for the teams.

### Original

[kickstart/kit/test](https://github.com/srobo/recurring-tasks/blob/master/kickstart/kit/test.yaml)

[2019-09-08 20:44] PeterJCLaw opened #332 "Fix any issues with the kits for SR2020"
We need to have confidence that the kits we'll hand out at the SR2020 Kickstart are going to work for the teams. Once tested they may need fixing (and then re-testing).

### Original

[kickstart/kit/fix](https://github.com/srobo/recurring-tasks/blob/master/kickstart/kit/fix.yaml)

### Dependencies

 * #331 Test kits for SR2020

[2019-09-08 20:44] PeterJCLaw opened #333 "Allocate SR2020 kits to teams"
Teams will want kits at Kickstart so we need to know which kits to give to each team.

### Original

[kickstart/kit/allocate](https://github.com/srobo/recurring-tasks/blob/master/kickstart/kit/allocate.yaml)

### Dependencies

 * #329 Confirm which teams are taking part in SR2020
 * #330 Test kits for SR2020
 * #332 Fix any issues with the kits for SR2020

[2019-09-08 20:44] PeterJCLaw opened #334 "Ship SR2020 kits to Kickstarts"
Teams will want kits at Kickstart so we need to ship the relevant kits to each of the Kickstart venues.

### Original

[kickstart/kit/ship-kickstarts](https://github.com/srobo/recurring-tasks/blob/master/kickstart/kit/ship-kickstarts.yaml)

### Dependencies

 * #325 Allocate SR2020 kits to teams

[2019-09-08 20:44] PeterJCLaw opened #335 "Team signups for the SR2020 Competition Programme"
We need to get potential teams to sign up to take part in the competition.

### Original

[pre/signups-teams](https://github.com/srobo/recurring-tasks/blob/master/pre/signups-teams.yaml)

[2019-09-08 20:44] PeterJCLaw opened #336 "Allocate TLAs for SR2020"
Once we've decided which teams are getting places we need to assign them their TLAs.
TLAs should idealy be consistent between years, so that competitors can build a brand around their name.

### Original

[kickstart/allocate-tlas](https://github.com/srobo/recurring-tasks/blob/master/kickstart/allocate-tlas.yaml)

[2019-09-08 20:44] PeterJCLaw opened #337 "Book venues SR2020 Kickstart"
In order to have the SR2020 Kickstarts we need venues to have it in.
Each venue should expect to host at least four teams, have a way to give a presentation (i.e: have a large screen or projector) and be able to provide for each team:
 - a large desk to work on and sit around
 - power & internet access (if the latter is via computers that's ideal,
   but not required)

We should balance the number

[2019-09-08 20:44] PeterJCLaw opened #338 "Confirm which teams are taking part in SR2020"
We need to inform the teams who have places and invite them to the Kickstart venue most suitable for them.

### Original

[kickstart/confirm-teams](https://github.com/srobo/recurring-tasks/blob/master/kickstart/confirm-teams.yaml)

### Dependencies

 * #335 Team signups for the SR2020 Competition Programme
 * #336 Allocate TLAs for SR2020
 * #337 Book venues SR2020 Kickstart

[2019-09-08 20:44] PeterJCLaw opened #339 "Test kits for SR2020"
We need to have confidence that the kits we'll hand out at the SR2020 Kickstart are going to work for the teams.

### Original

[kickstart/kit/test](https://github.com/srobo/recurring-tasks/blob/master/kickstart/kit/test.yaml)

[2019-09-08 20:44] PeterJCLaw opened #340 "Test kits for SR2020"
We need to have confidence that the kits we'll hand out at the SR2020 Kickstart are going to work for the teams.

### Original

[kickstart/kit/test](https://github.com/srobo/recurring-tasks/blob/master/kickstart/kit/test.yaml)

[2019-09-08 20:44] PeterJCLaw opened #341 "Fix any issues with the kits for SR2020"
We need to have confidence that the kits we'll hand out at the SR2020 Kickstart are going to work for the teams. Once tested they may need fixing (and then re-testing).

### Original

[kickstart/kit/fix](https://github.com/srobo/recurring-tasks/blob/master/kickstart/kit/fix.yaml)

### Dependencies

 * #340 Test kits for SR2020

[2019-09-08 20:44] PeterJCLaw opened #342 "Allocate SR2020 kits to teams"
Teams will want kits at Kickstart so we need to know which kits to give to each team.

### Original

[kickstart/kit/allocate](https://github.com/srobo/recurring-tasks/blob/master/kickstart/kit/allocate.yaml)

### Dependencies

 * #338 Confirm which teams are taking part in SR2020
 * #339 Test kits for SR2020
 * #341 Fix any issues with the kits for SR2020

[2019-09-08 20:44] PeterJCLaw opened #343 "Ship SR2020 kits to Teams not attending Kickstarts"
Teams unable to make it to a Kickstart need their kits couriering to them.
Costs for this have historically been covered by SR.
We require teams to explicitly confirm their address by email before dispatching a kit.

### Original

[kickstart/kit/ship-courier](https://github.com/srobo/recurring-tasks/blob/master/kickstart/kit/ship-courier.yaml)

### Dependencies

 * #325 Allocate SR2020 kits to tea

[2019-09-08 20:44] PeterJCLaw opened #344 "Team signups for the SR2020 Competition Programme"
We need to get potential teams to sign up to take part in the competition.

### Original

[pre/signups-teams](https://github.com/srobo/recurring-tasks/blob/master/pre/signups-teams.yaml)

[2019-09-08 20:44] PeterJCLaw opened #345 "Allocate TLAs for SR2020"
Once we've decided which teams are getting places we need to assign them their TLAs.
TLAs should idealy be consistent between years, so that competitors can build a brand around their name.

### Original

[kickstart/allocate-tlas](https://github.com/srobo/recurring-tasks/blob/master/kickstart/allocate-tlas.yaml)

[2019-09-08 20:44] PeterJCLaw opened #346 "Book venues SR2020 Kickstart"
In order to have the SR2020 Kickstarts we need venues to have it in.
Each venue should expect to host at least four teams, have a way to give a presentation (i.e: have a large screen or projector) and be able to provide for each team:
 - a large desk to work on and sit around
 - power & internet access (if the latter is via computers that's ideal,
   but not required)

We should balance the number

[2019-09-08 20:44] PeterJCLaw opened #347 "Confirm which teams are taking part in SR2020"
We need to inform the teams who have places and invite them to the Kickstart venue most suitable for them.

### Original

[kickstart/confirm-teams](https://github.com/srobo/recurring-tasks/blob/master/kickstart/confirm-teams.yaml)

### Dependencies

 * #344 Team signups for the SR2020 Competition Programme
 * #345 Allocate TLAs for SR2020
 * #346 Book venues SR2020 Kickstart

[2019-09-08 20:44] PeterJCLaw opened #348 "Test kits for SR2020"
We need to have confidence that the kits we'll hand out at the SR2020 Kickstart are going to work for the teams.

### Original

[kickstart/kit/test](https://github.com/srobo/recurring-tasks/blob/master/kickstart/kit/test.yaml)

[2019-09-08 20:44] PeterJCLaw opened #349 "Test kits for SR2020"
We need to have confidence that the kits we'll hand out at the SR2020 Kickstart are going to work for the teams.

### Original

[kickstart/kit/test](https://github.com/srobo/recurring-tasks/blob/master/kickstart/kit/test.yaml)

[2019-09-08 20:44] PeterJCLaw opened #350 "Fix any issues with the kits for SR2020"
We need to have confidence that the kits we'll hand out at the SR2020 Kickstart are going to work for the teams. Once tested they may need fixing (and then re-testing).

### Original

[kickstart/kit/fix](https://github.com/srobo/recurring-tasks/blob/master/kickstart/kit/fix.yaml)

### Dependencies

 * #349 Test kits for SR2020

[2019-09-08 20:44] PeterJCLaw opened #351 "Allocate SR2020 kits to teams"
Teams will want kits at Kickstart so we need to know which kits to give to each team.

### Original

[kickstart/kit/allocate](https://github.com/srobo/recurring-tasks/blob/master/kickstart/kit/allocate.yaml)

### Dependencies

 * #347 Confirm which teams are taking part in SR2020
 * #348 Test kits for SR2020
 * #350 Fix any issues with the kits for SR2020

[2019-09-08 20:44] PeterJCLaw opened #352 "Ship SR2020 kits to overseas Teams"
Teams overseas need their kits shipped to them. This has mostly been the German teams in the past few years, which have been shipped together to the German Kickstart. This is intentionally separate from the shipping to Kickstarts as it involves an international delivery.

### Original

[kickstart/kit/ship-overseas](https://github.com/srobo/recurring-tasks/blob/master/kickstart/kit/ship-overseas.ya

[2019-09-08 20:44] PeterJCLaw opened #353 "Prepare kits for the SR2020 Kickstart"
We need to have kits to hand out at the SR2020 Kickstart.

### Original

[kickstart/kit/main](https://github.com/srobo/recurring-tasks/blob/master/kickstart/kit/main.yaml)

### Dependencies

 * #315 Test kits for SR2020
 * #317 Fix any issues with the kits for SR2020
 * #325 Allocate SR2020 kits to teams
 * #334 Ship SR2020 kits to Kickstarts
 * #343 Ship SR2020 kits to Teams not attending Kicksta

[2019-09-08 20:44] PeterJCLaw opened #354 "Decide on the SR2020 game"
The SR2020 game will be different than the previous year's, so we need to decide what it will be.

### Original

[kickstart/rules/decide-game](https://github.com/srobo/recurring-tasks/blob/master/kickstart/rules/decide-game.yaml)

[2019-09-08 20:44] PeterJCLaw opened #355 "Write the rules for the SR2020 game"
We need to have a game to play in SR2020. It will be different than the previous year's, so the rules need updating.

### Original

[kickstart/rules/write](https://github.com/srobo/recurring-tasks/blob/master/kickstart/rules/write.yaml)

### Dependencies

 * #354 Decide on the SR2020 game

[2019-09-08 20:44] PeterJCLaw opened #356 "Decide on the SR2020 game"
The SR2020 game will be different than the previous year's, so we need to decide what it will be.

### Original

[kickstart/rules/decide-game](https://github.com/srobo/recurring-tasks/blob/master/kickstart/rules/decide-game.yaml)

[2019-09-08 20:44] PeterJCLaw opened #357 "Prepare forums for SR2020"
In order to allow the competitors to chat to each other and request help from mentors, we setup forums each year. These are typically an instance of [phpBB](https://www.phpbb.com/) hosted on a VM of ours.
The forums allow login using the competitors' user accounts and when they post in the forums, updates are cross-posted into Slack.
We usually have forums as follows:
 - *General Discussion* (Gene

[2019-09-08 20:44] PeterJCLaw opened #358 "Allocate TLAs for SR2020"
Once we've decided which teams are getting places we need to assign them their TLAs.
TLAs should idealy be consistent between years, so that competitors can build a brand around their name.

### Original

[kickstart/allocate-tlas](https://github.com/srobo/recurring-tasks/blob/master/kickstart/allocate-tlas.yaml)

[2019-09-08 20:44] PeterJCLaw opened #359 "Prepare the IDE for SR2020"
In order to enable the competitors to program their robots, we provide a hosted IDE for them to work in.
We need to ensure that:
 - the IDE is clear of projects from the previous year
 - the team WiFi configuration has unique entries per team

### Original

[kickstart/services/ide](https://github.com/srobo/recurring-tasks/blob/master/kickstart/services/ide.yaml)

### Dependencies

 * #312 Allocate

[2019-09-08 20:44] PeterJCLaw opened #360 "Setup mentor accounts for SR2020"
In order to allow mentors to use the various hosted services we provide, in order for them to help competitors, we need to give them user accounts.

### Original

[kickstart/services/user-accounts/mentors](https://github.com/srobo/recurring-tasks/blob/master/kickstart/services/user-accounts/mentors.yaml)

[2019-09-08 20:44] PeterJCLaw opened #361 "Allocate TLAs for SR2020"
Once we've decided which teams are getting places we need to assign them their TLAs.
TLAs should idealy be consistent between years, so that competitors can build a brand around their name.

### Original

[kickstart/allocate-tlas](https://github.com/srobo/recurring-tasks/blob/master/kickstart/allocate-tlas.yaml)

[2019-09-08 20:44] PeterJCLaw opened #362 "Setup team leader accounts for SR2020"
In order to allow the competitors to use the various hosted services we provide, we need to give them user accounts.
Typically we create the accounts fo the team leaders and let them create the accounts for the individual competitors. This task is therefore about the user accounts for the team leaders.
Included in this is creating the neccessary team and school groups within the auth system.

###

[2019-09-08 20:44] PeterJCLaw opened #363 "Prepare the hosted services for SR2020"
We provide a hosted IDE and online forums to the teams to use during the year. Typically the microgames at Kickstart get the competitors using these, so they need to be ready before the event.
Our current approach is to spin up a new hosted "pet" machine running the `competitor-services` variant of our [puppet configuration][puppet-config].

[puppet-config]: https://github.com/srobo/server-puppet/

[2019-09-08 20:44] PeterJCLaw opened #364 "Decide on the SR2020 game"
The SR2020 game will be different than the previous year's, so we need to decide what it will be.

### Original

[kickstart/rules/decide-game](https://github.com/srobo/recurring-tasks/blob/master/kickstart/rules/decide-game.yaml)

[2019-09-08 20:44] PeterJCLaw opened #365 "Update the API for the SR2020 game"
The `sr.robot` API needs updating to contain the marker details for the SR2020 game.

The steps to achieve this are:
- make changes to https://github.com/srobo/sr-robot, such that the new API is present
- bundle those changes into https://github.com/srobo/brain-zip-packager, such that a new overlay ships those changes
- once done, get the IDE updated to use that new zip-packager https://github.com

[2019-09-08 20:44] PeterJCLaw opened #366 "Create markers for the SR2020 game"
We need to generate the fiducial markers used for the SR2020 game and add them to https://github.com/srobo/game-markers. The dev markers also need adding to the docs (https://github.com/srobo/docs) so that competitors can access them for development.
Obviously this can't happen until we've decided what the names of the markers will be.

### Original

[kickstart/markers](https://github.com/srobo/re

[2019-09-08 20:44] PeterJCLaw opened #367 "Decide on the SR2020 game"
The SR2020 game will be different than the previous year's, so we need to decide what it will be.

### Original

[kickstart/rules/decide-game](https://github.com/srobo/recurring-tasks/blob/master/kickstart/rules/decide-game.yaml)

[2019-09-08 20:44] PeterJCLaw opened #368 "Decide on the SR2020 game"
The SR2020 game will be different than the previous year's, so we need to decide what it will be.

### Original

[kickstart/rules/decide-game](https://github.com/srobo/recurring-tasks/blob/master/kickstart/rules/decide-game.yaml)

[2019-09-08 20:44] PeterJCLaw opened #369 "Write the rules for the SR2020 game"
We need to have a game to play in SR2020. It will be different than the previous year's, so the rules need updating.

### Original

[kickstart/rules/write](https://github.com/srobo/recurring-tasks/blob/master/kickstart/rules/write.yaml)

### Dependencies

 * #368 Decide on the SR2020 game

[2019-09-08 20:44] PeterJCLaw opened #370 "Update the simulator for the SR2020 game"
The SR2020 game will be different to that for the previous year, so the arena template in the simulator will need updating. The MARKER_* items will also be different, so they'll need updating as well.
While this can be worked on ahead of time we should clearly avoid actually publishing it until Kickstart.

### Original

[kickstart/update-simulator](https://github.com/srobo/recurring-tasks/blob/mas

[2019-09-08 20:44] PeterJCLaw opened #371 "Decide on the SR2020 game"
The SR2020 game will be different than the previous year's, so we need to decide what it will be.

### Original

[kickstart/rules/decide-game](https://github.com/srobo/recurring-tasks/blob/master/kickstart/rules/decide-game.yaml)

[2019-09-08 20:44] PeterJCLaw opened #372 "Update the API for the SR2020 game"
The `sr.robot` API needs updating to contain the marker details for the SR2020 game.

### Original

[kickstart/update-api](https://github.com/srobo/recurring-tasks/blob/master/kickstart/update-api.yaml)

### Dependencies

 * #371 Decide on the SR2020 game

[2019-09-08 20:44] PeterJCLaw opened #373 "Update the docs for the SR2020 game"
The docs will need updating to match the new API for the SR2020 API and game, specifically https://studentrobotics.org/docs/programming/sr/vision/ and https://studentrobotics.org/docs/programming/sr/vision/markers, though possibly elsewhere.

### Original

[kickstart/website/docs](https://github.com/srobo/recurring-tasks/blob/master/kickstart/website/docs.yaml)

### Dependencies

 * #365 Update th

[2019-09-08 20:44] PeterJCLaw opened #374 "Decide on the SR2020 game"
The SR2020 game will be different than the previous year's, so we need to decide what it will be.

### Original

[kickstart/rules/decide-game](https://github.com/srobo/recurring-tasks/blob/master/kickstart/rules/decide-game.yaml)

[2019-09-08 20:44] PeterJCLaw opened #375 "Write the rules for the SR2020 game"
We need to have a game to play in SR2020. It will be different than the previous year's, so the rules need updating.

### Original

[kickstart/rules/write](https://github.com/srobo/recurring-tasks/blob/master/kickstart/rules/write.yaml)

### Dependencies

 * #374 Decide on the SR2020 game

[2019-09-08 20:44] PeterJCLaw opened #376 "Publish the rules for the SR2020 game"
These need building and the website patching. The [rules](https://studentrobotics.org/docs/rules) page will need updating to show that the rules have been published and the link and image updating.

### Original

[kickstart/website/publish-rules](https://github.com/srobo/recurring-tasks/blob/master/kickstart/website/publish-rules.yaml)

### Dependencies

 * #355 Write the rules for the SR2020 game

[2019-09-08 20:44] PeterJCLaw opened #377 "Team signups for the SR2020 Competition Programme"
We need to get potential teams to sign up to take part in the competition.

### Original

[pre/signups-teams](https://github.com/srobo/recurring-tasks/blob/master/pre/signups-teams.yaml)

[2019-09-08 20:44] PeterJCLaw opened #378 "Allocate TLAs for SR2020"
Once we've decided which teams are getting places we need to assign them their TLAs.
TLAs should idealy be consistent between years, so that competitors can build a brand around their name.

### Original

[kickstart/allocate-tlas](https://github.com/srobo/recurring-tasks/blob/master/kickstart/allocate-tlas.yaml)

[2019-09-08 20:44] PeterJCLaw opened #379 "Book venues SR2020 Kickstart"
In order to have the SR2020 Kickstarts we need venues to have it in.
Each venue should expect to host at least four teams, have a way to give a presentation (i.e: have a large screen or projector) and be able to provide for each team:
 - a large desk to work on and sit around
 - power & internet access (if the latter is via computers that's ideal,
   but not required)

We should balance the number

[2019-09-08 20:44] PeterJCLaw opened #380 "Confirm which teams are taking part in SR2020"
We need to inform the teams who have places and invite them to the Kickstart venue most suitable for them.

### Original

[kickstart/confirm-teams](https://github.com/srobo/recurring-tasks/blob/master/kickstart/confirm-teams.yaml)

### Dependencies

 * #377 Team signups for the SR2020 Competition Programme
 * #378 Allocate TLAs for SR2020
 * #379 Book venues SR2020 Kickstart

[2019-09-08 20:44] PeterJCLaw opened #381 "Update the website's teams data for SR2020"
The website has a file (`resources/2020/teams.json`) which contains data about all the teams competing each year. This file needs creating for the current year.
There is a script (`generate-srweb.py`) to create it within the private `teams.git` repo.

### Original

[kickstart/website/teams](https://github.com/srobo/recurring-tasks/blob/master/kickstart/website/teams.yaml)

### Dependencies

 * #31

[2019-09-08 20:44] PeterJCLaw opened #382 "Update the website for SR2020"
The website will need updating for SR2020.

### Original

[kickstart/website/main](https://github.com/srobo/recurring-tasks/blob/master/kickstart/website/main.yaml)

### Dependencies

 * #366 Create markers for the SR2020 game
 * #370 Update the simulator for the SR2020 game
 * #373 Update the docs for the SR2020 game
 * #376 Publish the rules for the SR2020 game
 * #381 Update the website's teams

[2019-09-08 20:44] PeterJCLaw opened #383 "Decide on the SR2020 game"
The SR2020 game will be different than the previous year's, so we need to decide what it will be.

### Original

[kickstart/rules/decide-game](https://github.com/srobo/recurring-tasks/blob/master/kickstart/rules/decide-game.yaml)

[2019-09-08 20:44] PeterJCLaw opened #384 "Decide on the SR2020 game"
The SR2020 game will be different than the previous year's, so we need to decide what it will be.

### Original

[kickstart/rules/decide-game](https://github.com/srobo/recurring-tasks/blob/master/kickstart/rules/decide-game.yaml)

[2019-09-08 20:44] PeterJCLaw opened #385 "Update the API for the SR2020 game"
The `sr.robot` API needs updating to contain the marker details for the SR2020 game.

### Original

[kickstart/update-api](https://github.com/srobo/recurring-tasks/blob/master/kickstart/update-api.yaml)

### Dependencies

 * #384 Decide on the SR2020 game

[2019-09-08 20:45] PeterJCLaw opened #386 "Update the dummy API for the SR2020 game"
The [dummy API](https://github.com/srobo/pyenv-dummy) needs updating to contain the marker details for the SR2020 game.

### Original

[kickstart/update-dummy-api](https://github.com/srobo/recurring-tasks/blob/master/kickstart/update-dummy-api.yaml)

### Dependencies

 * #354 Decide on the SR2020 game
 * #365 Update the API for the SR2020 game

[2019-09-08 20:45] PeterJCLaw opened #387 "Decide on the SR2020 game"
The SR2020 game will be different than the previous year's, so we need to decide what it will be.

### Original

[kickstart/rules/decide-game](https://github.com/srobo/recurring-tasks/blob/master/kickstart/rules/decide-game.yaml)

[2019-09-08 20:45] PeterJCLaw opened #388 "Create microgames for the SR2020 Kickstart"
At Kickstart we usually have the teams perform some introductory tasks to get them familiar with the kit and to establish that they can safely charge their batteries.
The tasks also help give them a starting point in programming and familiarity with asking Blueshirts for help.
Examples from previous years:
 - [SR2019](https://docs.google.com/document/d/13-zZVXi3YbPEgqVuGP8RA-t9qiHk2rBW4SbcU5_WepY/

[2019-09-08 20:45] PeterJCLaw opened #389 "Update kit disclaimer forms for SR2020"
As the kits contain valuable and potentially dangerous components, many of which are not CE marked, we normally ask the team leaders to sign a form accepting responsibility for it and promising to return it at the end of the year.
We need to update the form to at least have the right year on it, as well as any other changes related to the kits which may have happened.

### Original

[kickstart/kit

[2019-09-08 20:45] PeterJCLaw opened #390 "Print kit disclaimer forms"
As the kits contain valuable and potentially dangerous components, many of which are not CE marked, we normally ask the team leaders to sign a form accepting responsibility for it and promising to return it at the end of the year.
Once these have been updated, we need to print enough of them for each venue to have copies for team leaders to sign.

### Original

[kickstart/print-disclaimer-forms](h

[2019-09-08 20:45] PeterJCLaw opened #391 "Book venues SR2020 Kickstart"
In order to have the SR2020 Kickstarts we need venues to have it in.
Each venue should expect to host at least four teams, have a way to give a presentation (i.e: have a large screen or projector) and be able to provide for each team:
 - a large desk to work on and sit around
 - power & internet access (if the latter is via computers that's ideal,
   but not required)

We should balance the number

[2019-09-08 20:45] PeterJCLaw opened #392 "Have the SR2020 Kickstart"
We need to have the SR2020 Kickstarts.

### Original

[kickstart/main](https://github.com/srobo/recurring-tasks/blob/master/kickstart/main.yaml)

### Dependencies

 * #314 Confirm which teams are taking part in SR2020
 * #353 Prepare kits for the SR2020 Kickstart
 * #355 Write the rules for the SR2020 game
 * #363 Prepare the hosted services for SR2020
 * #382 Update the website for SR2020
 * #386

[2019-09-08 21:12] PeterJCLaw commented on #381
This doesn't apply for SR2020.

[2019-09-08 21:12] #381 closed

[2019-09-09 01:15] Adimote commented on #310
Can confirm

[2019-09-09 20:42] kierdavis commented on #210
I don't think a full audit is needed but we should confirm where these items have ended up. I can move them to `unknown-location` in the meantime if you think that would be useful.

[2019-09-09 21:03] PeterJCLaw opened #393 "SR2020 Kickstart: London venue"
Per https://github.com/srobo/tasks/issues/313, we want a London venue for Kickstart.

[2019-09-09 21:05] PeterJCLaw opened #394 "SR2020 Kickstart: Southampton venue"
Per https://github.com/srobo/tasks/issues/313, we want a Southampton venue for Kickstart.

We've typically used B32's large lecture theatre for the presentation and, I think, the B25 computing labs for the micro games. There was a suggestion to investigate using the Zepler level 2 labs for the micro games this year though.

[2019-09-09 21:07] PeterJCLaw opened #395 "SR2020 Kickstart: Cambridge venue"
Per #313, we'd like a Cambridge venue for Kickstart.

Suggestion was to explore either somewhere at the Uni (via @JennyLynnFletcher), or possibly @didottyd had some alternative spaces.

[2019-09-09 21:11] PeterJCLaw opened #396 "SR2020 Kickstart: northern venue?"
We've been contacted by a teacher asking about a venue far in the north (and with some suggestions, which I'm deliberately not posting here for now). This could be great if there are enough teams for it to be useful and we have enough volunteers able to travel for it to be viable.

We also need to confirm that there would be a venue which meets our requirements (see #313).
This likely involves tal

[2019-09-09 21:13] PeterJCLaw commented on #395
@RealOrangeOne were you in contact with @didottyd about this? If so, do you want to own this and/or would it make sense to hand over to @JennyLynnFletcher if she's up for that and it helps to have someone geographically closer?

[2019-09-09 21:13] PeterJCLaw commented on #394
@HopeShaw would you be able to own investigating and booking this?

[2019-09-09 21:17] didottyd commented on #395
If there is a date, I can find out about booking rooms at Pi HQ. Happy to
liaise with Jenny! Di

On Mon, 9 Sep 2019, 22:13 Peter Law, <notifications@github.com> wrote:

[2019-09-09 21:22] PeterJCLaw commented on #313
The main blocker here, I think, is deciding a date. For that we need to know when the venues are available. Our ideal dates are Saturday 19th October and the following 26th October.

[2019-09-09 21:24] PeterJCLaw commented on #395
@didottyd great, thanks. We've been working on one of either Saturday the 19th or 26th October, depending on which is available across all the venues we're interested in. It would be great to know if Pi HQ is available on those dates.

[2019-09-10 20:03] RealOrangeOne commented on #313
The current aim is to go for 26th, assuming nothing catastrophic happens.

[2019-09-10 20:20] PeterJCLaw commented on #313
Oh, I'd thought we'd been preferring the earlier date to give the teams more time?

[2019-09-11 07:33] RealOrangeOne commented on #313
We were, but this gives the kit team more time to test the kits and assert they're in a good and working state ready for kickstart. It also allows us to deal with logistics

[2019-09-13 17:39] PeterJCLaw commented on #393
The desired venue (Thread's HQ) is available on the dates we've been looking at. I think this is as done as it can be until we've got a date decided.

[2019-09-13 17:40] PeterJCLaw commented on #395
Apparently Pi HQ isn't available on the 26th and per https://github.com/srobo/tasks/issues/313#issuecomment-530259811 we're now only really looking at that date at this point.

[2019-09-13 21:02] RealOrangeOne commented on #311
This has now happened, it was covered by https://github.com/srobo/competition-team-minutes/issues/117.

[2019-09-13 21:02] #311 closed

[2019-09-13 21:31] RealOrangeOne opened #397 "Create SR2020 kickstart presentation"
Kickstart events require a presentation to go through what student robotics
is, what the competition cycle looks like, and details of the game.

The presentation needs to be given at each venue, so will be presented by
multiple people.

The presentation usually covers:

1. What student robotics is
2. Who the volunteers are
3. Schedule for the year
    - How long the competition is
    - Tech days

[2019-09-13 21:37] RealOrangeOne opened #398 "Decide who will present the SR2020 kickstart presentations"
The presentation needs to be given at each venue, so will be presented by multiple people. It's recommended the person who wrote the slides be one of the people to present.

## Venues

- [x] Southampton: @RealOrangeOne
- [x] London: @PeterJCLaw
- [x] Cambridge: @Adimote

## Dependencies

- #397: Create kickstart presentation

[2019-09-13 21:47] RealOrangeOne commented on #397
I've started work on the presentation at a very high level, and will slowly be refining and adding detail. Comments welcome!

https://docs.google.com/presentation/d/15tmzBDA4j6sz8HpMMT2gyH8JeLh8QxvaTm2LypHmrXk/edit?usp=sharing

(Requires an SR Google account)

[2019-09-13 22:38] RealOrangeOne opened #399 "Livestream kickstart?"
Every year, we have many teams which can't attend a kickstart, but may benefit from a more documented, formal introduction to Student Robotics and the year's game.

A way of achieving this would be to live stream the Southampton kickstart (#394) presentation (#397) so teams who can't attend can watch live, or after the fact.

## Requirements
- A camera (a standard webcam would be fine)
- A feed of

[2019-09-14 10:27] PeterJCLaw commented on #398
Assuming I'm at the London one (rather than ending up elsewhere #396), I'm happy tot give the presentation there.

[2019-09-14 11:13] PeterJCLaw commented on #210
I'm assuming that they all went to wherever the new cupboard is? I'm not sure it's useful to move them elsewhere, though it might make sense to rename the directory if it has a new name?

Either way, I'm going to close this as I think the original intent has been completed.

[2019-09-14 11:13] #210 closed

[2019-09-14 11:25] joe9599 commented on #210
nothing has been moved to the new cupboard, so if it was in the old cupboard, it will still be there, we will hopefully be moving cupboard in the next month or so

[2019-09-14 13:03] PeterJCLaw opened #400 "Get tee-shirts for SR2020"
We'll need tee-shirts for volunteers for SR2020. We may have enough in stock, though that needs checking. Additionally or alternatively we may want to get some more.

[2019-09-14 13:04] PeterJCLaw commented on #353
@TomWheal since you're the Kit Team representative owning this, would you like to take this task? Feel free to adapt it and it's dependants as needed if you do.

[2019-09-14 13:27] RealOrangeOne commented on #210
Most of the SR kit is actually in the minibots cupboard, and the inventory updated to reflect that, so I think we're all good.

@joe9599 would be good to know once things have moved over to the new cupboard so the inventory can reflect reality! (Alternatively, having someone update the inventory as things are moved would be great!)

[2019-09-14 16:14] RealOrangeOne commented on #365
I've assigned myself this issue to communicate the required changes to the Kit Team, and liaise with exactly how the distribution of the changeset will work. It's highly unlikely i'll be the one actually making the changes.

[2019-09-14 16:17] trickeydan commented on #19
[Source](https://github.com/srobo/kit-team-minutes/blob/master/2019/meeting-2019-09-03.md)

[2019-09-14 16:24] RealOrangeOne commented on #354
The game has now been decided :tada:

The next step is to finalize the rules: https://github.com/srobo/tasks/issues/355

[2019-09-14 16:24] #354 closed

[2019-09-14 16:35] RealOrangeOne commented on #355
Rules are currently being drafted, and should be finalized by next weekend.

[2019-09-14 16:42] RealOrangeOne commented on #19
For the sake of compatibility, I really think we shouldn't ship this part way through the year.

Opt-in _might_ work, although we'd need to make sure it's a plain python upgrade rather than providing any other benefits.

[2019-09-14 16:56] trickeydan commented on #19
The plan was opt in to an otherwise identical (from a student perspective) stack. Alternatively we could wait until next year. The exact software that we use has yet to be determined, and the kit team will likely run an investigation into possible stacks after we've properly formed.

[2019-09-14 20:21] Adimote commented on #275
Better late than never, done!

[2019-09-14 20:21] #275 closed

[2019-09-14 21:05] Adimote opened #401 "Write onboarding emails for volunteers"
Whenever someone signs up to the volunteer mailing list, we should automatically send them some onboarding emails to smooth their joining into the community.

The emails should contain:
- Link to slack,
- Link to the `srobo` google groups list?
- Link to runbook
- Link to tasks list?
- Link to ops manual
- {Add more here}

[2019-09-15 07:54] trickeydan commented on #401
Not sure if it will be ready in time, but we should add info on team specific stuff here as well.

[2019-09-20 19:56] sedders123 commented on #314
Blocked on srobo/competition-team-minutes#144

[2019-09-23 19:06] PeterJCLaw commented on #283
Broad summary of the current state:
* three kits were never returned (see also #297)
* @RealOrangeOne has 2-3 kits which haven't yet been collated
* I believe the inventory is correct about the state of items which have been collated (in terms of condition/physical_condition)
* the inventory may also record the cleaned/inspected/etc. state through subfolders; if it doesn't have subfolders any more

[2019-09-24 08:42] TomWheal commented on #283
Only just come across this task, feel free to assign this to me.

[2019-09-24 20:37] RealOrangeOne commented on #306
This is the process we have been, and will continue to follow for SR2020. We'll review at the end of the competition cycle how Google Groups has worked for us.

[2019-09-24 20:37] #306 closed

[2019-09-24 22:01] #308 closed

[2019-09-24 22:08] PeterJCLaw commented on #283
Thanks!

(meta: you should be able to self-assign -- was there anything which prevented you from doing so? Asking as we have had some challenges getting the permissions right here)

[2019-09-24 22:12] RealOrangeOne commented on #283
There's actually 4 kits with me (inventory is up-to-date). As i'm intending to be at the next collation event, I'm more than happy to bring them along also!

(meta: RE perms, I've check and permissions are all setup correctly as i'd expect)

[2019-09-25 08:24] TomWheal commented on #283
I don't always have access to a computer and came across it on my phone. The 3rd party app I'm using doesn't seem to support that.

[2019-09-25 08:30] TomWheal commented on #400
I have the files and information used to buy the ones for the competition last year, I'd be happy to forward the email chain on to whoever is doing this so the exact same can be ordered if we want matching

[2019-09-25 08:53] TomWheal commented on #353
I'm going to post updates on the organisation of this in this thread:

- Dates and Times: Friday 4th October 5pm till Sunday 6th 5pm.

- Two venues have been organised, The Annex 2 Large lecture theatres, and 2 large rooms in Mountbatten(Seminar Room and Postgrad Common Room). Both have areas that can be locked overnight for kit storage.  (Actual Venue will depend on the number of volunteers)

- E

[2019-09-25 08:53] TomWheal commented on #315
This is somewhat redundant as it will be done as apart of #353

[2019-09-25 08:53] TomWheal commented on #317
This is somewhat redundant as it will be done as apart of #353

[2019-09-25 08:57] TomWheal commented on #303
This is being merged into a kit prep weekend. #353 is keeping track of the organisation of this

[2019-09-25 09:11] TomWheal commented on #353
Note:
#325 Allocate SR2020 kits to teams
#334 Ship SR2020 kits to Kickstarts
#343 Ship SR2020 kits to Teams not attending Kickstarts
#352 Ship SR2020 kits to overseas Teams

Can someone in the competition team pick this up, it is outside the scope of the kit team in my opinion

[2019-09-25 09:33] TomWheal commented on #297
@RealOrangeOne How many kits are we currently missing? Just be good to know as these could be used for spares if they are going to arrive after kickstart/ at kickstart

[2019-09-25 13:28] #307 closed

[2019-09-26 07:25] RealOrangeOne commented on #297
Chasing these kits hasn't progressed for the last few months, so if we want them to arrive, we'd need to chase them up.

The inventory (https://github.com/srobo/inventory/tree/master/teams/2019) seems to suggest there are 3 kits _in the wild_, although there's apparently 1 kit (RTS) which has been sent, but I don't know if it's been received by UKPostBox.

I suspect the actual number of kits still

[2019-09-26 07:29] RealOrangeOne commented on #353
@TomWheal for context, what is "this"? Is it the linked issues in that comment? If so I think you're right that they fall under the Competition Team to deal with.

[2019-09-26 20:05] PeterJCLaw commented on #303
Should we close this task then?

[2019-09-26 21:01] TomWheal commented on #353
Yeh sorry poor wording on my part, yeh the ones linked in the comment.

[2019-09-27 16:57] RealOrangeOne commented on #312
I've already mostly started on this.

I've allocated TLAs for the first batch of teams, just need to do it for the second batch.

[2019-09-27 16:58] RealOrangeOne commented on #314
This is in progress. We've so far confirmed 34 teams. The final confirmation of teams will happen on the 1st October.

[2019-09-27 17:20] sedders123 commented on #388
I have started work on this years microgames, they can be found in the Kickstart folder on [Google Drive](https://docs.google.com/document/d/1Dm4AEqdvozhJcu9kRDULOOE-ZE2Y_JnepB2LfWgz19Q/edit?usp=sharing). So far have just copied last years but will go through and refine as necessary.

I intend to either replace or make simpler the ultrasound task as many people have said teams found this very comp

[2019-09-27 17:42] RealOrangeOne commented on #396
This isn't happening this year.

[2019-09-27 17:42] #396 closed

[2019-09-27 17:49] RealOrangeOne opened #402 "Nominate a Head Judge"
We need a canonical person for rules queries, such that they have the final say on any rules queries.

This needs nominating before kickstart.

[2019-09-27 18:03] PeterJCLaw commented on #393
This is now booked (as of a couple of weeks ago, I just forgot to update).

[2019-09-27 18:31] RealOrangeOne commented on #390
@PeterJCLaw do you know where the source for this document is? Can't find it on cgit or GitHub.

Alternatively, @Adimote, as I think you made the changes last year?

[2019-09-27 18:32] RealOrangeOne commented on #376
Blocked on having a final rules document.

I'm happy to own doing this at kickstart.

[2019-09-27 19:41] PeterJCLaw commented on #390
According to the runbook (https://srobo.github.io/runbook/kit/#kit-disclaimer) it's in a repo on bitbucket. Unfortunately when logging into bitbucket, I can't see that repo. I suspect it's around somewhere though. I'll have a look at home.

Alternatively @richardbarlow or @jimmythompson may know where it is.

[2019-09-27 21:48] trickeydan commented on #402
Is this open to any volunteer to nominate? If so, what would the mechanism for nomination be?

[2019-09-28 09:34] mltnhm commented on #402
Oops, GitHub is terrible on mobile

[2019-09-28 09:56] richardbarlow commented on #390
I've emailed the source document from the BitBucket repo to competition-team@ (can't attach it to this comment).

[2019-09-28 11:21] RealOrangeOne commented on #389
Thanks to https://github.com/srobo/tasks/issues/390#issuecomment-536171662, we now have access to the form source to make the changes.

I've made the changes required to the doc, and uploaded them as a PDF to https://drive.google.com/a/studentrobotics.org/file/d/1lPfv1ZyQ_BSrzYnhYxy0sCbzvkVq8zJP/view?usp=sharing.

In future, it might be nice to convert the document to something more versionable, i

[2019-09-28 11:22] #389 closed

[2019-09-28 11:23] RealOrangeOne commented on #376
Because of https://github.com/srobo/tasks/issues/389#issuecomment-536178794, it's important the rulebook is uploaded to the standard location.

[2019-09-29 17:11] prophile commented on #402
I’m open to doing this if people are happy for me to do so.

[2019-09-29 18:16] RealOrangeOne commented on #402
I'm certainly happy with that. Although I'd be interested in shadowing in an attempt to remove any bus factoring if that's cool?

[2019-09-30 11:47] prophile commented on #402
Sounds eminently sensible.

[2019-09-30 17:56] #402 closed

[2019-10-04 17:44] PeterJCLaw commented on #393
Closing as this is all booked.

[2019-10-04 17:44] #393 closed

[2019-10-04 17:44] PeterJCLaw commented on #395
Closing as this is all booked.

[2019-10-04 17:46] PeterJCLaw commented on #312
@RealOrangeOne do you have a list somewhere which maps TLAs to the name & email address of the team-leader who signed up? (private of course) I'll need this for their user accounts #362.

[2019-10-04 17:48] PeterJCLaw commented on #395
Reopening as there are still website updates which need to be made.

[2019-10-04 17:53] sedders123 commented on #312
The [SR2020 Teams](https://docs.google.com/spreadsheets/d/1MWCcyZe99DZwCk6X0YKOsUaTnPBJNvM_TNK7z3T5CaY/) sheet in the Competition Team 2020 shared drive has a column for TLAs. Is that what you need?

[2019-10-04 17:56] PeterJCLaw commented on #314
@RealOrangeOne do we have a list somewhere for which teams are going to which Kickstarts?

[2019-10-04 21:19] Adimote commented on #390
I'm told  Jake has updated the disclaimer form, @RealOrangeOne where did you put it?

[2019-10-04 23:43] Adimote commented on #398
I'll do the Cambridge kickstart :)

[2019-10-04 23:43] #398 closed

[2019-10-05 17:19] PeterJCLaw commented on #286
I've sent out some emails here, but haven't put as much into this as I'd hoped. I've not had any responses so far.

The one conversation I did have (in person) with organisers of a similar event indicated that they expected this sort of permissions thing to head in the direction of needing to be more explicit as a result of GDPR.

[2019-10-05 17:21] PeterJCLaw commented on #312
Aha, that seems likely to cover this. Thanks @sedders123.

[2019-10-05 17:53] sedders123 commented on #394
@RealOrangeOne has confirmed on slack that a lecture theatre in Building 7, and the computing labs in building 25 have been booked

[2019-10-06 15:23] PeterJCLaw commented on #363
Status here:
- Fedora 29 works with a simple version update to the `Vagrantfile` (https://github.com/srobo/server-puppet/commit/b68e191846d110bd5e9cd94ce602428d43ff20df), however this obviously isn't ideal as it hits end-of-life in November 2019
- Fedora 30 has two main issues:
  - lots of the Python 2 packages we want are missing (which is reasonable due to the impending end-of-life of Python 2;

[2019-10-06 16:58] trickeydan opened #403 "Decommission 'Saffron'"
This out of date server (Fedora 22) poses a risk to data protection.

We should take measures to move any services off this server, and deprecate any as necessary, moving towards eventual removal.

An attempt to enumerate services:

- [ ] SVN
  - Is this used? Who by?
  - Some repos were migrated to git in 2008, so this has been deprecated for over a decade.
- [ ] CGit
  - We now use GitHub
  - Th

[2019-10-06 17:46] RealOrangeOne commented on #390
(For reference, said location is https://drive.google.com/a/studentrobotics.org/file/d/1lPfv1ZyQ_BSrzYnhYxy0sCbzvkVq8zJP/view?usp=sharing)

[2019-10-06 17:48] richardbarlow commented on #363
It might be worth looking at Fedora Modularity. It's for exactly this
situation (wanting a specific version of a language or framework that is
older than the one shipped by default in Fedora). I imagine you can install
the necessary version of PHP.

On Sun, 6 Oct 2019, 16:24 Peter Law, <notifications@github.com> wrote:

[2019-10-06 17:49] RealOrangeOne commented on #314
The [SR2020 Teams](https://docs.google.com/spreadsheets/d/1MWCcyZe99DZwCk6X0YKOsUaTnPBJNvM_TNK7z3T5CaY/) sheet in the Competition Team 2020 shared drive has a column for which teams we're expecting where. I'm keeping this column up to date.

[2019-10-06 18:31] PeterJCLaw commented on #363
Nice! I was unaware of this.

Unfortunately it doesn't seem to be the case that PHP has any modules available. When running `dnf module list | grep -i php` in a Fedora 30 VM, I'm not getting any results. If there's something I'm missing about how to use modules, please do say as they definitely do sound like the ideal solution here.

[2019-10-06 18:36] richardbarlow commented on #363
You possibly have to enable the modular repos first. I don't think they're
enable by default yet (Fedora generally introduces new features in an
off-by-default state for a few releases before defaulting them to on). I
think there are some guides/a manual that will probably say how to enable
it.

On Sun, 6 Oct 2019, 19:31 Peter Law, <notifications@github.com> wrote:

[2019-10-06 18:47] PeterJCLaw commented on #363
Hrm. I was following the guide at https://docs.fedoraproject.org/en-US/modularity/installing-modules/ (from which I got `dnf module list`) and I do get other things listed when running `dnf module list` (in two sections: "Fedora Modular 30 - x86_64" and "Fedora Modular 30 - x86_64 - Updates").

I know that with `apt`, there are extra repos which can be enabled (`universe` and `multiverse` etc.) wh

[2019-10-07 19:35] TomWheal commented on #315
This has been done,

[2019-10-07 19:35] #315 closed

[2019-10-07 19:36] TomWheal commented on #317
Only things that absolutely need fixing are odroid power cables.
This will be done this week

[2019-10-07 19:37] TomWheal commented on #303
Done

[2019-10-07 19:37] #303 closed

[2019-10-07 19:38] TomWheal commented on #283
All the kit has been collated, except missing stuff

[2019-10-07 19:38] #283 closed

[2019-10-10 21:27] TomWheal commented on #317
Odroid power cables have been fixed, kit is completely ready to be packed

[2019-10-10 21:27] #317 closed

[2019-10-10 21:29] TomWheal commented on #300
Im happy to own this

[2019-10-10 21:30] TomWheal commented on #279
Done

[2019-10-10 21:30] #279 closed

[2019-10-11 11:01] trickeydan commented on #300
Do we have the budget for this currently?

We've been able to reliably borrow bench PSUs in the past.

[2019-10-11 15:13] kierdavis commented on #300
this is not something I expect needs to be dealt with until the run up to
next year's kit collation. Let's see what happens in the budget department
in the meantime

On Fri, 11 Oct 2019, 12:01 Dan Trickey, <notifications@github.com> wrote:

[2019-10-11 18:10] PeterJCLaw commented on #395
The website has been updated.

[2019-10-11 18:11] #395 closed

[2019-10-11 18:11] #394 closed

[2019-10-11 18:11] PeterJCLaw commented on #313
These are all booked.

[2019-10-11 18:11] #313 closed

[2019-10-11 18:14] PeterJCLaw commented on #386
@rgilton did I hear somewhere that you're doing all the kit software tasks? If so, would you be able to self-assign this?

[2019-10-11 18:27] PeterJCLaw commented on #373
@rgilton did I hear somewhere that you're doing all the kit software tasks? If so, would you be able to self-assign this (and the other kit software tasks)?

[2019-10-11 18:27] PeterJCLaw commented on #366
@rgilton did I hear somewhere that you're doing all the kit software tasks? If so, would you be able to self-assign this (and the other kit software tasks)?

[2019-10-11 18:38] TomWheal commented on #390
Ill be printing one for every kit. Do they need one outside the kit to sign as well?

[2019-10-11 20:12] Adimote commented on #390
@TomWheal Yes. In the meeting we just had, we mentioned maybe modifying them to put the box part code on the form, so we can record the part code given to the team and their consent on the same form.

[2019-10-12 17:00] PeterJCLaw commented on #300
This is unfortunately not the case. During the preparations and tidyup related to SR2019, ensuring that a bench PSU would be available was repeatedly a blocker to having kit sorting events.
It may have appeared otherwise as a result of all the events having a PSU, however that is a result of selection bias rather than truly representative (the events happened because we knew we'd be able to get a

[2019-10-12 17:45] PeterJCLaw commented on #363
Update here: as of https://github.com/srobo/server-puppet/commit/da9524a8c4e85c053a75c7c2f5694f9755d057c3 all the Python stuff seems to work under Fedora 30

[2019-10-12 17:45] kierdavis opened #404 "Audit FX3X RUB"
We think a lot of kit was moved into this to free up spare RUBs for kit packing, but don't know exactly one. We should double-check what's in this box.

[2019-10-12 20:15] TomWheal commented on #353
40 Kits have been packed. The 19 that will go to the container tomorrow have sensitive components in jiffy bags, they have not been stuffed with bubble wrap for shipping tho. The other 21 are in my garage, which i will deliver to the soton kickstart. The 3 kit team volunteers going to one of the 3 kickstarts also have a spare kit box, which they'll bring with them.

[2019-10-13 17:37] RealOrangeOne commented on #334
The kits required for the Southampton kickstart are currently in @TomWheal 's garage, ready to be moved straight to the Southampton venue.

The remaining kits have been sent to the container. Getting these to the Cambridge and London kickstarts are the next challenge. I'll try and work out some method of doing this.

I'm open to suggestions, no matter how crazy!

[2019-10-13 17:40] RealOrangeOne commented on #365
@rgilton did I hear somewhere that you're doing all the kit software tasks? If so, would you be able to self-assign this (and the other kit software tasks)?

[2019-10-13 18:03] RealOrangeOne commented on #390
@Adimote if we're doing that, could we add an issue for it, rather than trying to remember it's happened here.

I'm also not sure there's a need to do it anyway. The disclaimer form is specifically a form which states they understand about taking ownership of a kit, it's not a signout form for a kit. IIRC at previous SR competitions (namely SR2014), this was done using a separate form. If we want

[2019-10-13 18:04] RealOrangeOne commented on #325
@TomWheal (as the person handling organising team kits). What are your thoughts on pre-allocating kits?

I know we did for SR2019, as we had printed labels on the RUBs denoting the TLA. Have we / will we do that this year, or is simply recording which team took which RUB (a la https://github.com/srobo/tasks/issues/390#issuecomment-541441781) enough?

[2019-10-13 18:06] Tyler-Ward opened #405 "Get the non-kit items from the container"
We need to get the non-kit items required for kickstart from the container.

(It's possible these items aren't in the container)

## Items
- [ ] Tablecloths
- [ ] Servos (For microgames)
- [ ] Ultrasound Sensors (For microgames)
- [ ] T-shirts (To be given to London and Cambridge kickstarts)

## Tasks
- [ ] Check the size of the arena pieces (take a tape measure)

[2019-10-13 18:09] RealOrangeOne commented on #388
@sedders123 do the microgames we have require any specialized equiptment to do? If so we're going to need to ensure those are taken to kickstarts (https://github.com/srobo/tasks/issues/405). Although for logistical reasons, we should really try and minimize that as much as possible!

[2019-10-13 18:12] RealOrangeOne commented on #312
This is as done as it needs to be before kickstart. All teams currently entered have been allocated a TLA.

We're technically still waiting for 1 team to respond back RE a place in SR2020, but that can be easily handled separately.

[2019-10-13 18:12] #312 closed

[2019-10-13 18:54] trickeydan commented on #325
The kits currently do not have labels for teams. I don't believe the kit service includes that. We just give you packed kits and then you give them back to us at the end of the year. Coordination of kits to teams and back isn't in our remit.

Regardless, it is likely to be a pain now to label kits. SR currently doesn't own a label printer to my understanding and the SRO one is obviously in Southam

[2019-10-13 21:04] PeterJCLaw commented on #363
Update on the forums:

I'm really struggling to get PHPBB working in a Docker. Fundamentally it comes down to a Docker container having no simple mechanism to access ports on the host machine. We need to do that because PHPBB needs access to at least LDAP and MySQL which are running on the host.

So far the options I've found are:
- have the container pretend to be a fully separate machine, meanin

[2019-10-13 21:19] PeterJCLaw commented on #325
While this issue is not the place for this discussion, and this is what seems to have been agreed for Kickstart, this does not match my understanding of the Kit Service. (I'd be happy to elaborate (perhaps on https://github.com/srobo/ops-manual/issues/5), but not on this issue).

[2019-10-13 22:06] trickeydan commented on #363
Have you tried running the mysql in a container? That would be the usual way to connect it to the phpbb container. You can then expose that server on the host to Enel

[2019-10-13 22:52] PeterJCLaw commented on #363
Thanks for the suggestion. I did consider that approach, however if we were to follow down that route we'd need to end up essentially rebuildng our entirely config in containers -- the forums need at least LDAP too and we have the same issue there. I've previously explored replicating our LDAP setup in containers in order to get CI around [`nemesis`](https://github.com/PeterJCLaw/nemesis/) and spe

[2019-10-14 11:46] TomWheal commented on #325
Allocating at the kickstart makes more sense for me, that also allows for some flexibility with kits. Having labels to put on rubs when the team takes it seems to make sense .

[2019-10-14 19:52] PeterJCLaw commented on #363
Ok, I think I have a solution to the Docker networking shenanigans:
- configure the firewall to allow connections from `docker0` to reach the host
- configure a port forward so that those connections appear to come from localhost

I've tested this using https://github.com/vinodpandey/python-port-forward and it works for the trivial case of poking a connection manually. That may not be how the port

[2019-10-15 20:17] Adimote commented on #400
I've put in for a quote at Carolines, general impression was we have 'some' tshirts in storage, and I don't think we'll be re-designing them for the competition so I think it's safe to over-order slightly for kickstart

[2019-10-15 23:04] PeterJCLaw commented on #405
@RealOrangeOne are you going to be visiting the container any time soon? If so, would it make sense for you to pick these up then?

[2019-10-15 23:07] PeterJCLaw commented on #370
@rgilton are you expecting to do this as part of the kit updates? If not, do you know when you'll be able to confirm the names of the various API constants?

Knowing _whether_ or not this will be ready in time is a blocker to being able to ship the microgames (#388) as they contain instructions on using the simulator.

[2019-10-16 07:46] RealOrangeOne commented on #405
This is blocked on a plan on how we're getting the remaining kit to the kickstart venues (#334). Once that's worked out, we can work out if and how we're going to do this.

[2019-10-16 09:21] trickeydan commented on #370
Unless Rob knows for certain already, I've added this to our agenda for tonight.

[2019-10-16 22:29] PeterJCLaw commented on #363
Update: `patience` is now running, though I've not sent out the team leader or mentor accounts. That will probably need to wait until tomorrow now.

[2019-10-16 22:47] PeterJCLaw commented on #359
`patience` has been rebuilt; as a result it has no IDE repos in it. It also has fresh wifi keys.

[2019-10-16 22:47] #359 closed

[2019-10-17 18:31] RealOrangeOne commented on #399
We've announced to teams we may have a livestream, so upgrading the status a little.

[2019-10-17 18:49] antoinepetty commented on #399
The planning for this is in progress. I don't have any particularly brilliant webcams capable of streaming, so if anyone has one in the Southampton area please let me know and I'll come and borrow it from you. :)

[2019-10-17 18:54] Adimote commented on #400
Turns out Caroline's interpreted my quote as an order, we now have tshirts waiting for collection which Tom wheal will pick up for us.

The quantities are:
S - 4
M - 10
L - 7
XL - 1

This is in addition to the unknown amount in the cupboard.

[2019-10-17 19:24] RealOrangeOne commented on #325
To assist with this, I've created an (albeit simple) form to be use when signing out kit.

https://docs.google.com/document/d/1-QAF5K_kxEVW64DOY5nd9x6bp_zDYtpL0D-zkr4CGIk/edit?usp=sharing

[2019-10-17 19:33] RealOrangeOne opened #406 "Print things for kickstart"
There are multiple items which need printing for kickstart.

This task tracks the items which need printing at each kickstart.

These will probably want printing for each kickstart, rather than all in 1 place.

## To Print
`n` being the number of teams attending the given kickstart venue

- `n * 0.75`x [Disclaimer forms](https://drive.google.com/a/studentrobotics.org/file/d/1aCHnZ6o8DkLzHef1C2lz_i

[2019-10-17 21:01] RealOrangeOne commented on #399
I have an HD webcam which you're more than welcome to use, although it does have a manual focus ring, which may not be ideal.

The webcams in the kit are 720p, which might also be enough for this.

I also have access to a [Blue Yeti](https://www.bluedesigns.com/products/yeti/) if we need something slightly better than webcam mics?

[2019-10-17 21:18] antoinepetty commented on #399
Both of those things would be very helpful. Will you be at the Southampton kickstart?

I have a 720p webcam (the same as the Logitech ones in the kit)
The Blue Yeti mic may not be as good from a distance compared to close range, but still probably better than the webcam ones. Thanks

[2019-10-17 22:21] RealOrangeOne commented on #399
Sure, i'll be sure to bring them down! We can always test it before actually streaming!

I'm the one giving the presentation :stuck_out_tongue_winking_eye: :joy:

[2019-10-18 10:18] rgilton commented on #386
If you did, then you shouldn't have!  I have just taken on doing the ODROID software overlay (which includes sr-robot).  The KT will be doing the dummy-api on Weds evening next week (unless the rules have not been finalised by that point, in which case there is no point).

[2019-10-18 10:18] rgilton commented on #373
The KT will be doing this on Wednesday next week, assuming the game rules have been finalised.

[2019-10-18 10:20] rgilton commented on #365
I'm just doing the ODROID overlay update (including sr-robot).  It is currently waiting on news that the rules have been finalised.

[2019-10-18 10:29] rgilton commented on #370
The conclusion we came to is that we are not going to get the simulator updated by kickstart.  It'll just be in its current state at kickstart, so if something at kickstart relies on it, then it should just rely on its current state.

[2019-10-18 17:43] RealOrangeOne commented on #362
This has been done :tada: Credentials have been sent out.

[2019-10-18 17:43] #362 closed

[2019-10-18 18:10] PeterJCLaw commented on #343
@antoinepetty is looking into what courier services we can use for this. Likely collection would be from either @PeterJCLaw or @RealOrangeOne.

[2019-10-18 18:10] PeterJCLaw commented on #352
@antoinepetty is looking into what courier services we can use for this. Likely collection would be from either @PeterJCLaw or @RealOrangeOne.

[2019-10-18 18:17] Adimote commented on #406
We've confirmed that we can print near the 3 venues, so we juts need to make sure they're printed before the day.

[2019-10-18 18:24] PeterJCLaw commented on #370
@Adimote has offered to do this

[2019-10-18 19:48] RealOrangeOne commented on #325
Using a google form is likely easier. It removes issues around losing the form, and means we can store whether a team has already signed a disclaimer form, which speeds up the handout process.

[2019-10-18 20:06] antoinepetty commented on #343
UPS is looking the most likely
UK: £24.35
Germany: £35.75
India: £67.79

Is this the sort of pricing we had in mind?

[2019-10-19 10:57] antoinepetty commented on #352
As mentioned in https://github.com/srobo/tasks/issues/343 UPS is looking like a reasonable option, costing £35.75 (unsure if this is VAT inclusive)

[2019-10-19 11:38] PeterJCLaw commented on #343
Should add: I think we also have a team in Guernsey.

[2019-10-19 12:09] RealOrangeOne commented on #343
This is correct.

[2019-10-20 10:57] antoinepetty commented on #343
Sending to Guernsey with UPS would be £40.79 it seems

[2019-10-20 11:05] antoinepetty commented on #343
So with UPS I believe they have you print a label, but you need to pay upfront rather than via invoice.

[2019-10-20 19:41] Adimote commented on #370
I've made updates to the simulator in a private repo (https://github.com/srobo/sr-turtle-private), I won't be able to ship a new one until we have confirmation of what the robot API will be.

[2019-10-20 20:02] RealOrangeOne commented on #343
@antoinepetty what kind of preparation needs to be done to a RUB to make them shippable? I assume we need to pack out the insides, and print off a label. Anything else?

[2019-10-21 12:44] TomWheal commented on #353
I think so 👏

[2019-10-21 12:44] #353 closed

[2019-10-21 18:58] antoinepetty commented on #343
I can't find much info about this. The above prices are including the "additional handling" fee for anything not in a cardboard box. I'm thinking we should stretch wrap them as we have done in the past to ensure they don't get opened accidentally in transit.

[2019-10-21 19:14] RealOrangeOne commented on #343
This is now blocked on https://github.com/srobo/team-emails/pull/31, as we need to prompt to get their confirmed address before dispatching kits!

[2019-10-21 19:37] PeterJCLaw opened #407 "Create post-kickstart news article for SR2020"
At Kickstart we'll be publishing the rules and getting the teams to do various kit things.
We should publicise this on {the website,social media,etc.} as soon after the event as we can, which will also keep up our online presence.

Things we should mention:
- that we had three locations, the number of teams who attended, etc.
- anything particularly interesting from the days (optional; if such thi

[2019-10-21 19:38] PeterJCLaw commented on #407
(Antione agreed to look into this during our previous Competition Team meeting)

[2019-10-21 19:40] PeterJCLaw commented on #353
Meta: in general I've been expecting that parent issues such as this would remain open until all their children are complete.

[2019-10-21 21:30] PeterJCLaw commented on #360
I've done the initial import of these, any more accounts can be created as needed.

[2019-10-21 21:30] #360 closed

[2019-10-22 19:15] antoinepetty commented on #399
Steam testing successful, I greenlight advertising this.

[2019-10-23 21:22] TomWheal commented on #373
This is happening in https://github.com/srobo/docs/pull/111 and https://github.com/srobo/docs/pull/110

[2019-10-23 21:23] TomWheal commented on #406
I plan to do this on the day, as ill have alot to carry, there is a printer in 25 and various buildings nearby as backup

[2019-10-23 21:41] kierdavis commented on #386
I've done this here, please review: https://github.com/srobo/pyenv-dummy/pull/1

[2019-10-23 21:41] kierdavis commented on #386
We also need to make sure the IDE is using the new version (I don't know how the deployment works here)

[2019-10-23 21:49] kierdavis commented on #390
Kit disclaimer forms were printed and put inside each team kit box during kit packing. I don't think any changes were made to the form since previous years.

Can this be closed now?

[2019-10-23 21:53] kierdavis commented on #366
I've done this here, please review: https://github.com/srobo/game-markers/pull/7

The docs have been updated (adding the ZIP file and updating the URL to the git repo) here: https://github.com/srobo/docs/pull/111

[2019-10-24 00:58] PeterJCLaw commented on #363
Progress on the forums: after some firewall munging, I have a somewhat working local config I believe I can reproduce. It's a lot more manual than I'd like and it's not complete, but will probably work.

[2019-10-24 07:52] RealOrangeOne commented on #390
The forms in the boxes have the wrong year on, and the rules link renders _weirdly_ (I blame libreoffice and late nights!).

We sent teams the forms out before the event this year to speed up signing and issuing of kits, so far we've had a couple back. We'll still need to print some for each event.

[2019-10-24 10:13] rgilton commented on #365
The ODROID image has now been updated in the [zip-packager](https://github.com/srobo/brain-zip-packager). So I believe that all the things have been done now -- just waiting on the IDE being updated to use the latest zip-packager, which presumably @PeterJCLaw will do?

[2019-10-24 13:08] TomWheal commented on #400
I now have the new order for southampton

[2019-10-24 13:08] #400 closed

[2019-10-24 18:41] Adimote commented on #388
I've finished V1.0 of the microgames. I'd be happy to print them now but it'd be nice to add another task. Reviews welcome!

[2019-10-24 20:19] #355 closed

[2019-10-24 20:41] PeterJCLaw commented on #397
First robot movement was missing from the presentation, I've added it.

[2019-10-24 21:39] PeterJCLaw commented on #397
I've also put some comments in the docs.

[2019-10-24 21:45] PeterJCLaw commented on #397
I think this is now created, should we close this?

[2019-10-24 21:46] PeterJCLaw commented on #370
I think this is done? Can we close this?

[2019-10-24 21:47] PeterJCLaw commented on #314
@RealOrangeOne are we expecting to add any more entrants at this point? I realise there might still be dropouts, but I think that's separate. Can we call this task done?

[2019-10-24 21:48] PeterJCLaw commented on #325
This won't be happening in the form which it is imagined. I don't think it's useful to have this open any more -- kit handout at Kickstart isn't a useful thing to track as it's just part of the programme of the day.

[2019-10-24 21:48] #325 closed

[2019-10-24 21:49] PeterJCLaw commented on #407
@antoinepetty just wondering if you had an update on this?

[2019-10-24 21:50] PeterJCLaw commented on #405
@RealOrangeOne I think this is done now?

[2019-10-24 21:50] PeterJCLaw commented on #334
@RealOrangeOne is this now done? I think you did the handover this evening?

[2019-10-25 05:23] antoinepetty commented on #407
This is half done, see the 2019-post-kickstart branch on website. Aiming to finish tonight.

If you have some time, the thing that needs the most eyes is the game description. Thanks

[2019-10-25 10:42] RealOrangeOne commented on #407
I've deleted said branch. It knew too much! (It had all the game details in).

I'm definitely happy to help review this evening :)

[2019-10-25 11:39] RealOrangeOne commented on #334
I think it's done enough for this. Diane will deliver the kits to Cambridge Saturday morning.

[2019-10-25 11:39] #334 closed

[2019-10-25 11:52] RealOrangeOne commented on #405
I think it is.

Servos, ultrasound, some tokens and LEDs are either at or on their way to the kickstart locations.

[2019-10-25 11:53] #405 closed

[2019-10-25 11:54] RealOrangeOne commented on #314
There are some outstanding leads, but I gave them all a deadline of 26th. On Sunday, i'll close this issue and we'll have a confirmed list.

[2019-10-25 11:54] RealOrangeOne commented on #397
Now that it's both been created and reviewed, I think this is done enough.

[2019-10-25 11:54] #397 closed

[2019-10-25 17:45] Adimote commented on #397
I've added some nice slides to the game at
https://docs.google.com/presentation/d/16SMAAMYt5uv2e9MVczxKy_U3NTmDlaH2ksoBuc0AblQ/edit?usp=sharing

[2019-10-25 17:46] Adimote commented on #397
@PeterJCLaw  and @RealOrangeOne feel free to update your copy.

[2019-10-25 18:09] PeterJCLaw commented on #386
Sure, I can do the IDE part of this. For reference, it's a case of bumping the submodule of the IDE repo.

[2019-10-25 18:10] PeterJCLaw commented on #365
Sure, I can do the IDE part of this. For reference, it's a case of bumping the submodule of the [IDE repo](https://github.com/srobo/srobo-ide).

[2019-10-25 20:07] #386 closed

[2019-10-25 20:07] #365 closed

[2019-10-25 20:54] PeterJCLaw commented on #357
Ok, we're very nearly done here.

There's a bug in the container we're using (https://github.com/bitnami/bitnami-docker-phpbb/issues/54), which breaks the styling. I've got workarounds for that in PR (https://github.com/srobo/website/pull/178, https://github.com/srobo/reverse-proxy/pull/9)

[2019-10-25 20:55] PeterJCLaw commented on #363
Ok, we're very nearly done here.

There's a bug in the container we're using (https://github.com/bitnami/bitnami-docker-phpbb/issues/54), which breaks the styling. I've got workarounds for that in PR (https://github.com/srobo/website/pull/178, https://github.com/srobo/reverse-proxy/pull/9).

I'm calling this done, but I'll keep the forums-specific task open until the styling PRs merge.

[2019-10-25 20:55] #363 closed

[2019-10-25 21:44] PeterJCLaw opened #408 "Update the API (and overlay) for slightly smaller token markers"
The version of the API which we shipped in https://github.com/srobo/tasks/issues/365 has (I think) got the slightly larger token marker size that we were originally planning to use. The API therefore needs updating to use the slightly smaller size in the rules (and docs, etc.).

This has no impact on Kickstart, though we should fix it shortly thereafter.